@custom-media --layout-as-column (width > 800px);

.ColumnSet {
    display: flex;
    flex-direction: column;

    & > * {
        flex: 1 0;
    }

    @media(--layout-as-column) {
        flex-direction: row;
    }
}
