@custom-media --vertical (width < 800px);

.VideoSet {
    display: flex;

    & > * {
        margin: 0.5em;
        flex: 1 0;
    }

    @media (--vertical) {
        flex-direction: column;
    }
}
