<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Avalanche Canada</title>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no"
        />
        <meta name="description" content="Avalanche Canada" />
    </head>
    <body>
        <!--[if lte IE 9]>
            <h1>
                Avalanche Canada website is not supported on your browser.
            </h1>
            <p>
                Check what browser version you're currently using at:
                <a href="https://www.whatismybrowser.com/"
                    >www.whatismybrowser.com</a
                >.
            </p>
            <p>
                You can update your browser at:
                <a
                    href="https://www.whatismybrowser.com/guides/how-to-update-your-browser/auto"
                    >www.whatismybrowser.com</a
                >
            </p>
        <![endif]-->
        <noscript>
            <h1>Avalanche Canada</h1>
            <p>
                For full functionality of this site, it is necessary to enable
                JavaScript. Here are the
                <a href="https://www.enable-javascript.com/">
                    instructions how to enable JavaScript in your web browser</a
                >.
            </p>
        </noscript>
        <div id="app"></div>
        <script>
            if (!window.requestAnimationFrame) {
                document.write(
                    '<script crossorigin src="https://cdn.jsdelivr.net/npm/raf@3.4.1/index.min.js"><\/script>'
                )
            }
            if (!window.URLSearchParams) {
                document.write(
                    '<script crossorigin src="https://cdn.jsdelivr.net/npm/url-search-params-polyfill@5.1.0/index.min.js"><\/script>'
                )
            }
            if (!window.fetch) {
                document.write(
                    '<script crossorigin src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.min.js"><\/script>'
                )
            }
        </script>
        <!-- Google Analytics -->
        <script>
            window.ga =
                window.ga ||
                function() {
                    ;(ga.q = ga.q || []).push(arguments)
                }
            ga.l = +new Date()
            ga('create', '<%= googleAnalyticsId %>', 'auto')
        </script>
        <script
            async
            src="https://www.google-analytics.com/<%= googleAnalyticsFilename %>"
        ></script>
        <!-- End Google Analytics -->
        <!-- Facebook Pixel Code -->
        <script>
            !(function(f, b, e, v, n, t, s) {
                if (f.fbq) return
                n = f.fbq = function() {
                    n.callMethod
                        ? n.callMethod.apply(n, arguments)
                        : n.queue.push(arguments)
                }

                if (!f._fbq) f._fbq = n

                n.push = n
                n.loaded = !0
                n.version = '2.0'
                n.queue = []

                t = b.createElement(e)
                t.async = !0
                t.src = v

                s = b.getElementsByTagName(e)[0]
                s.parentNode.insertBefore(t, s)
            })(
                window,
                document,
                'script',
                'https://connect.facebook.net/en_US/fbevents.js'
            )
            fbq('init', '856748214667248')
            fbq('track', 'PageView')
        </script>
        <noscript>
            <img
                height="1"
                width="1"
                src="https://www.facebook.com/tr?id=856748214667248&ev=PageView&noscript=1"
            />
        </noscript>
        <!-- End Facebook Pixel Code -->
    </body>
</html>
