div(ng-show="drawerVisible && region.forecast", region="region", ac-map-drawer, class="ac-drawer")
    //- .row
        .col-xs-12
            blockquote
                p We're moving from a storm slab problem to a persistent slab problem. Check out this <a href="#">blog post</a> for thoughts on the current situation and strategies for the next the chapter.
                footer Avalanche Canada Forecasters
    .row
        .col-xs-12
            ul.nav.nav-tabs(role='tablist')
              li.active
                a(href='#forecast', role='tab', data-toggle='tab') Forecast
              li
                a(href='#problems', role='tab', data-toggle='tab') Problems
              li
                a(href='#details', role='tab', data-toggle='tab') Details
            .tab-content
                #forecast.tab-pane.active
                    .row
                        .col-xs-12
                            h4.ac-nowcast-day {{ region.forecast.dangerRatings[0].date | date:'EEEE' }}
                            .panel.panel-default.ac-nowcast
                    .row
                        .col-xs-12
                            table.table.table-condensed
                                thead
                                  tr
                                    th
                                    th {{ region.forecast.dangerRatings[1].date | date:'EEEE' }}
                                    th {{ region.forecast.dangerRatings[2].date | date:'EEEE' }}
                                tbody
                                  tr
                                    td.ac-veg-zone--alp Alpine
                                    td(class="ac-danger-rating--{{ region.forecast.dangerRatings[1].dangerRating.alp.split(':')[1].toLowerCase()}}") {{ region.forecast.dangerRatings[1].dangerRating.alp }}
                                    td(class="ac-danger-rating--{{ region.forecast.dangerRatings[2].dangerRating.alp.split(':')[1].toLowerCase()}}") {{ region.forecast.dangerRatings[2].dangerRating.alp }}
                                  tr
                                    td.ac-veg-zone--tln Treeline
                                    td(class="ac-danger-rating--{{ region.forecast.dangerRatings[1].dangerRating.tln.split(':')[1].toLowerCase()}}") {{ region.forecast.dangerRatings[1].dangerRating.tln }}
                                    td(class="ac-danger-rating--{{ region.forecast.dangerRatings[2].dangerRating.tln.split(':')[1].toLowerCase()}}") {{ region.forecast.dangerRatings[2].dangerRating.tln }}
                                  tr
                                    td.ac-veg-zone--btl Bellow Treeline
                                    td(class="ac-danger-rating--{{ region.forecast.dangerRatings[1].dangerRating.btl.split(':')[1].toLowerCase()}}") {{ region.forecast.dangerRatings[1].dangerRating.btl }}
                                    td(class="ac-danger-rating--{{ region.forecast.dangerRatings[2].dangerRating.btl.split(':')[1].toLowerCase()}}") {{ region.forecast.dangerRatings[2].dangerRating.btl }}
                    .row
                        .col-xs-12
                            dl
                                dt Confidence:
                                dd {{ region.forecast.confidence }}
                #problems.tab-pane
                    #problemsAccordion.panel-group
                        .panel.panel-default(ng-repeat="problem in region.forecast.problems")
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#problemsAccordion', href='#problem{{$index}}')
                                      | {{ problem.type }}
                            div(id="problem{{$index}}").panel-collapse.collapse
                                .panel-body
                                    {{ problem.comment }}
                                    h5 Travel and Terrain Advice
                                    p {{ problem.travelAndTerrainAdvice }}

                #details.tab-pane
                    #detailsAccordion.panel-group
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#detailsAccordion', href='#avalancheSummary')
                                      | Avalanche Summary
                            #avalancheSummary.panel-collapse.collapse
                                .panel-body
                                    yo
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#detailsAccordion', href='#snowpackSummary')
                                      | Snowpack Summary
                            #snowpackSummary.panel-collapse.collapse
                                .panel-body
                                    yo2
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#detailsAccordion', href='#weatherForecast')
                                      | Weather Forecast
                            #weatherForecast.panel-collapse.collapse
                                .panel-body
                                    yo2