@import "_custom_cac_variables";

.ac-middle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ac-drawer-tab {
  position: absolute;
  top: 85px;
  right: 0;
  width: 50px;
  height: 60px;
  background-color: rgb(43, 47, 51);
  opacity: 0.6;
  padding-top: 10px;
}

.ac-drawer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: -480px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 0 15px rgba(43, 47, 51, 0.6);
    transition: all 0.3s linear;
    z-index: 1000;
    &.ac-drawer--expanded {
        right: 0;
    }
    .ac-drawer-body {
        height: 100%;
        overflow-y: scroll;
        overflow-x: auto;
    }
    .ac-drawer-close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: rgb(177, 177, 177);
        cursor: pointer;
        z-index: 10;
    }
    .ac-drawer-tools {
        position: absolute;
        top: 10px;
        left: -50px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            height: 50px;
            width: 50px;
            margin-bottom: 10px;
            background-color: rgba(0, 0, 0, 0.8);
            box-shadow: -5px 0 15px rgba(43, 47, 51, 0.6);
            cursor: pointer;
            transition: all 0.2s linear;
            border-bottom: 5px solid transparent;
            small, strong {
              display: block;
              margin: auto;
              color: white;
              text-align: center;
              line-height: 1.2em;
            }
            & small:first-child {
              padding-top: 3px;
            }
            &.on {
              border-bottom: 5px solid rgb(0, 128, 0);
            }
            .ac-snowpack {
              transform: translate(-50%, -50%) rotate(270deg); 
            }
            i.fa-sun-o {
              transform: translate(-30%, -55%);
            }
            i.fa-cloud {
              transform: translate(-50%, -140%);
            }
            .ac-icon-avalanche {
              i.fa-play {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(270deg);
              }
              i.fa-cloud {
                transform: translate(8px, 8px) rotate(60deg);
              }
            }
        }
        .noUi-connect {
          background-color: rgb(0, 86, 183);
        }
    }
    .ac-nowcast-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        color: rgb(177, 177, 177);
        z-index: -1;
    }
    & > .panel-body {
        padding: 5px 15px;
        border-top: 1px solid #eee;
    }
    &.ng-hide-remove,
    &.ng-hide-add {
      display:block!important;
    }

    &.ng-hide-add{
        animation: 0.3s slideOut ease;
    }

    &.ng-hide-remove {
        animation: 0.3s slideIn ease;
    }
}

@media (min-width: $screen-sm-min) {
  .ac-drawer {
    width: 350px;
    right: -350px;
  }
}

@media (min-width: $screen-md-min) {
  .ac-drawer {
    width: 480px;
    right: -480px;
  }
}

@keyframes slideIn {
    from {
        transform: translateX(480px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(480px);
    }
}

.spinner {
  margin: 60px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  z-index: 2;
}

.spinner > div {
  background-color: rgba(0, 86, 183, 0.4);
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}