.ac-drawer
    a.ac-drawer-close.visible-xs(ng-click="drawer.visible = false")
        i.fa.fa-close.fa-lg
    .ac-drawer-tools
        ul
            li(ng-click="drawer.visible = !drawer.visible", data-toggle="tooltip", data-placement="left", title="Show Bulletin")
                i.fa.fa-file-text-o.fa-fw.fa-2x.fa-inverse.ac-middle
            li(ng-click="toggleFilter('obsType:incident')", ng-class="{on: filters.obsType.indexOf('incident') !== -1}", data-toggle="tooltip", data-placement="left", title="Toggle Incidents")
                i.fa.fa-warning.fa-fw.fa-2x.fa-inverse.ac-middle
            li(ng-click="toggleFilter('obsType:snowpack')", ng-class="{on: filters.obsType.indexOf('snowpack') !== -1}", data-toggle="tooltip", data-placement="left", title="Toggle Snowpack")
                i.fa.fa-bar-chart.fa-fw.fa-2x.fa-inverse.ac-middle.ac-icon.ac-icon-avalanche
            li(ng-click="toggleFilter('obsType:simple')", ng-class="{on: filters.obsType.indexOf('simple') !== -1}", data-toggle="tooltip", data-placement="left", title="Toggle Simple")
                i.fa.fa-camera.fa-fw.fa-2x.fa-inverse.ac-middle
            li(ng-click="toggleFilter('obsType:weather')", ng-class="{on: filters.obsType.indexOf('weather') !== -1}", data-toggle="tooltip", data-placement="left", title="Toggle Weather")
                span.ac-icon.ac-icon-weather
                    i.fa.fa-sun-o.fa-inverse.fa-2x.ac-middle
                    i.fa.fa-cloud.fa-inverse.fa-2x.ac-middle
            li(ng-click="toggleFilter('obsType:avalanche')", ng-class="{on: filters.obsType.indexOf('avalanche') !== -1}", data-toggle="tooltip", data-placement="left", title="Toggle Avalanches")
                span.ac-icon.ac-icon-avalanche
                    i.fa.fa-play.fa-inverse.fa-2x
                    i.fa.fa-cloud.fa-inverse.fa-1x
            li(ng-click="toggleFilter('obsPeriod:48-hours')", ng-class="{on: filters.obsType.length > 0 && filters.obsPeriod.indexOf('48-hours') !== -1}")
                small last 
                strong 48
                small hours
            li(ng-click="toggleFilter('obsPeriod:7-days')", ng-class="{on: filters.obsType.length > 0 && filters.obsPeriod.indexOf('7-days') !== -1}")
                small last 
                strong 7 
                small days
            li(ng-click="toggleFilter('obsPeriod:30-days')", ng-class="{on: filters.obsType.length > 0 && filters.obsPeriod.indexOf('30-days') !== -1}")
                small last 
                strong 30 
                small days
            li(data-toggle="modal" data-target="#obs")
                i.fa.fa-binoculars.fa-fw.fa-2x.fa-inverse.ac-middle
            //- li(style="height: 300px;")
                .div.ac-middle(ac-date-filter, style="height: 250px;")
    .ac-drawer-body(ng-transclude)