.ac-drawer {
    // todo: hack until this is really fixed. yr
    #forecast {
        margin-top: 0 !important;
    }
    position: absolute;
    top: 75px;
    height: 100%;
    width: 100%;
    right: -100%;
    margin-bottom: 0;
    background-color: $white;
    box-shadow: -5px 0 15px rgba(43, 47, 51, 0.6);
    border-top: 1px solid $main-gray--10;
    transition: all 0.3s linear;
    z-index: 1000;
    &-right {
        @media (min-width: $screen-sm-min) {
            width: 350px;
            right: -350px;
        }
        @media (min-width: $screen-md-min) {
            width: 515px;
            right: -515px;
        }
        &.ac-drawer--expanded {
            right: 0;
        }
        .ac-drawer-tools {
            left: -60px;
        }
    }

    &-left {
        @media (max-width: $screen-sm-min) {
            width: 100vw;
            left: -100vw;
        }
        @media (min-width: $screen-sm-min) {
            width: 350px;
            left: -350px;
        }
        @media (min-width: $screen-md-min) {
            width: 480px;
            left: -480px;
        }
        &.ac-drawer--expanded {
            left: 0;
        }

        .ac-drawer-tools {
            right: -60px;
        }
    }

    .ac-drawer-close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $main-gray--80;
        cursor: pointer;
        z-index: 10;
    }
    .ac-drawer-body {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 75px;
    }
    .ac-drawer-tools {
        position: absolute;
        top: 10px;
        z-index: -200;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            height: 60px;
            width: 60px;
            margin-bottom: 10px;
            background-color: $main-blue;
            cursor: pointer;
            transition: all 0.2s linear;
            small, strong {
                display: block;
                margin: auto;
                color: white;
                text-align: center;
                line-height: 1.2em;
            }
            & small:first-child {
                padding-top: 3px;
            }
            i {
                color: $main-blue--light;
            }
            &.on {
                color: $white;
                i {
                    color: $white;
                }
            }
            .danger-icon {
                svg{
                    margin-top:-3px;
                }
                span {
                    color: $main-blue--light;
                    font-size: 0.6em;
                    font-weight: bold;
                    position: relative;
                    top: -25px;
                    left: 9px;
                }
                polygon {
                    fill: $main-blue--light;
                }
            }
            &.on {
                .danger-icon {
                    span {
                        color: $white;
                    }
                    polygon {
                        fill: $white;
                    }
                }
            }
        }
    }

    //moved from drawer.jade

    .ac-filters ul {
        position: relative;
        user-select: none;
        width: 60px;
        &.opened {
            width: 440px;
        }

        .ng-leave{
            display: none!important;
        }

        li {
            color: $main-blue--light;
            i {
                padding-top: 7px;
                padding-left: 13px;
            }
            span {
                display: block;
                font-size: 0.6em;
                text-transform: uppercase;
                text-align:center;
                margin-top:5px;
            }
        }
    }
    .ac-min-filters, .ac-default-filters{
        ul li{
            background-color: $white;
            color: $main-gray--80;
            margin-left: 1px;
            overflow: hidden;
            &:first-child{
                margin-left:0px;
            }
            i {
                color: $main-blue--light;
                padding-left: 16px;
                &.fa-calendar{
                    padding-left: 13px!important;
                }
            }

            &.on {
                color: $white;
                background-color: $main-blue;
                i {
                    color: $white;
                }
            }

            &.ac-minfilter-button{
                background-color: $main-blue;
                color: $white;
                i {
                    color: $white;
                    padding-left: 16px;
                }
            }

            &.ac-default-button{
                i{
                    font-size: 1.5em;
                    padding-left: 19px;
                    &.fa-calendar{
                        padding-left: 15px!important;
                    }
                }
                span{
                    margin-top:2px;
                }
            }
        }
        .report{
            &-quick{
                color: $report-quick!important;
            }
            &-avalanche{
                color: $report-avalanche!important;
            }
            &-incident{
                color: $report-incident!important;
            }
            &-snowpack{
                color: $report-snowpack!important;
            }
            &-weather{
                color: $report-weather!important;
            }
            &-all{
                color: $report-cluster!important;
            }
            &-allmin{
                margin-top: 7px;
                margin-left:11px;
            }

        }
    }
    .ac-submit-report-tab{
        background-color: $error-red!important;
        i{
            padding-left: 17px;
            padding-top: 7px;
        }
        i.fa-plus{
            font-size: 14px;
            position: absolute;
            top: 2px;
            left: 9px;
            background-color: $error-red;
            padding: 3px;
            border-radius: 50%;
        }
        span{
            display: block;
            font-size: 0.6em;
            text-transform: uppercase;
            text-align:center;
            margin-top:0px;
        }
    }

    .no-top{
        margin-top:0px!important;
    }

}
