.ac-drawer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 500px;
    padding-top: 75px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 0 15px rgba(43, 47, 51, 0.6);
    overflow-y: scroll;
    overflow-x: hidden;
    & > .panel-body {
        padding: 5px 15px;
        border-top: 1px solid #eee;
    }
    &.ng-hide-remove,
    &.ng-hide-add {
      display:block!important;
    }

    &.ng-hide-add{
        animation: 0.3s slideOut ease;
    }

    &.ng-hide-remove {
        animation: 0.3s slideIn ease;
    }
}


@keyframes slideIn {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(500px);
    }
}