@import "_custom_cac_variables";

// todo: extract out colors and box-shadow
.ac-drawer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: -100%;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 0 15px rgba(43, 47, 51, 0.6);
    border-top: 1px solid #eee;
    transition: all 0.3s linear;
    z-index: 10000;
    @media (min-width: $screen-sm-min) {
        width: 350px;
        right: -350px;
    }
    @media (min-width: $screen-md-min) {
        width: 480px;
        right: -480px;
    }
    &.ac-drawer--expanded {
        right: 0;
    }
    .ac-drawer-close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: rgb(177, 177, 177);
        cursor: pointer;
        z-index: 10;
    }
    .ac-drawer-body {
        height: 100%;
        overflow-y: scroll;
        overflow-x: auto;
    }
    .ac-drawer-tools {
        position: absolute;
        top: 10px;
        left: -50px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            height: 50px;
            width: 50px;
            margin-bottom: 10px;
            background-color: rgba(0, 0, 0, 0.8);
            box-shadow: -5px 0 15px rgba(43, 47, 51, 0.6);
            cursor: pointer;
            transition: all 0.2s linear;
            border-bottom: 5px solid transparent;
            small, strong {
              display: block;
              margin: auto;
              color: white;
              text-align: center;
              line-height: 1.2em;
            }
            & small:first-child {
              padding-top: 3px;
            }
            &.on {
              border-bottom: 5px solid rgb(0, 128, 0);
            }
        }
    }
}
