@import "_custom_cac_variables";

$vegZoneAlp: rgb(221, 238, 250);
$vegZoneTln: rgb(209, 217, 163);
$vegZoneBtl: rgb(174, 191, 172);

$dangerRatingExtreme: black;
$dangerRatingHigh: #EF1C29;
$dangerRatingConsiderable: #F79218;
$dangerRatingModerate: #FFF300;
$dangerRatingLow: #52BA4A;
$dangerRatingNoRating: white;

// todo: some components are 'hacked-in' awaiting actual styles from  full page forecast.
.ac-forecast-mini {
    @extend .ac-forecast-base;
}
.panel-group{
    margin-bottom: 0px;
}

.ac-veg-zone--alp {
    background-color: $vegZoneAlp;
}

.ac-veg-zone--tln {
    background-color: $vegZoneTln;
}

.ac-veg-zone--btl {
    background-color: $vegZoneBtl;
}

.ac-danger-rating--extreme {
    background-color: $dangerRatingExtreme;
    color: red;
}

.ac-danger-rating--high {
    background-color: $dangerRatingHigh;
}

.ac-danger-rating--considerable {
    background-color: $dangerRatingConsiderable;
}

.ac-danger-rating--moderate {
    background-color: $dangerRatingModerate;
}

.ac-danger-rating--low {
    background-color: $dangerRatingLow;
}
