#mapboxMap {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%
}

.ac-no-gutter {
    margin: 0;
    padding: 0;
}

.ac-drawer {
    position: absolute;
    top: 75px;
    right: 0;
    width: 500px;
}

.ac-drawer .panel-heading {
    cursor: pointer;
}

.ac-drawer .ac-region-danger-icon {
    position: absolute;
    top: -6px;
    left: 10px;
    height: 30px;
    width: 30px;
}

.ac-drawer .panel-title {
    padding-left: 30px;
}

.ac-drawer.ng-hide-remove,
.ac-drawer.ng-hide-add {
  display:block!important;
}

.ac-drawer.ng-hide-add{
    -webkit-animation: 0.3s slideOut ease;
}

.ac-drawer.ng-hide-remove {
    -webkit-animation: 0.3s slideIn ease;
}

@-webkit-keyframes slideIn {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(500px);
    }
}

.ac-drawer .tab-pane{
    margin-top: 10px;
}

.ac-drawer .panel-footer {
    padding: 5px 15px;
}

.ac-drawer .panel-footer ul {
    margin: 0;
    padding: 0;
}

.ac-drawer .panel-body dl {
    margin-bottom: 0;
}

.ac-drawer .panel-body dt {
    float: left;
    margin-right: 10px;
}

.ac-drawer .panel-body dt,
.ac-drawer .panel-body dd {
    line-height: 1.30;
}

.ac-drawer {
    .panel-body {
        padding: 5px 15px;
    }
    .nav-pills > li > a {
        padding: 5px 15px;
    }
    .table-condensed {
        margin-bottom: 5px;
        & > thead > tr > th, & > tbody > tr > td {
            padding: 2px;
        }
    }
}



.ac-nowcast {
    height: 150px;
}

.ac-veg-zone--alp {
    background-color: rgb(221, 238, 250);
}

.ac-veg-zone--tln {
    background-color: rgb(209, 217, 163);
}

.ac-veg-zone--btl {
    background-color: rgb(174, 191, 172);
}

.ac-danger-rating--extreme {
    background-color: black;
    color: red;
}

.ac-danger-rating--high {
    background-color: red;
}

.ac-danger-rating--considerable {
    background-color: orange;
}

.ac-danger-rating--moderate {
    background-color: yellow;
}

.ac-danger-rating--low {
    background-color: green;
}

