#mapboxMap {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%
}

.ac-no-gutter {
    margin: 0;
    padding: 0;
}

.ac-drawer {
    position: absolute;
    top: 90px;
    right: 0;
    width: 500px;
}

.ac-drawer.ng-hide-remove,
.ac-drawer.ng-hide-add {
  display:block!important;
}

.ac-drawer.ng-hide-add{
    -webkit-animation: 0.3s slideOut ease;
}

.ac-drawer.ng-hide-remove {
    -webkit-animation: 0.3s slideIn ease;
}

@-webkit-keyframes slideIn {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(500px);
    }
}

.ac-drawer .tab-pane{
    margin-top: 20px;
}

.ac-drawer .panel-footer dl {
    margin-bottom: 0;
}

.ac-drawer .panel-body dt, .ac-drawer .panel-footer dt {
    float: left;
    margin-right: 10px;
}

.ac-nowcast {
    background: url(../assets/images/mountain-now-extended.png);
    height: 225px;
    width: 100%;
    background-position: 0 -36px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 10px;
}



.ac-veg-zone--alp {
    background-color: rgb(221, 238, 250);
}

.ac-veg-zone--tln {
    background-color: rgb(209, 217, 163);
}

.ac-veg-zone--btl {
    background-color: rgb(174, 191, 172);
}

.ac-danger-rating--considerable {
    background-color: orange;
}

.ac-danger-rating--high {
    background-color: red;
}