@import "../../../styles/colors.css";
@import "../Forecast.css";

.Container {
    display: block;
    margin: 0.5em 0;
}

.Header {
    flex: 100%;

    font-size: 1.1em;
    background-color: black;
    color: white;
    padding: 0.75em;
    font-weight: 700;
    margin: 0;
}

.SubHeader {
    padding: 0.75em;
    font-size: 1em;
    font-weight: 700;
    background-color: var(--background-color);
    margin: 0;
}

.TopicSet {
    display: flex;
    flex-wrap: wrap;

    border: 1px solid var(--background-color);
}

.TopicSet--4PerRow {
    & > .Topic {
        flex: 1 0 25%;
        max-width: 25%;
    }
}

.TopicSet--2PerRow {
    & > .Topic {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

.Topic {
    display: flex;
    flex-direction: column-reverse;

    min-height: 200px;
    margin: 0;
    align-self: stretch;
    color: var(--gray-darker);

    flex: 100%;

    & figcaption {
        /*border-left: 1px solid white;*/
        /*border-left: 1px solid var(--gray-light);*/
        /*border-right: 1px solid white;*/
        /*border-right: 1px solid var(--gray-light);*/
        /*white-space: nowrap;*/
        padding: 0.75em;
        font-weight: 700;
        background-color: var(--background-color);
        margin: 0;
    }

    & img {
        display: block;
        margin: auto;
    }
}

.Topic--Content {
    flex: 100%;
    display: flex;
    border: 1px solid var(--background-color);
    /*border-top: none;*/
}

.FullWidthSubSection {
    composes: import SubSection from "../Forecast.css";

    flex: 100%;

    & > div {
        padding: 1em;
        color: var(--gray-dark);
    }
}

.Comment {
    composes: FullWidthSubSection;
    composes: import Border from "../Forecast.css";

    border-top: none;
}

.Advice {
    composes: FullWidthSubSection;
    composes: import SubSection from "../Forecast.css";
    composes: import Border from "../Forecast.css";
}
