@import "../../../styles/colors.css";
@import "../Forecast.css";

.Container {
    display: block;
    margin: 0.5em 0;
}

.Header {
    flex: 100%;

    margin: 0;
    padding: 0.75em;
    font-size: 1.1em;
    font-weight: normal;
    background-color: black;
    color: white;
}

.SubHeader {
    margin: 0;
    padding: 0.75em;
    font-size: 1em;
    font-weight: normal;
    background-color: var(--background-color);
}

.TopicSet {
    display: flex;
    flex-wrap: wrap;

    border: 1px solid var(--background-color);
}

.TopicSet--4PerRow {
    & > .Topic {
        flex: 1 0 25%;
        max-width: 25%;
    }
}

.TopicSet--2PerRow {
    & > .Topic {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

.Topic {
    display: flex;
    flex-direction: column-reverse;

    min-height: 190px;
    margin: 0;
    align-self: stretch;
    color: var(--gray-darker);

    flex: 100%;

    & figcaption {
        margin: 0;
        padding: 0.75em;
        font-size: 0.95em;
        text-align: center;
        white-space: nowrap;
        background-color: var(--background-color);
    }

    & img {
        display: block;
        margin: auto;
    }
}

.Topic--Content {
    flex: 100%;
    display: flex;
    border: 1px solid var(--background-color);
}

.FullWidthSubSection {
    composes: import SubSection from "../Forecast.css";

    flex: 100%;

    & > div {
        padding: 1em;
        color: var(--gray-dark);

        & > * {
            margin: 0;
        }
        & > ul {
            padding-left: 1.5em;
        }
    }
}

.Comment {
    composes: FullWidthSubSection;
    composes: import Border from "../Forecast.css";

    border-top: none;
}

.Advice {
    composes: FullWidthSubSection;
    composes: import SubSection from "../Forecast.css";
    composes: import Border from "../Forecast.css";
}
