@import "../../../styles/colors.css";

.Container {
    composes: import Section from "../Forecast.css";

    display: flex;
    flex-wrap: wrap;

    &[min-width~="480px"] > .Topic {
        flex: 1 0 50%;
        max-width: 50%;

        &:nth-child(odd) {
            box-sizing: border-box;
            border-left: 2px solid white;
        }
    }
    &[min-width~="820px"] > .Topic {
        flex: 1 0 25%;
        max-width: 25%;

        &:nth-child(4) {
            box-sizing: border-box;
            border-left: 2px solid white;
        }
    }
}


.Header {
    composes: import SectionHeader from "../Forecast.css";

    flex: 100%;
    white-space: nowrap;
}
.SubHeader {
    composes: import SubSectionHeader from "../Forecast.css";

    white-space: nowrap;
}

.Topic {
    composes: import SubSection from "../Forecast.css";

    display: flex;
    flex-direction: column;
    min-height: 200px;

    flex: 100%;
}

.TopicImage {
    display: block;
    margin: auto;
}

.FullWidthSubSection {
    composes: import SubSection from "../Forecast.css";

    flex: 100%;

    & > div {
        padding: 1em;
        color: var(--gray-dark);
    }
}

.Comment {
    composes: FullWidthSubSection;
    composes: import Border from "../Forecast.css";

    border-right: none;
    border-bottom: none;
    border-left: none;
}

.Advice {
    composes: FullWidthSubSection;
    composes: import SubSection from "../Forecast.css";
}
