@import "../../styles/colors.css";

.Child {
    &:before {
        float: left;
        padding-right: 0.5em;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.Question {
    composes: Child;

    font-weight: 700;

    &:before {
        content: 'Q:';
        color: var(--brand-secondary);
    }
}

.Answer {
    composes: Child;

    &:before {
        content: 'A:';
        color: var(--brand-primary);
    }
}
