


head
  //link(href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.min.css" rel="stylesheet")

  style.
    body {
      font-family: "Helvetica Neue",Helvetica,sans-serif;
      font-size: 17px;
      line-height: 21px;
      width: 100%;
      margin:0;
      padding:0;
    }
    a, a:visited {
      text-decoration: none;
      color: #428bca;
    }
    h1 {
      text-align: center;
      font-size: 36px;
      line-height: 61px;
      margin-bottom: 10px;
      border-bottom: 1px solid #a2a2a2;
      color: #555;
    } 
    ul { width: 100%; margin: 0; padding: 0;}
    .region-link {
      font-size: 20px;
      padding: 5px;
      border-bottom: 1px solid #ddd;
      list-style: none;
    }
    .region-link a {
      display:block;
      padding: 11px 65px 11px 15px;
      position: relative;
    }
    .region-link img   { display:block; float: left;}
    .region-link span  { display:block; margin-left: 37px;}

    .region-link:after { display:block; content: ''; clear:both;}

    a .link-icon { 
      display:block; 
      position: absolute; 
      top: 25%;
      right: 20px; 
      width: 20px;
      height: 20px;
    }

  meta(name="viewport" content="initial-scale=1, maximum-scale=1")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")



body
  h1 Forecasts
  ul
    each region in regions
      li.region-link
        a(href=region.link)
          img(src=region.icon width='25px')
          span= region.title
          svg.link-icon(width='20px' height="20px" viewbox="0 0 10 21")
            path(stroke="#aaa" fill="transparent" d="m 0,0 10,10 -10,10")
