
header#header.navbar-fixed-top(role='banner')
    .container
        nav#navigation.yamm.navbar.navbar-default(role='navigation')
            .navbar-header
                a(rel='home', title='Avalanche Foundation', href='{{env.DOMAIN}}/foundation')
                    h1.navbar-brand.foundation
            .visible-xs.visible-sm
                    a#nav-search(href='#')
                        i.fa.fa-search

                    a#nav-donate.visible-sm(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=87JTBQBSCN6PS') Donate
                    span#multi-expand.navbar-toggle(role='button', href='#', ng-click='togglePushmenu()')
                        i.fa.fa-reorder
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                            | About
                            span.arrow-down
                        ul.dropdown-menu
                            li(ng-repeat='item in about')
                                    a(href='{{env.DOMAIN}}/foundation/about#{{item.name}}') {{item.display}}
                    li.dropdown
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                            | Programs
                            span.arrow-down
                        ul.dropdown-menu
                            li(ng-repeat='item in programs')
                                a(href='{{env.DOMAIN}}/foundation/programs#{{item.name}}') {{item.display}}

                    li.dropdown
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                            | Contributors
                            span.arrow-down
                        ul.dropdown-menu
                            li
                                a(href='{{env.DOMAIN}}/foundation/donors') Donors
                            li
                                a(href='{{env.DOMAIN}}/foundation/eventsponsor') Event Sponsors


                    li.dropdown
                        a(href='/foundation/news')
                                | News & Events
                                span.arrow-down
                        ///ul.dropdown-menu
                        ///    li
                        ///        a(href='{{env.DOMAIN}}/foundation/news') News
                        ///    li
                        ///        a(href='{{env.DOMAIN}}/foundation/events') Events


                a#nav-search-desktop(href='#')
                    i.fa.fa-search
                a#nav-donate-desktop(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=87JTBQBSCN6PS') Donate
    ///#header
