
header#header.navbar-fixed-top(role='banner')
    .container
        nav#navigation.yamm.navbar.navbar-default(role='navigation')
            .navbar-header
                a(rel='home', title='Avalanche Foundation', href='/foundation')
                    h1.navbar-brand.foundation
            .visible-xs.visible-sm
                    a#nav-search(href='#')
                        i.fa.fa-search
                    a#nav-donate.visible-sm(href='/foundation/programs') Donate
                    a#multi-expand.navbar-toggle(role='button', href='#', ng-click='multiExpand()')
                        i.fa.fa-reorder
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a(href='/foundation/about')
                            | About
                            span.arrow-down
                        ul.dropdown-menu
                            li(ng-repeat='item in about')
                                    a(href='foundation/about#{{item.name}}') {{item.display}}
                    li.dropdown
                        a(href='/foundation/programs')
                            | Programs
                            span.arrow-down
                        ///ul.dropdown-menu
                        ///    li(ng-repeat='item in programs')
                        ///            a(href='foundation/programs#{{item.name}}') {{item.display}}

                    li.dropdown
                        a(href='/foundation/contributors')
                            | Contributors
                            span.arrow-down
                        ul.dropdown-menu
                            li(ng-repeat='item in contributors')
                                    a(href='foundation/contributors#{{item.name}}') {{item.display}}

                    li.dropdown
                        a(href='/foundation/news')
                                | News & Events
                                span.arrow-down
                        ///ul.dropdown-menu
                        ///    li
                        ///        a(href='foundation/news') News
                        ///    li
                        ///        a(href='foundation/events') Events


                a#nav-search-desktop(href='#')
                    i.fa.fa-search
                a#nav-donate-desktop(href='/foundation/programs') Donate
    ///#header
