@import "../navbar/Navbar.css";

.Container {
    height: 100vh;
}

.Content {
    height: calc(100% - var(--navbar-height));
    margin-top: var(--navbar-height);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
