@import "../../styles/colors.css";

.active {
  font-weight: bold;
}


.spacing {
  margin-top: 1em;
  margin-bottom: 1em;
}

.TutorialPage {
  display: flex;
  padding: 0 2em;
}

.Sidebar {
  flex:2;
  padding: 1em;
}

.TutorialContent {
  flex:7;
  padding: 1em;
}

.Image {
  display:block;
  margin: 0 auto;
}
.ImageContainer {
  margin-bottom: 1em;
}

.TextBlock {
  composes: spacing;
}

:global(.callout-info) {
  border:1px solid #bce8f1;
  background:#d9edf7;
  color:#31708f;

  display: block;
  padding: 1rem 2rem;
  margin: 1em auto;
  font-style: italic;
  font-size: 1.3;
}

:global(.callout-warning) {
  background: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;

  display: block;
  padding: 1rem 2rem;
  margin: 1em auto;
  font-style: italic;
  font-size: 1.3;
}


:global(.image-caption) {
  background-color: var(--gray-lighter);
  border: 4px solid var(--gray-lighter);
  color: var(--gray-darker);
  display:block;
}

