

.active {
  font-weight: bold;
}

.TutorialPage {
  display: flex;
  padding: 0 2em;
}

.Sidebar {
  flex:1;
  padding: 1em;
}

.TutorialContent {
  flex:4;
  padding: 1em;
}

.Image {
  margin-bottom: 1em;
}
