@import "../../styles/colors.css";

:root {
    --border: 1px solid var(--gray-light);
}

.Container {
    border-top: var(--border);

    &:last-child {
        border-bottom: var(--border);
    }
}

.Expandable {
    & .Header {
        cursor: pointer;

        & svg {
            /*transform: translateY(6px);*/
            & path:not([fill="none"]) {
                fill: var(--primary);
            }
        }

        @media print {
            & svg {
                display: none;
            }
        }
    }
}

.Inverse {
    & .Header {
        background-color: var(--black);
        color: white;

        & .Expand {
            float: right;
            & path:not([fill="none"]) {
                fill: white;
            }
        }
    }
}

.Header {
    position: relative;
    color: var(--primary);
    font-weight: 700;
    line-height: 3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media print {
        font-size: 1.5em;
    }
}

.Title {
    padding: 0 0.5em;
}

.Expand {
    height: 3em;
    padding: 0 0.5em;
    float: left;

    &:focus {
        outline: none;
    }
}


.Content {
    overflow: hidden;
    padding: 0 1em;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--gray-lightest);
    }

    @media print {
        & * {
            height: auto !important;
        }
    }
}

.Container--Simple {
    composes: Container;
}

.Container--Inverse {
    composes: Container;
    composes: Inverse;
}

.Container--Simple--Expandable {
    composes: Container;
    composes: Expandable;
}

.Container--Inverse--Expandable {
    composes: Container;
    composes: Expandable;
    composes: Inverse;
}
