@import '../../../styles/colors.css';

.Container {
    display: flex;
    background-color: white;

    & svg {
        height: 40px;
        padding: 0 6px;
        pointer-events: none;
    }

    & > button {
        padding: 0;
    }
}

.Input {
    flex: 1;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
