@import '../../styles/colors.css';

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Segment {
    composes: import Primary from '../../components/button/Button.css';
    margin: 0.15em;
}

.Segment--Active {
    composes: Segment;
    composes: import Primary--Active from '../../components/button/Button.css';
}

.Disabled {
    composes: Segment;
    composes: import Primary--Disabled from '../../components/button/Button.css';
}
