__mocks__
.ebextensions
.storybook
node_modules
public
scripts
.tmp
.elasticbeanstalk/
.nvmrc
newrelic_agent.log
aws.json
.env
dump.rdb
npm-debug.log
*.db
*.zip
.DS_Store
client/.DS_Store
tests/screenshots
tests/failures
