.panel
    .panel-body(ng-show="forecast.externalUrl")
        .row
            .col-xs-12
                h3.ac-forecast-region {{ forecast.name }}
        .row
            .col-xs-12
                a(ng-href="{{forecast.externalUrl}}") 
                    i.fa.fa-external-link
                    |   click to access forecast
    .panel-body.ac-forecast-mini-body(ng-hide="forecast.externalUrl")
        .row
            .col-xs-12
                h4.ac-forecast-region {{ forecast.bulletinTitle | normalizeForecastTitle }}
                
        .row.ac-forecast-dates
            .col-md-6
                dl
                    dd.small
                        strong.ac-text-primary DATE ISSUED 
                    dt.small
                        span.ac-text-default {{ forecast.dateIssued | date:'EEEE MMMM d, y h:mm a' | uppercase }}
            .col-md-6
                dl
                    dd.small
                        strong.ac-text-primary VALID UNTIL
                    dt.small
                        span.ac-text-default {{ forecast.validUntil | date:'EEEE MMMM d, y h:mm a' | uppercase }}
        .row
            .col-xs-12
                p.ac-forecast-highlights
                    strong(ng-bind-html="forecast.highlights | sanatizeHtml")
        .row
            .col-xs-12
                ul.nav.nav-pills(role='tablist')
                  li.active
                    a(href="", role='tab', data-target="#forecast", data-toggle='tab') Forecast
                  li
                    a(href="", role='tab', data-target="#problems", data-toggle='tab') Problems
                  li
                    a(href="", role='tab', data-target="#details", data-toggle='tab') Details
                .tab-content
                    #forecast.tab-pane.active
                        .row
                            .col-xs-12
                                .panel.panel-primary
                                    .panel-heading
                                        | {{ forecast.dangerRatings[0].date | date:'EEEE' }}
                                    .panel-body.ac-forecast-nowcast
                                        .spinner(ng-hide="imageLoaded")
                                            .rect1
                                            .rect2
                                            .rect3
                                            .rect4
                                            .rect5
                                        img.ac-nowcast(ng-show="forecast.region && imageLoaded", ng-src="{{forecast.region && '/api/forecasts/' + forecast.region  + '/nowcast.svg' || ''}}", image-loading)
                                    table.table.table-condensed.ac-forecast-days
                                        thead.ac-thead-dark
                                            tr
                                                th
                                                th {{ forecast.dangerRatings[1].date | date:'EEEE' }}
                                                th {{ forecast.dangerRatings[2].date | date:'EEEE' }}
                                        tbody
                                            tr
                                                td.ac-veg-zone--alp 
                                                    strong Alpine
                                                td(class="ac-danger-rating--{{ forecast.dangerRatings[1].dangerRating.alp.split(':')[1].toLowerCase()}}") 
                                                    strong {{ forecast.dangerRatings[1].dangerRating.alp.replace(':', ' ') }}
                                                td(class="ac-danger-rating--{{ forecast.dangerRatings[2].dangerRating.alp.split(':')[1].toLowerCase()}}") 
                                                    strong {{ forecast.dangerRatings[2].dangerRating.alp.replace(':', ' ') }}
                                            tr
                                                td.ac-veg-zone--tln 
                                                    strong Treeline
                                                td(class="ac-danger-rating--{{ forecast.dangerRatings[1].dangerRating.tln.split(':')[1].toLowerCase()}}") 
                                                    strong {{ forecast.dangerRatings[1].dangerRating.tln.replace(':', ' ') }}
                                                td(class="ac-danger-rating--{{ forecast.dangerRatings[2].dangerRating.tln.split(':')[1].toLowerCase()}}") 
                                                    strong{{ forecast.dangerRatings[2].dangerRating.tln.replace(':', ' ') }}
                                            tr
                                                td.ac-veg-zone--btl 
                                                    strong Bellow Treeline
                                                td(class="ac-danger-rating--{{ forecast.dangerRatings[1].dangerRating.btl.split(':')[1].toLowerCase()}}") 
                                                    strong {{ forecast.dangerRatings[1].dangerRating.btl.replace(':', ' ') }}
                                                td(class="ac-danger-rating--{{ forecast.dangerRatings[2].dangerRating.btl.split(':')[1].toLowerCase()}}") 
                                                    strong{{ forecast.dangerRatings[2].dangerRating.btl.replace(':', ' ') }}
                                            tr
                                                td
                                                    strong Confidence:
                                                td(colspan="2")
                                                    span.ac-text-default{{ forecast.confidence }}

                    #problems.tab-pane
                        #problemsAccordion.panel-group
                            .panel.panel-primary(ng-repeat="problem in forecast.problems")
                                .panel-heading
                                    h4.panel-title
                                        a(href='', data-target="#problem{{$index}}", data-toggle='collapse', data-parent='#problemsAccordion')
                                          | {{ problem.type }}
                                          i.fa.fa-fw.fa-caret-down
                                div(id="problem{{$index}}").panel-collapse.collapse(ng-class="{in: $index === 0}")
                                    .panel-body
                                        .row
                                            .col-xs-6
                                                .panel.panel-default
                                                    .panel-heading
                                                        strong.small What Elevations?
                                                    .panel-body.ac-problem-icon.ac-problem-icon--elevations
                                                        img.center-block(ng-src="{{problem.icons.elevations}}")
                                            .col-xs-6
                                                .panel.panel-default
                                                    .panel-heading
                                                        strong.small What Aspects?
                                                    .panel-body.ac-problem-icon.ac-problem-icon--aspects
                                                        img.center-block(ng-src="{{problem.icons.aspects}}")
                                        .row
                                            .col-xs-6
                                                .panel.panel-default
                                                    .panel-heading
                                                        strong.small Chances of Avalanches?
                                                    .panel-body.ac-problem-icon.ac-problem-icon--likelihood
                                                        img.center-block(ng-src="{{problem.icons.likelihood}}")
                                            .col-xs-6
                                                .panel.panel-default
                                                    .panel-heading
                                                        strong.small Expected Size?
                                                    .panel-body.ac-problem-icon.ac-problem-icon--expected-size
                                                        img.center-block(ng-src="{{problem.icons.expectedSize}}")
                                        .row
                                            .col-xs-12
                                                p.ac-problem.narative {{ problem.comment  | sanatizeHtml}}
                                                .panel.panel-default.ac-problem-travel-advice
                                                    .panel-heading
                                                        strong.small Travel and Terrain Advice
                                                    .panel-body
                                                        p {{ problem.travelAndTerrainAdvice | sanatizeHtml }}

                    #details.tab-pane
                        #detailsAccordion.panel-group
                            .panel.panel-primary
                                .panel-heading
                                    h4.panel-title
                                        a(href='', data-target="#avalancheSummary",data-toggle='collapse', data-parent='#detailsAccordion')
                                          | Avalanche Summary
                                          i.fa.fa-fw.fa-caret-down
                                #avalancheSummary.panel-collapse.collapse.in
                                    .panel-body
                                        {{ forecast.avalancheSummary | sanatizeHtml}}
                            .panel.panel-primary
                                .panel-heading
                                    h4.panel-title
                                        a(href='', data-target="#snowpackSummary",data-toggle='collapse', data-parent='#detailsAccordion')
                                          | Snowpack Summary
                                          i.fa.fa-fw.fa-caret-down
                                #snowpackSummary.panel-collapse.collapse
                                    .panel-body
                                        {{ forecast.snowpackSummary | sanatizeHtml }}
                            .panel.panel-primary
                                .panel-heading
                                    h4.panel-title
                                        a(href='', data-target="#weatherForecast",data-toggle='collapse', data-parent='#detailsAccordion')
                                          | Weather Forecast
                                          i.fa.fa-fw.fa-caret-down
                                #weatherForecast.panel-collapse.collapse
                                    .panel-body
                                                {{ forecast.weatherForecast | sanatizeHtml }}