@import "../../styles/colors.css";

.Container {
    display: flex;
    color: var(--gray);
    margin: 5px;
    padding: 5px;
    line-height: 1.5em;
}

.Content {

}

.Header {
    font-weight: bold;
}

.Name {
    color: var(--brand-primary);
}

.Title {
    margin-left: 5px;
    color: var(--gray-dark);
}

.Media {
    height: 100%;
    margin-right: 10px;
}

.Address {
    & > * {
        display: block;
    }
}
