@import '../../../../styles/colors.css';

.Toolbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-lighter);
}

.Fullscreen {
    flex-grow: 1;
    justify-content: end;
}
