.full-height.page
    .page-inner
        .container
            #event_detail
               #description(ng-bind-html="event.getStructuredText('event.description').asHtml(ctx);")
               #details
                    p  location: {{event.getText('event.location')}}
                    p  hosted by: {{event.getText('event.hosted_by')}}
        .push
    div.footer(ng-include='"components/footer/footer.html"')

