#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                    {{event.getText('event.title')}}
                    br.visible-xs-block
                .blue-border
        article#news-blog-event-landing-content.col-xs-12.col-md-9
            section#post-date {{event.getDate('event.start_date') | dateUtc:"dddd MMMM Do" }}
            section#post-location {{event.getText('event.location')}}
            section#post-date {{event.getText('event.hour_beginning')}}:{{event.getText('event.minutes_beginning') || '00'}} {{event.getText('event.am_pm_beginning')}} {{event.getText('event.length')}}
            section#post-location  {{event.getText('event.type')}} Event
            section#blog-tags
            ///    a(href='#') Tag One
            ///    a(href='#') Tag Two
            ///    a(href='#') Tag Three
            /// header
            ///    h1 {{header}}
            section#news-blog-event-landing-body
                #description(ng-bind-html='event.getStructuredText("event.description").asHtml(ctx);')
                img.img(alt='', src=" {{ event.getImageView('event.featured_image', 'main').url }} ")


        // /#news-blog-event-content
        #mobile-sidebar-container.col-xs-12.col-md-3
            aside
                .dark-ribbon
                .sidebar-inner
                    ng-include(src='"components/sidebar/sidebar.html"')
                    ul.sidebar-related-links
                        li
                            a(href="https://twitter.com/intent/tweet?url={{url}}")
                                i.fa.fa-twitter.fa-fw.fa-lg
                        li
                            a(href="https://www.facebook.com/sharer/sharer.php?u={{url}}")
                                i.fa.fa-facebook.fa-fw.fa-lg
                        li
                            a(href="https://plus.google.com/share?url={{url}}")
                                i.fa.fa-google-plus.fa-fw.fa-lg
    .push
div.footer(ng-include='"components/footer/footer.html"')




