.ArchiveDatePicker {
    display: flex;
    flex-direction: column;

    & > * {
        flex: 1 0;
        margin: 1em;
    }
}

.ArchiveDatePicker--Link {
    composes: import Shadow from '../../components/button/Button.css';
    composes: import Large from '../../components/button/Button.css';
    composes: import Primary from '../../components/button/Button.css';
    composes: import Chevron from '../../components/button/Button.css';
}
