@import "../../styles/colors.css";

.Container {
    position: relative;
}

.Controls {
    display: flex;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 10;

    & > button {
        outline: none;
    }
}
