@import '../../../styles/colors.css';

.Submission {
}

.Observation {
}

.Section {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.Section--Content {
}

.Section--Title {
    color: var(--primary);
    text-transform: uppercase;
    padding-bottom: 0.75em;
    margin: 1em 0;
    border-bottom: 1px solid var(--gray-lighter);
}

.MapLocationLink {
    flex: 0 1 auto;
    align-self: center;
    margin-left: 1em;
}
