@import '../../styles/colors.css';

:root {
    --border: 1px solid var(--gray-light);
}

.Container {
    border-top: var(--border);

    &:last-child {
        border-bottom: var(--border);
    }

    & > summary {
        cursor: pointer;
        list-style: none;
        background-color: var(--black);
        color: white;
        font-weight: 700;
        padding: 0 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 3em;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            content: '';
            float: right;
            background-image: url('../icons/add.svg');
            background-position: center;
            background-repeat: no-repeat;
            height: 3em;
            width: 24px;
        }
    }

    &[open] > summary::after {
        background-image: url('../icons/remove.svg');
    }
}
