:root {
    --brand-primary: #245eac;
    --primary: #245eac;
    --brand-secondary: #e6252f;
    --secondary: #0f0f0f;

    --black: #0f0f0f;

    --gray-darkest: color-mod(black lightness(15%));
    --gray-darker: color-mod(black lightness(35%));
    --gray-dark: color-mod(black lightness(50%));
    --gray: color-mod(black lightness(70%));
    --gray-light: color-mod(black lightness(80%));
    --gray-lighter: color-mod(black lightness(90%));
    --gray-lightest: color-mod(black lightness(97%));

    --quick-obs: #4caf50;
    --avalanche-obs: #03a9f4;
    --snowpack-obs: #3f51b5;
    --weather-obs: #ffc107;
    --incident-obs: #f44336;

    --spaw: #e6252f;
    --spaw-hover: color-mod(var(--spaw) blackness(15%));

    --success: #4caf50;
    --info: #03a9f4;
    --warning: #ffc107;
    --danger: #e6252f;

    --error: #e6252f;
}
