.AvalancheCanada {
    background-image: url('./AvalancheCanada.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.AvalancheCanadaFoundation {
    background-image: url('./AvalancheCanadaFoundation.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
