@import './colors.css';

@custom-media --full-nav-height (height > 320px);

html {
    background-color: white;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: var(--gray-darker);
    box-sizing: border-box;
}

@media screen and (max-width: 680px) {
    body {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

:global(#app) {
    height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;

    @media (--full-nav-height) {
        padding-top: 75px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    & > a {
        color: inherit;

        &:hover {
            color: var(--primary);
        }
    }

    & > a:not([href^='#']) {
        &:after {
            /* \00a0 == &nbsp; */
            content: '\00a0›';
            color: var(--primary);
        }
    }
}

a {
    text-decoration: none;
    color: var(--primary);
}

/* More info and ideas here: https://davidwalsh.name/external-links-css */
/* A summer project ;) */
/*
a[target="_blank"]:not(:empty):after {
    content: " ↗";
    color: var(--gray);
    font-size: 0.75em;
}
*/

img {
    max-width: 100%;
    /* https://stackoverflow.com/questions/14053952/why-is-there-padding-at-the-bottom-of-my-image */
    vertical-align: bottom;
}

ul:not([class]) {
    /*list-style: none;*/
    padding-left: 2em;

    /* Colored bullet, but it does not wrap properly when displayed on two lines */
    /*& > li {
        &:before {
            content: "•";
            padding-right: 7px;
            color: var(--primary);
        }
    }*/
}

p {
    /*white-space: pre;*/
}

/* PRINT */
@media print {
    a:after {
        content: ' (' attr(href) ')';
    }
}

/* BUTTON */
button {
    border-radius: 0;
}
button[disabled],
input[disabled],
fieldset[disabled] button,
fieldset[disabled] input {
    opacity: 0.65;
    pointer-events: none;
    cursor: not-allowed;
}

/* OEMBED */
div[data-oembed] {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;

    & iframe {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
