@import './colors.css';

@custom-media --full-nav-height (height > 320px);

html {
    background-color: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: var(--gray-darker);
    box-sizing: border-box;
}

@media screen and (max-width: 680px) {
    body {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    & > a {
        color: inherit;

        &:hover {
            color: var(--primary);
        }
    }

    /* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-B */
    /* Pseudo-element spacer to take up some room above the header to fit better into the viewport */
    /* See <FragmentIndentifier>, there was a 75px offset before when scrolling into the view */
    /* This way, it affects all anchor not only the <FragmentIdentifier> */
    /* The nice thing about that, we can easily override the behavior for the Ambassadors page */
    /* Does work well on Chrome & Safari. 
    /* There is a bit too much room on Firefox (see below css rule to fix that on Firefox) */
    /* & > a[href^='#']:before {
        content: '';
        display: block;
        height: 4em;
        margin: -4em 0 0;

        @supports (-moz-appearance: meterbar) {
            & {
                height: 3em;
                margin-top: -3em;
            }
        }
    } */

    & > a:not([href^='#']) {
        &:after {
            /* \00a0 == &nbsp; */
            content: '\00a0›';
            color: var(--primary);
        }
    }
}

a {
    text-decoration: none;
    color: var(--primary);
}

/* More info and ideas here: https://davidwalsh.name/external-links-css */
/* A summer project ;) */
/*
a[target="_blank"]:not(:empty):after {
    content: " ↗";
    color: var(--gray);
    font-size: 0.75em;
}
*/

img {
    max-width: 100%;
    /* https://stackoverflow.com/questions/14053952/why-is-there-padding-at-the-bottom-of-my-image */
    vertical-align: bottom;
}

li::marker {
    color: var(--primary);
}

/* PRINT */
@media print {
    a:after {
        content: ' (' attr(href) ')';
    }
}

/* BUTTON */
button {
    border-radius: 0;
}
button[disabled],
input[disabled],
fieldset[disabled] button,
fieldset[disabled] input {
    opacity: 0.65;
    pointer-events: none;
    cursor: not-allowed;
}

/* OEMBED */
div[data-oembed] {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;

    & iframe {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
