.full-height.page
    .page-inner
        .prismic-content
            #partner.col-xs-12
                h1 Founding Partners
            .col-xs-3(ng-repeat='sponsor in partner')
                a.sponsor(href="{{sponsor.getText('sponsor.url')}}")
                    img.img-responsive(src="{{sponsor.getText('sponsor.image')}}")

            #founding.col-xs-12
                h1 Founding Sponsors
            .col-xs-3(ng-repeat='sponsor in foundingSponsor')
                a.sponsor(href="{{sponsor.getText('sponsor.url')}}")
                    img.img-responsive(src="{{sponsor.getText('sponsor.image')}}")

            #supplier.col-xs-12
                h1 Founding Suppliers
            .col-xs-3(ng-repeat='sponsor in supplier')
                a.sponsor(href="{{sponsor.getText('sponsor.url')}}")
                    img.img-responsive(src="{{sponsor.getText('sponsor.image')}}")

            #associate.col-xs-12
                h1 Founding Associates
            .col-xs-3(ng-repeat='sponsor in associate')
                a.sponsor(href="{{sponsor.getText('sponsor.url')}}")
                    img.img-responsive(src="{{sponsor.getText('sponsor.image')}}")

        .push
div.footer(ng-include='"components/footer/footer.html"')

