.full-height.page
    .page-inner
        .prismic-content
            #partner.col-xs-12
                h1 Program Partners
            .row(ng-repeat='sponsors in partner')
              .col-xs-3(ng-repeat='sponsor in sponsors')
                  a.sponsor(href="{{sponsor.getText('sponsor.url')}}")
                      img.img-responsive(ng-src="{{sponsor.getText('sponsor.image')}}")

            #founding.col-xs-12
                h1 Premier Sponsors
            .row(ng-repeat='sponsors in foundingSponsor')
              .col-xs-3(ng-repeat='sponsor in sponsors')
                  a.sponsor(href="{{sponsor.getText('sponsor.url')}}")
                      img.img-responsive(ng-src="{{sponsor.getText('sponsor.image')}}")

            #supplier.col-xs-12
                h1 Supporters
            .row(ng-repeat='sponsors in supplier')
              .col-xs-3(ng-repeat='sponsor in sponsors')
                  a.sponsor(href="{{sponsor.getText('sponsor.url')}}")
                      img.img-responsive(ng-src="{{sponsor.getText('sponsor.image')}}")

            #associate.col-xs-12
                h1 Contributors
            .row(ng-repeat='sponsors in associate')
              .col-xs-3(ng-repeat='sponsor in sponsors')
                  a.sponsor(href="{{sponsor.getText('sponsor.url')}}")
                      img.img-responsive(ng-src="{{sponsor.getText('sponsor.image')}}")

        .push
div.footer(ng-include='"components/footer/footer.html"')

