@import '../styles/colors.css';

.button > a {
    z-index: 10000;
    background-color: var(--gray-lightest);
    padding: 1em;
    border-radius: 100%;
}

.fixed {
    position: fixed;
    left: 2em;
    bottom: 2em;
}

.absolute {
    position: absolute;
    top: 0;
    right: 0;
}
