@custom-media --full-width (width > 420px);

.Container {
    composes: import Section from './Forecast.module.css';

    display: flex;
    flex-direction: column;
}

.Header {
    composes: import SectionHeader from './Forecast.module.css';

    flex: 100%;
}

.Icon {
    padding: 1em;
    max-width: 100%;
    text-align: center;
}

.Content {
    padding: 1em;
}

@media (--full-width) {
    .Container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .Icon {
        flex: 33%;
    }
    .Content {
        flex: 66%;
    }
}
