#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                    {{header}}
                    br.visible-xs-block
                #sponsor-desktop.hidden-xs
                    p Brought to you by
                    a(target='_blank', href='http://www.tecksustainability.com/sites/base/pages/our-strategy/community-focus/community-investment')
                        img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955453/logos/Logos%20png/Teck.png')
                .blue-border
        #sponsor-mobile.col-xs-12.visible-xs-block
            #sponsor-mobile-inner
                p.pull-left
                    | Brought
                    br
                    | to you by
                a.pull-right(target='_blank', href='http://www.tecksustainability.com/sites/base/pages/our-strategy/community-focus/community-investment')
                    img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955453/logos/Logos%20png/Teck.png')
        // /#sponsor-mobile
        .col-xs-12
            #sponsor-ad-container(ng-hide='true')
                p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                    img.img-responsive(alt='Smith Optics', src='assets/images/sponsor-mobile-smith-logo.png')
        article#news-blog-event-landing-content.col-xs-12.col-md-9
            section#post-date {{date | dateUtc:"dddd MMMM Do"  }}
            section#post-location {{category}}
            section#blog-tags
            ///    a(href='#') Tag One
            ///    a(href='#') Tag Two
            ///    a(href='#') Tag Three
            /// header
            ///    h1 {{header}}
            section#news-blog-event-landing-body(ng-bind-html='documentHtml')
            .embed-responsive.embed-responsive-16by9(ng-if='vid1')
                iframe.embed-responsive-item(src='{{vid1}}')
            .embed-responsive.embed-responsive-16by9(ng-if='vid2')
                iframe.embed-responsive-item(src='{{vid2}}')

            footer
                ///section#blog-author
                ///    a#poster-image(href='#')
                ///        img(width='57', height='54', src='assets/imag/posted-by.jpg')
                ///    p
                ///        a(href='#')
                ///            | James Foyer
                ///            span Senior Avalanche Forecaster
                ///    p
                ///        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                ///section#news-blog-pager
                ///    #news-blog-pager-left.pull-left.news-blog-pager-box
                ///        a.pager-arrows(href='#')
                ///            i.fa.fa-chevron-left
                ///        #news-blog-pager-older.news-blog-pager-text.hidden-xs
                ///            a(href='#')
                ///                span Older
                ///                br
                ///                | Share Your Knowledge
                ///    #news-blog-pager-right.pull-right.news-blog-pager-box
                ///        a.pager-arrows(href='#')
                ///            i.fa.fa-chevron-right
                ///        #news-blog-pager-newer.news-blog-pager-text.hidden-xs
                ///            a(href='#')
                ///                span Newer
                ///                br
                ///                | New Fundraiser for Avalanche Canada
        #mobile-sidebar-container.col-xs-12.col-md-3
            aside
                .dark-ribbon
                .sidebar-inner
                    ng-include(src='"components/sidebar/sidebar.html"')

    .push
div.footer(ng-include='"components/footer/footer.html"')


