.Entry {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.Explanation {
    flex: 1;
    margin-left: 1em;
}

.Symbol {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Name {
    line-height: 2em;
    font-weight: bold;
}

.Description {
    color: grey;
}
