@import "../../styles/colors.css";

.Credit {
    position: absolute auto 0 0 auto;
    color: white;
    background-color: var(--gray-darker);
    padding: 0.25em 0.5em;

    &:before {
        content: 'Credits: '
    }
}
