.Media {
    position: relative;
}

.GoodJob {
    composes: import Yep from './ATESExercise.module.css';
    margin: 0;
}

.NotSoGoodJob {
    composes: import Nope from './ATESExercise.module.css';
    margin: 0;
}
