@import "../../styles/colors.css";

.Br {
    composes: import Hash from "../../styles/textures.css";
    display: block;
    height: 8px;

    &:before {
        content: '';
        display: inline-block;
        float: left;
        background-color: var(--brand-primary);
        width: 50px;
        height: 100%;
    }
}
