@import "../../styles/colors.css";

.Image {
	&:after {
		content: "We're sorry, the image is broken :(";

		display: flex;
        justify-content: center;
        align-items: center;

		position: absolute 0;
        min-height: 125px;
		background-color: white;
		color: var(--gray-dark);

		background-image: url("./broken-image.svg");
		background-repeat: no-repeat;
		background-position: center;
	}
}
