@import "../../styles/colors.css";

.Text {
    color: var(--gray);
}

.Application {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
}

.Content {
    overflow-y: scroll;
}

.NotFound {

}
