@import "../../styles/colors.css";

.Container {
    color: white;
    background-color: black;
    text-transform: uppercase;
    line-height: 2.5em;
    margin-left: -1em;
}

:local(.Content) {
    display: inline-block;
    padding: 0 1em;
    font-weight: 700;
}

.Caption {
    composes: Content;
    position: relative;
    text-indent: 0;
    background-color: var(--brand-secondary);

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        border-color: color(var(--brand-secondary) blackness(50%)) color(var(--brand-secondary) blackness(50%)) transparent transparent;
        border-style: solid;
        border-width: 8px;
    }
}

.Title {
    composes: Content;
}
