@import "../../styles/colors.css";

@custom-media --as-vertical (width > 500px);

.Container {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: center;
    margin: 0;

    @media (--as-vertical) {
        flex-direction: column;
    }
}

.Label {
    width: 6em;
    color: var(--gray-light);
    font-weight: 700;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 0.5em;

    @media (--as-vertical) {
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

.Logo {
    flex: 1;
    margin: 0 auto;

    & img {
        max-width: 150px;
        display: block;
        margin: 0 auto;
    }
}
