@import "../../styles/colors.css";

.Text {
    color: var(--gray);
}

.Muted {
    composes: Text;
}

.Loading {
    composes: Text;
}

.Error {
    composes: Text;

    color: var(--brand-secondary);
}
