footer#footer(role='contentinfo')
  .container
    .row
      .col-xs-12
        ul
          li#footer-contact.first
            a(href='/about#contact') Contact
          li#footer-privacy
            a(href='/tou#privacy') Privacy Policy
          li#footer-terms
            a(href='/tou') Terms of Use
        h6
          | ©2014 Avalanche Canada,
          br
          | All Rights Reserved
        // Front End Development by Chris Bovard - www.chrisbovard.com
