
div.container(ng-controller='NavbarCtrl')
  footer#footer(role='contentinfo')
    .container
      .row
        .col-xs-12
          ul
            li#footer-contact.first
              a(href='#') Contact
            li#footer-privacy
              a(href='#') Privacy Policy
            li#footer-disclaimer
              a(href='#') Disclaimer
            li#footer-terms
              a(href='#') Terms of Use
          h6
            | ©2014 Avalanche Canada,
            br
            | All Rights Reserved
          // Front End Development by Chris Bovard - www.chrisbovard.com
// /#footer
