#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                    {{header}}
                    br.visible-xs-block
                #sponsor-desktop.hidden-xs
                    p Brought to you by
                    a(target='_blank', href='http://www.sandmanhotels.ca/')
                        img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955458/logos/Logos%20png/sandman.png')
                .blue-border
        #sponsor-mobile.col-xs-12.visible-xs-block
            #sponsor-mobile-inner
                p.pull-left
                    | Brought
                    br
                    | to you by
                a.pull-right(target='_blank', href='http://www.sandmanhotels.ca/')
                    img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955458/logos/Logos%20png/sandman.png')
        // /#sponsor-mobile
        .col-xs-12
            #sponsor-ad-container(ng-hide='true')
                p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                    img.img-responsive(alt='Smith Optics', src='assets/images/sponsor-mobile-smith-logo.png')
        article#news-blog-event-landing-content.col-xs-12.col-md-9
            section#post-date {{date |  dateUtc:"dddd MMMM Do"  }}
            section#post-location &nbsp;
            section#blog-tags
            ///    a(href='#') Tag One
            ///    a(href='#') Tag Two
            ///    a(href='#') Tag Three
            /// header
            ///    h1 {{header}}
            section#news-blog-event-landing-body(ng-bind-html='documentHtml')

            footer
                ///section#blog-author
                ///    a#poster-image(href='#')
                ///        img(width='57', height='54', src='assets/imag/posted-by.jpg')
                ///    p
                ///        a(href='#')
                ///            | James Foyer
                ///            span Senior Avalanche Forecaster
                ///    p
                ///        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                ///section#news-blog-pager
                ///    #news-blog-pager-left.pull-left.news-blog-pager-box
                ///        a.pager-arrows(href='#')
                ///            i.fa.fa-chevron-left
                ///        #news-blog-pager-older.news-blog-pager-text.hidden-xs
                ///            a(href='#')
                ///                span Older
                ///                br
                ///                | Share Your Knowledge
                ///    #news-blog-pager-right.pull-right.news-blog-pager-box
                ///        a.pager-arrows(href='#')
                ///            i.fa.fa-chevron-right
                ///        #news-blog-pager-newer.news-blog-pager-text.hidden-xs
                ///            a(href='#')
                ///                span Newer
                ///                br
                ///                | New Fundraiser for Avalanche Canada
        // /#news-blog-event-content
        #mobile-sidebar-container.col-xs-12.col-md-3
            aside
                .dark-ribbon
                .sidebar-inner
                    h3 Related
                    article.first.sidebar-related
                        h4
                            a(href='/news/VHeP1ykAACgAzhln/spaw-nov-28-2014') Special Public Avalanche Warning for BC Interior Ranges, Including North & South Rockies

                    article.first.sidebar-related
                        h4
                            a(href='/blogs/VHZ5mSgAACkAw7a8/developing-avalanche-scenario') Blog - Developing Avalanche Scenario and the Human Factor

                    article.first.sidebar-related
                        h4
                            a(href='/blogs/VG_qoCYAALYhWT3m/first-impressions') Blog - First Impressions
                    article.sidebar-related
                        h4
                            a(href='/news/VEVZWiYAACUATW97/new-website') News - New Website

                    ul.sidebar-related-links
                        li
                            a(href="https://twitter.com/intent/tweet?url={{url}}")
                                i.fa.fa-twitter.fa-fw.fa-lg
                        li
                            a(href="https://www.facebook.com/sharer/sharer.php?u={{url}}")
                                i.fa.fa-facebook.fa-fw.fa-lg
                        li
                            a(href="https://plus.google.com/share?url={{url}}")
                                i.fa.fa-google-plus.fa-fw.fa-lg
    .push
div.footer(ng-include='"components/footer/footer.html"')



