.full-height.page
    #news-blog-event-content.container
        #top-link.visible-xs-block
            i.fa.fa-chevron-up
            br
            | Top
        .row
            header.col-xs-12
                #header-inner
                    h1
                        | Recent
                        br.visible-xs-block
                        | News
                    #sponsor-desktop.hidden-xs
                        p Brought to you by
                        a(target='_blank', href='http://arcteryx.com')
                            img(src='assets/img/arcteryx-logo.jpg')
                    .blue-border
            #sponsor-mobile.col-xs-12.visible-xs-block
                #sponsor-mobile-inner
                    p.pull-left
                        | Brought
                        br
                        | to you by
                    a.pull-right(target='_blank', href='http://arcteryx.com')
                        img(src='assets/img/arcteryx-logo.jpg')
            // /#sponsor-mobile
            #filters.col-xs-12
                #filters-inner
                    .dropdown
                        // filter-year
                        #filter-year-dropdown.dropdown-filters.hidden-xs
                            button#filter-year.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                                | Year
                                i.fa.fa-chevron-down
                            ul.dropdown-menu(aria-labelledby='filter-year', role='menu')
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Another action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Something else here
                                li.last(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Separated link
                        // filter-year ends
                        // filter-month
                        #filter-month-dropdown.dropdown-filters.hidden-xs
                            button#filter-month.btn.btn-default.dropdown-toggle.hidden-xs(data-toggle='dropdown', type='button')
                                | Month
                                i.fa.fa-chevron-down
                            ul.dropdown-menu(aria-labelledby='filter-month', role='menu')
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Another action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Something else here
                                li.last(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Separated link
                        // filter-month ends
                        // filter-filter
                        #filter-filter-dropdown.dropdown-filters
                            button#filter-filters.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                                | Filters
                                span (00)
                                i.fa.fa-chevron-down
                            ul.dropdown-menu(aria-labelledby='filter-filters', role='menu')
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Another action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Something else here
                                li.last(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Separated link
                        // filter-filter
            // /#filters
            .col-xs-12
                #sponsor-ad-container
                    p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                    a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                        img.img-responsive(alt='Smith Optics', src='assets/img/sponsor-mobile-smith-logo.png')
            #news-blog-event-list-rows.col-xs-12.col-md-9
                // news list rows
                article.list-rows.list-row-1
                    section.news-blog-event-image
                        img(alt='', src='assets/img/news-article-test-pic.jpg')
                        ul.news-blog-event-social
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                                    | 25
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                                    | 12
                            li
                                a(href='#')
                                    i.fa.fa-eye
                                    | 63
                    header
                        span Featured
                        h2
                            a(href='#') Featured News Article
                    section.news-blog-event-body
                        p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            a(href='/') Watch now
                    footer
                        p
                            a(href='/') Source
                            i.fa.fa-circle
                            time(datetime='2008-02-14 20:00') Pub date here
                article.list-rows.list-row-2(ng-repeat=' document in documents.results')
                    header
                        h2
                            a(href='#/news/{{document.id}}/{{document.slug}}')
                                {{document.getText('news.title')}}
                    section.news-blog-event-body
                        p
                            | {{document.getStructuredText('news.shortlede').asText(ctx)}}
                    footer
                        p
                            a(href='#/news/{{document.id}}/{{document.slug}}') Read More
                            i.fa.fa-circle
                            time {{document.getDate('news.date') | date:'EEEE MMMM d, y h:mm a' }}
                // news-blog-event list rows ends
            // /#news-blog-event-list-rows
            #mobile-sidebar-container.col-xs-12.col-md-3
                aside
                    .dark-ribbon
                    .sidebar-inner
                        h3 Related
                        article.first.sidebar-related
                            h4
                                a(href='#') Spring Conditions Scenario Series
                            section.sidebar-related-author
                                | By
                                a(href='#') Karl Klassen
                            section.sidebar-related-pubdate Date 00, 0000
                        article.sidebar-related
                            h4
                                a(href='#') Avalanche Incident Description at Frisby Ridge, Revelstoke
                            section.sidebar-related-pubdate Date 00, 0000
                        article.last.sidebar-related
                            h4
                                a(href='#') Avalanche Incident Description at Frisby Ridge, Revelstoke
                            section.sidebar-related-pubdate Date 00, 0000
                        ul.sidebar-related-links
                            li.first
                                a(href='#') Related Data
                            li
                                a(href='#') Forecast Archive
                            li
                                a(href='#') Any Additional Links
                            li.last
                                h5 More Information
                                p
                                    | Mary Clayton
                                    br
                                    | Communications Director, Avalanche Canada
                                    br
                                    | mclayton@avalanche.ca
                                    br
                                    | 250.837.2141 (228)
                                    br
                                    | 250.837.1492
            // /#mobile-sidebar-container
    // /#news-blog-event-content





