.Day {
    position: relative;
    display: inline-block;
}

.Content {
    cursor: pointer;
    & button {
        /* SHAME This way it looks aligned */
        position: relative;
        top: 5px;

        outline: none;
    }
}
