@import '../../styles/colors.css';

@custom-media --header-horizontal (width > 600px);
@custom-media --side-by-side (width > 860px);
@custom-media --full-width (width > 1054px);
@custom-media --medium-width (width > 800px);
@custom-media --small-width (width > 600px);

.RestrictFullPageWidth {
    max-width: 1026px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;

    @media (--full-width) {
        padding: 0;
    }
}

.Page {
    position: relative;
}

.Content {
    composes: RestrictFullPageWidth;
    height: 100%;

    @media (--side-by-side) {
        display: flex;
        flex-direction: row;
    }
}

.Main {
    flex: 1 0 70%;
    height: 100%;
    /*  HACK: avalanche.ca/youth was overflowing and overflow hidden was not
        working on avalanche.ca/forecasts/archives.
        http://stackoverflow.com/questions/12022288/how-to-keep-a-flex-item-from-overflowing-due-to-its-text
    */
    min-width: 0;

    @media (--full-width) {
        padding: 0;
    }

    & > .Headline {
        margin: 1.5em 0;
        font-weight: 700;
    }

    @media (--side-by-side) {
        box-sizing: border-box;
    }
}

.Banner {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
    min-width: 100%;
    height: 300px;
    margin: 0;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @media (--medium-width) {
        height: 375px;
    }

    @media (--full-width) {
        height: 450px;
    }
}

.Article {
    width: 100%;
    position: relative;
}

.Header {
    composes: RestrictFullPageWidth;
    composes: import MainDecorator from '../markup/Br.css';
    composes: import RibbonDecorator from '../markup/Br.css';

    display: flex;
    flex-direction: column;

    position: relative;
    min-height: 5em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;

    & a {
        & svg {
            position: absolute;
            width: 32px;
            height: 32px;
        }
    }

    @media (--header-horizontal) {
        flex-direction: row;
        align-items: center;

        & > :first-child {
            flex: 1 0 66%;
        }

        & > :last-child {
            flex: 1 0 33%;
        }
    }
}

.ArticleHeader {
}

.Headline {
    font-size: 1rem;
}

.Section {
    clear: both;

    & .Headline {
        margin: 1.5em 0;
    }

    & div[data-oembed] {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 0;
        height: 0;

        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.Aside {
    flex: 1 0 30%;
    box-sizing: border-box;

    @media (--side-by-side) {
        padding-left: 1em;
    }
}

.Nav {
}

.Background {
    min-height: 100%;
    height: 100%;
    color: var(--black);
    text-align: center;

    & .Main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    & .Headline {
        font-size: 1.25rem;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('//s3-us-west-2.amazonaws.com/ac-assets/images/avalanche-gully.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }

    & h1 {
        font-size: 2.5em;
    }

    & br {
        line-height: 1.5;
    }
}

.Error {
    composes: Page;
    composes: Background;
}

.UnsupportedMap {
    composes: Error;

    height: auto;

    & section {
        text-align: left;
        margin: 0 1em;
    }

    & ul {
        font-size: 1.25em;
    }
}

.List {
    text-align: left;
    font-size: 1.25em;
    column-gap: 2em;

    & li {
        margin-bottom: 0.5em;
    }

    @media (--small-width) {
        column-count: 2;
    }
}

.WorkInProgress {
    composes: Background;

    &:after {
        background-image: url('//res.cloudinary.com/avalanche-ca/image/upload/c_crop,g_xy_center,h_3250,q_25,w_5370/v1476221240/03_14_15_AvCan_0101_tnszks.jpg');
        opacity: 0.35;
    }
}

.Link {
    composes: import Large from '../button/Button.css';
    composes: import Primary from '../button/Button.css';
}

.ContextMap {
    & :global(.mapboxgl-map) {
        height: 175px;

        @media (--side-by-side) {
            height: 225px;
        }
    }
}
