commands:
  boundary_client_install:
    command: "curl -fsS -d '{\"token\":\"api.d1ea9e181a-3872\"}' -H 'Content-Type: application/json' https://meter.boundary.com/setup_meter > setup_meter.sh && chmod +x setup_meter.sh && ./setup_meter.sh"
    cwd: /home/ec2-user
    test: true
  datadog_client:
    command: DD_API_KEY=90d5bf5b253a6a31ceffcb8eae4591d2 bash -c "$(curl -L https://raw.githubusercontent.com/DataDog/dd-agent/master/packaging/datadog-agent/source/install_agent.sh)"
    cwd: /home/ec2-user
    test: false
  logentries_client_install:
    command: wget https://raw.githubusercontent.com/logentries/le/master/install/linux/logentries_install.sh && bash logentries_install.sh
    test: false