
files:
    "/etc/nginx/conf.d/ebcustom.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 200M;

    "/etc/nginx/conf.d/proxy.conf":
        mode: "000755"
        owner: root
        group: root
        content: |

              server {
                   listen 8080;
                   server_name blogs.avalanche.ca;
                   return 301 https://www.avalanche.ca/blogs;
              }

              server {
                   listen 8080;
                   server_name old.avalanche.ca;
                   return 301 https://www.avalanche.ca/;
              }

              server {
                   listen 8080;
                   server_name avalanche.ca;
                   return 301 https://www.avalanche.ca$request_uri;
              }

              server {
                  listen 8080;

                  if ($http_x_forwarded_proto != 'https') {
                      return 301 https://$host$request_uri;
                  }


                  client_max_body_size 200M;
                  server_name www.avalanche.ca;

                  location /assets {
                      rewrite /assets/$ /index.html break;
                      rewrite /assets$ /index.html break;
                      rewrite /assets/(.*) /$1  break;
                      proxy_pass            https://ac-assets.s3.amazonaws.com;
                  }
                  location /cherry-bowl {
                      return 301 /cherry-bowl/;
                  }
                  location /cherry-bowl/ {
                      rewrite /cherry-bowl/$ /index.html break;
                      rewrite /cherry-bowl$ /index.html break;
                      rewrite /cherry-bowl/(.*) /$1 break;
                      proxy_pass     http://cherry-bowl.s3-website-us-west-2.amazonaws.com;
                  }
                  location /fxresources {
                      rewrite /fxresources/spring_ovw.pdf$ /pages/static-page/spring-conditions redirect;
                      rewrite /fxresources/(.*) /$1 break;
                      proxy_pass       https://avalancheca-assets.s3.amazonaws.com;
                      #proxy_set_header Host $host;
                  }

                  location /(forums|Forums){
                      return 403;
                  }

                  location /caa{
                      return 301 https://www.avalancheassociation.ca;
                  }

                  location /caf{
                      return 301 https://www.avalanche.ca/foundation;
                  }
                  location /kakwa{
                      return 301 http://www.yukonavalanche.ca/wx/weatherCAC.php?station=CACKAK;
                  }

                  location /getengaged {
                      return 307 https://app.etapestry.com/onlineforms/AvalancheCanadaFoundation/signup.html;
                  }

                  location /cac/about/(media|careers){
                      return 410;
                  }

                  location /cac/bulletins/(bulletin-disclaimer|danger-scale|subscribe){
                      return 410;
                  }

                  location / {
                      rewrite \/cac\/bulletins\/latest\/(.*) /forecasts/$1 permanent ;
                      rewrite \/cac\/bulletins\/latest$  / permanent ;
                      rewrite \/cac\/bulletins\/overview$  / permanent ;

                      rewrite \/cac\/forecasts$  permanent ;
                      rewrite \/cac\/forecasts/$  permanent ;

                      rewrite \/cac\/about\/vision-and-mission /about#vision permanent ;
                      rewrite \/cac\/about\/programs-and-services$ /about#programs permanent ;
                      rewrite \/cac\/about\/programs-and-services/(.*)$ /about permanent ;
                      rewrite \/cac\/about\/board-of-directors /about#board permanent ;
                      rewrite \/cac\/about\/staff /about#staff permanent ;
                      rewrite \/cac\/about\/service-awards /about#awards permanent ;
                      rewrite \/cac\/about\/news /news permanent ;
                      rewrite \/cac\/about\/donate /foundation permanent ;

                      rewrite \/cac\/forecasts$ / permanent ;
                      rewrite \/cac\/forecasts/$ / permanent ;

                      rewrite \/Forecasts\//$ /forecasts permanent ;
                      rewrite \/Forecasts/$   /forecasts permanent ;

                      rewrite \/news\/V-r0EyYAACcAbkKw.* \/news\/register-now permanent ;
                      rewrite \/news\/V8hpNyQAABuEOE6V.* \/news\/avalanche-canada-has-brand-new-youth-tool-boxes-available permanent ;
                      rewrite \/news\/V9Br8SYAACcAzxmI.* \/news\/calgary-foundation-grant-award permanent ;
                      rewrite \/news\/Vow8-R8AAFDJUq1b.* \/news\/transceiver-interference permanent ;
                      rewrite \/news\/VEV1hyYAAKwITagl.* \/news\/annual-report-2014 permanent ;
                      rewrite \/news\/VIDCKCsAACcAgEpK.* \/news\/donation-request-avalanche-canada permanent ;
                      rewrite \/news\/VL63mCUAACYAOeVo.* \/news\/canuck-splitfest-fundraiser-success-2015 permanent ;
                      rewrite \/news\/VL7ZgiUAACMAOilw.* \/news\/thunderstruck-fundraiser-donation-2015 permanent ;
                      rewrite \/news\/VNASWCUAAJQpqGrY.* \/news\/deep-winter-photo-challenge-fundraiser-2015 permanent ;
                      rewrite \/news\/VT_rPiYAACUAbasG.* \/news\/mountain-weather-forecast-summer permanent ;
                      rewrite \/news\/VftedR8AAIYAI8QW.* \/news\/acc-new-hut permanent ;
                      rewrite \/news\/ViGKDCEAAEwWNpIz.* \/news\/agm-2015 permanent ;
                      rewrite \/news\/VHZlwSgAACYAw466.* \/news\/boundary-changes-south-rockies permanent ;
                      rewrite \/news\/VH-XbykAACwAQbtc.* \/news\/arcteryx-deep-winter-photo-challenge-2014 permanent ;
                      rewrite \/news\/VJIKXCcAACYAFiD-.* \/news\/avalanche-awareness-days-2015 permanent ;
                      rewrite \/news\/VLbN0CMAALqmQ9tp.* \/news\/introduction-mountain-information-network permanent ;
                      rewrite \/news\/VRmZzR8AAOIMXMnP.* \/news\/agm-october-announcement permanent ;
                      rewrite \/news\/VZ7psx0AAB0AuUBl.* \/news\/recall-bd-jetforce-airbag permanent ;
                      rewrite \/news\/ViauYB0AAHAHUPr_.* \/news\/new-support-craig-kelly-fund permanent ;
                      rewrite \/news\/ViayAx0AAB4AURDZ.* \/news\/cora-shea-memorial-awards permanent ;
                      rewrite \/news\/VkDizCEAAJsBkh2d.* \/news\/bca-backcountry-basics-videos permanent ;
                      rewrite \/news\/VDbtkScAAKUBPZm5.* \/news\/introducing-avalanche-canada permanent ;
                      rewrite \/news\/VH5GLSMAACcAc0vA.* \/news\/snorider-brent-strand-announcement permanent ;
                      rewrite \/news\/VIockywAACsA-wP3.* \/news\/forecasts-inbox-rss permanent ;
                      rewrite \/news\/VL6NXiUAACYAOZA3.* \/news\/announcement-new-mountain-weather-forecast permanent ;
                      rewrite \/news\/VP9AZR4AACQAlToR.* \/news\/land-thundering-snow-launch permanent ;
                      rewrite \/news\/VRrR-x8AAKBCX0JI.* \/news\/recall-ortovox-s1 permanent ;
                      rewrite \/news\/VQh-RikAACgA6K4B.* \/news\/calgary-fundraiser-success-2015 permanent ;
                      rewrite \/news\/VdNwyB8AAE4Ln13g.* \/news\/al-hodgson-memorial-fund permanent ;
                      rewrite \/news\/VEbXGiYAACsAaNZV.* \/news\/five-snowmobile-safety-messages permanent ;
                      rewrite \/news\/VEbHaSYAACsAaLc_.* \/news\/tedx-talk-risk permanent ;
                      rewrite \/news\/VH-KSykAACkAQaCR.* \/news\/baw-success-2014 permanent ;
                      rewrite \/news\/VIivUisAACYAY0tp.* \/news\/avalanche-canada-widget-update permanent ;
                      rewrite \/news\/VIoEBSwAACsA-tKL.* \/news\/dramatic-rescue-clemina-creek permanent ;
                      rewrite \/news\/VEVy9CYAACQATaL-.* \/news\/justin-trudeau-message permanent ;
                      rewrite \/news\/VVtiryYAAOwJxyOO.* \/news\/recall-msr-snow-shovels permanent ;
                      rewrite \/news\/VMgrmyUAAJQpmL6o.* \/news\/min-how-to-videos permanent ;
                      rewrite \/news\/VjkZEB0AAB0AV7J4.* \/news\/annual-report-2015 permanent ;
                      rewrite \/news\/VkogLh8AAB0AI-ag.* \/news\/free-ast-youth-course-fernie permanent ;
                      rewrite \/news\/Vk4VIh4AAG8G0bZg.* \/news\/new-sponsor-g3 permanent ;
                      rewrite \/news\/VlN8siIAAFANmCkM.* \/news\/new-release-throttle-decisions permanent ;
                      rewrite \/news\/VlYciR0AADgEB1Sp.* \/news\/cross-border-collaboration-training permanent ;
                      rewrite \/news\/VpPu3h8AAKAFGUI2.* \/news\/avalanche-awareness-days-primer permanent ;
                      rewrite \/news\/VrOc4CsAACwA4KjU.* \/news\/pr-bc-coroner-avalanche-feb3 permanent ;
                      rewrite \/news\/VrjoXiYAAEwCjmRs.* \/news\/avalanche-ambassador-aad-revelstoke permanent ;
                      rewrite \/news\/VN0YqSYAACoAJakp.* \/news\/membership-drive permanent ;
                      rewrite \/news\/Vst0dyMAADoSu4_N.* \/news\/al-hodgson-memorial-award permanent ;
                      rewrite \/news\/Vplv7SMAAFQcaHWb.* \/news\/sfu-new-research-chair permanent ;
                      rewrite \/news\/VpV_lx8AAMUSIpac.* \/news\/min-update permanent ;
                      rewrite \/news\/VuxMXiwAALFL7Yyb.* \/news\/foundation-calgary-benefit-2016 permanent ;
                      rewrite \/news\/VjukhiMAACQA2fJX.* \/news\/new-office-space permanent ;
                      rewrite \/news\/VnHASR8AAIoSs8eR.* \/news\/thunderstruck-rsc-fundraiser permanent ;
                      rewrite \/news\/Vw6XMCkAAD9f09uB.* \/news\/craig-kelly-scholarship-awarded permanent ;
                      rewrite \/news\/Vx-6kSkAAEG1OTEL.* \/news\/advisories permanent ;
                      rewrite \/news\/Vk0CliEAAKIFhX3l.* \/news\/2015-service-award permanent ;
                      rewrite \/news\/Vh1iVx4AALsES5Zw.* \/news\/avalanche-ambassador-program-announcement permanent ;
                      rewrite \/news\/VyeeSiYAAASDd20a.* \/news\/land-of-thundering-snow permanent ;
                      rewrite \/news\/VpP3lB8AAKAFGXVS.* \/news\/canuck-splitfest-2016 permanent ;
                      rewrite \/news\/VK7R4iMAACMAM93b.* \/news\/snowmobile-loaners-2016 permanent ;
                      rewrite \/news\/VuhTEiwAAMEK1gWI.* \/news\/adjunct-professor-announcement permanent ;
                      rewrite \/news\/Vw_rICkAALuO27JE.* \/news\/royal-canadian-pacific-fundraiser permanent ;
  
                      rewrite \/events\/VvLeBSUAAJgDAgX6.* \/events\/asa-snowmobile-show-2016 permanent ;
                      rewrite \/events\/V-r2XyYAACcAblCX.* \/events\/spin-safety-fundraiser permanent ;
                      rewrite \/events\/VEFS_yYAACYARWyK.* \/events\/thunderstuck-fundraiser-2016 permanent ;
                      rewrite \/events\/V9bxeiYAACgA9jex.* \/events\/cardel-homes-movie-ruin-rose permanent ;
                      rewrite \/events\/V9By4yYAACgAz0Ni.* \/events\/agm-save-the-date-2016 permanent ;
                      rewrite \/events\/V7Sy6ycAACUAo4u_.* \/events\/bcsnowmobileshow_2016 permanent ;
                      rewrite \/events\/Vmdqex4AAB0AxBYc.* \/events\/youth-snow-safety-phoenixmnt-2016 permanent ;
                      rewrite \/events\/VnCZbR8AAFYKrNgo.* \/events\/aad-kananaskis-jan-2016 permanent ;
                      rewrite \/events\/VoQjoR8AADZzIjEZ.* \/events\/aad-whitewater-jan-2016 permanent ;
                      rewrite \/events\/VnCX1h8AAFYKrM88.* \/events\/lake-louise-staying-alive-2016 permanent ;
                      rewrite \/events\/VliqsR0AAOcTy0Ig.* \/events\/aad-general-announcement-2016 permanent ;
                      rewrite \/events\/VpfKah8AAI1FMEHK.* \/events\/aad-mtseymour-jan-2016 permanent ;
                      rewrite \/events\/Vpf4ACMAACQAX8yN.* \/events\/aad-bouldermnt-revelstoke-2016 permanent ;
                      rewrite \/events\/VsukNiMAACwavKfV.* \/events\/shreducation-yukon-feb-2016 permanent ;
                      rewrite \/events\/VmdsER4AAPYJxB90.* \/events\/aad-lake-louise-2016 permanent ;
                      rewrite \/events\/VoQkah8AAEZvIjSt.* \/events\/aad-khmr-jan-2016 permanent ;
                      rewrite \/events\/VlyuDyUAACUAnMJ-.* \/events\/baw-fernie-jan-2016 permanent ;
                      rewrite \/events\/Vo1p7yIAAMcFB2W7.* \/events\/aad-rossland-jan-2016 permanent ;
                      rewrite \/events\/VpfMIx8AAKlFMEwl.* \/events\/aad-crowsnestpass-jan-2016 permanent ;
                      rewrite \/events\/Vp1xcSYAACUAQUbq.* \/events\/aad-mtsima-jan-2016 permanent ;
                      rewrite \/events\/VlywoyUAACQAnNG8.* \/events\/shreducation-revelstoke-jan-2016 permanent ;
                      rewrite \/events\/VvHBBCwAAAisDiFM.* \/events\/avalanche-rescue-challenge-stewart-2016 permanent ;
                      rewrite \/events\/VvLUTCUAAMEAAc3N.* \/events\/saskatchewan-snowmobile-show-nov-2016 permanent ;
                      rewrite \/events\/VnCWSR8AAMoKrMX6.* \/events\/aad-garibaldi-jan-2016 permanent ;
                      rewrite \/events\/VpRUhx8AABsHG57y.* \/events\/aad-kakwa-feb-2016 permanent ;
                      rewrite \/events\/VpfOKCMAACIAXtdX.* \/events\/rumrunner-cherrybowl-presentation-2016 permanent ;
                      rewrite \/events\/VrJnQisAAGMj2Y_U.* \/events\/ascend-splitboard-fest-2016 permanent ;
                      rewrite \/events\/VrpuBSgAAEIC5kXJ.* \/events\/acc-cherrybowl-presentation-2016 permanent ;
                      rewrite \/events\/VK8DjSMAACUANEm1.* \/events\/foundation-calgary-fundraiser-2016 permanent ;
                      rewrite \/events\/VvBrrywAAHOKBjIg.* \/events\/bcsf-agm-pemberton-2016 permanent ;
                      rewrite \/events\/VkTj0CAAAB8AKQs5.* \/events\/staying-alive-khmr-dec-2015 permanent ;
                      rewrite \/events\/VmdlSR4AAAMNw_cW.* \/events\/aad-mt-cain-feb-2016 permanent ;
                      rewrite \/events\/VoQlZx8AAEZvIjpK.* \/events\/aad-fernie-alpine-resort-2016 permanent ;
                      rewrite \/events\/VownoR8AAIinUi2W.* \/events\/aad-apex-jan-2016 permanent ;
                      rewrite \/events\/VpRSkB8AAOELG5N2.* \/events\/aad-whistler-jan-2016 permanent ;
                      rewrite \/events\/VpmCByMAAFUcaOGm.* \/events\/aad-rmr-jan-2016 permanent ;
                      rewrite \/events\/VqkoRSQAACUAbEwW.* \/events\/youth-sled-day-revelstoke-2016 permanent ;
                      rewrite \/events\/VvLCACUAAMEAAWBL.* \/events\/avcan-agm-vancouver-fall-2016 permanent ;
                      rewrite \/events\/VyE6eiYAAJURUa72.* \/events\/caa-spring-conference-case-studies-2016 permanent ;
                      rewrite \/events\/VvF1CSwAAGKgDF2C.* \/events\/issw-2016-breckenridge permanent ;
                      rewrite \/events\/Vmdhxx4AAAQNw-Jb.* \/events\/aad-banff-jan-2016 permanent ;
                      rewrite \/events\/Vqfpwh4AACMAso45.* \/events\/aad-smithers-2016 permanent ;
                      rewrite \/events\/VvB06CwAAIqKBmhf.* \/events\/isc-2016-snowmobile permanent ;

                      proxy_pass  http://nodejs;
                      proxy_set_header   Connection "";
                      proxy_http_version 1.1;
                      proxy_set_header        Host            $host;
                      proxy_set_header        X-Real-IP       $remote_addr;
                      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                  }
              }

