
files:
    "/etc/nginx/conf.d/ebcustom.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 20M;

    "/etc/nginx/conf.d/proxy.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
              server {
                   listen 8080;
                   server_name avalanche.ca;
                   return 301 $scheme://www.avalanche.ca$request_uri;
              }

              server {
                  listen 8080;
                  client_max_body_size 50M;
                  server_name www.avalanche.ca;

                  location /assets {
                      rewrite /assets/$ /index.html break;
                      rewrite /assets$ /index.html break;
                      rewrite /assets/(.*) /$1  break;
                      proxy_pass            https://ac-assets.s3.amazonaws.com;
                  }
                  location /cherry-bowl {
                      return 301 /cherry-bowl/;
                  }
                  location /cherry-bowl/ {
                      rewrite /cherry-bowl/$ /index.html break;
                      rewrite /cherry-bowl$ /index.html break;
                      rewrite /cherry-bowl/(.*) /$1 break;
                      proxy_pass     http://cherry-bowl.s3-website-us-west-2.amazonaws.com;
                  }
                  location /fxresources {
                      rewrite /fxresources/(.*) /$1 break;
                      proxy_pass       https://avalancheca-assets.s3.amazonaws.com;
                      #proxy_set_header Host $host;
                  }

                  location /(forums|Forums){
                      return 403;
                  }

                  location /caa{
                      return 301 http://www.avalancheassociation.ca;
                  }

                  location /caf{
                      return 301 http://www.avalanche.ca/foundation;
                  }
                  location /kakwa{
                      return 301 http://www.yukonavalanche.ca/wx/weatherCAC.php?station=CACKAK;
                  }

                  location /cac/about/(media|careers){
                      return 410;
                  }

                  location /cac/bulletins/(bulletin-disclaimer|danger-scale|subscribe){
                      return 410;
                  }

                  location / {
                      rewrite \/cac\/bulletins\/latest\/(.*) /forecasts/$1 permanent ;
                      rewrite \/cac\/bulletins\/latest$  / permanent ;
                      rewrite \/cac\/bulletins\/overview$  / permanent ;

                      rewrite \/cac\/forecasts$  permanent ;
                      rewrite \/cac\/forecasts/$  permanent ;

                      rewrite \/cac\/about\/vision-and-mission /about#vision permanent ;
                      rewrite \/cac\/about\/programs-and-services$ /about#programs permanent ;
                      rewrite \/cac\/about\/programs-and-services/(.*)$ /about permanent ;
                      rewrite \/cac\/about\/board-of-directors /about#board permanent ;
                      rewrite \/cac\/about\/staff /about#staff permanent ;
                      rewrite \/cac\/about\/service-awards /about#awards permanent ;
                      rewrite \/cac\/about\/news /news permanent ;
                      rewrite \/cac\/about\/donate /foundation permanent ;

                      rewrite \/cac\/forecasts$ / permanent ;
                      rewrite \/cac\/forecasts/$ / permanent ;

                      proxy_pass  http://nodejs;
                      proxy_set_header   Connection "";
                      proxy_http_version 1.1;
                      proxy_set_header        Host            $host;
                      proxy_set_header        X-Real-IP       $remote_addr;
                      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                  }
              }

