services:
  sysvinit:
    rsyslog:
      enabled: true
      ensureRunning: true
      files: "/etc/rsyslog.conf"

commands:
    create_rsyslog_spool_dir:
        command: "mkdir -p /var/spool/rsyslog"

files:
  "/etc/papertrail-bundle.pem":
    mode: "000644"
    owner: root
    group: root
    source: "https://papertrailapp.com/tools/papertrail-bundle.pem"

  "/etc/rsyslog.conf":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
          # rsyslog v5 configuration file

          # For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
          # If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

          #### MODULES ####

          $ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
          $ModLoad imklog   # provides kernel logging support (previously done by rklogd)
          #$ModLoad immark  # provides --MARK-- message capability

          # Provides UDP syslog reception
          #$ModLoad imudp
          #$UDPServerRun 514

          # Provides TCP syslog reception
          #$ModLoad imtcp
          #$InputTCPServerRun 514


          #### GLOBAL DIRECTIVES ####

          # Use default timestamp format
          $ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

          # File syncing capability is disabled by default. This feature is usually not required,
          # not useful and an extreme performance hit
          #$ActionFileEnableSync on

          #### RULES ####

          # Log all kernel messages to the console.
          # Logging much else clutters up the screen.
          # kern.*                                                 /dev/console

          # Log anything (except mail) of level info or higher.
          # Don't log private authentication messages!
          *.info;mail.none;authpriv.none;cron.none                /var/log/messages

          # The authpriv file has restricted access.
          authpriv.*                                              /var/log/secure
          mail.*                                                  -/var/log/maillog
          cron.*                                                  /var/log/cron
          *.emerg                                                 *
          uucp,news.crit                                          /var/log/spooler
          local7.*                                                /var/log/boot.log


          # ### begin forwarding rule ###
          # The statement between the begin ... end define a SINGLE forwarding
          # rule. They belong together, do NOT split them. If you create multiple
          # forwarding rules, duplicate the whole block!
          # Remote Logging (we use TCP for reliable delivery)
          #
          # An on-disk queue is created for this action. If the remote host is
          # down, messages are spooled to disk and sent when it is up again.
          #$WorkDirectory /var/lib/rsyslog # where to place spool files
          #$ActionQueueFileName fwdRule1 # unique name prefix for spool files
          #$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
          #$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
          #$ActionQueueType LinkedList   # run asynchronously
          #$ActionResumeRetryCount -1    # infinite retries if host is down
          # remote host is: name/ip:port, e.g. 192.168.0.1:514, port optional
          #*.* @@remote-host:514
          # ### end of the forwarding rule ###

          $template PapertrailFormat,"%TIMESTAMP:::date-rfc3339% %HOSTNAME% %syslogtag%%msg:::sp-if-no-1st-sp%%msg:::drop-last-lf%\n" 
          # Finally include all config files in /etc/rsyslog.d. This allows overrides
          # of the default configuration above.

          $IncludeConfig /etc/rsyslog.d/*.conf

          # Setup TLS for TCP when sending to Papertrail
          $DefaultNetstreamDriverCAFile /etc/papertrail-bundle.pem # trust these CAs
          $ActionSendStreamDriver gtls # use gtls netstream driver
          $ActionSendStreamDriverMode 1 # require TLS
          $ActionSendStreamDriverAuthMode x509/name # authenticate by hostname
          $ActionSendStreamDriverPermittedPeer *.papertrailapp.com

          *.* @@logs4.papertrailapp.com:53664;PapertrailFormat



  "/etc/rsyslog.d/50-nginx-error.conf":
      mode: "000755"
      owner: root
      group: root
      content: |
          #######################################
          # ### nginx Error log Forwarding    ###
          #######################################
          $ModLoad imfile
          $InputFilePollInterval 10
          $PrivDropToGroup adm
          $WorkDirectory /var/spool/rsyslog

          #nginx Error file:
          $InputFileName /var/log/nginx/error.log
          $InputFileTag nginx-error:
          $InputFileStateFile stat-nginx-error
          $InputFileSeverity error
          $InputFilePersistStateInterval 20000
          $InputRunFileMonitor

          #$template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [3c69f1b6-85f4-4940-b1f2-a00a6a1999b3@41058 tag=\"nginx\"] %msg%\n"

  "/etc/rsyslog.d/50-nginx-access.conf":
      mode: "000755"
      owner: root
      group: root
      content: |
          #######################################
          # ### nginx Access log Forwarding   ###
          #######################################
          $ModLoad imfile
          $InputFilePollInterval 10
          $PrivDropToGroup adm
          $WorkDirectory /var/spool/rsyslog

          # nginx access file:
          $InputFileName /var/log/nginx/access.log
          $InputFileTag nginx-access:
          $InputFileStateFile stat-nginx-access
          $InputFileSeverity info
          $InputFilePersistStateInterval 20000
          $InputRunFileMonitor

  "/etc/rsyslog.d/50-nodejs.conf":
      mode: "000755"
      owner: root
      group: root
      content: |
          #########################################
          # ### Node.js Access log Forwarding   ###
          #########################################
          $ModLoad imfile
          $InputFilePollInterval 10
          $PrivDropToGroup adm
          $WorkDirectory /var/spool/rsyslog

          #nodejs logs
          $InputFileName /var/log/nodejs/nodejs.log
          $InputFileTag nodejs-log:
          $InputFileStateFile stat-nodejs-log
          $InputFileSeverity info
          $InputFilePersistStateInterval 20000
          $InputRunFileMonitor

