commands:
    create_rsyslog_spool_dir:
        command: "mkdir /var/spool/rsyslog"
files:
    "/etc/nginx/conf.d/ebcustom.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 20M;
    "/etc/nginx/conf.d/proxy.conf":
        mode: "000755"
        owner: root
        group: root
        source: "https://s3-us-west-2.amazonaws.com/ac-resources/proxy.conf"
    "/etc/rsyslog.d/22-papertrail.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [3c69f1b6-85f4-4940-b1f2-a00a6a1999b3@41058] %msg%\n"
            *.* @logs2.papertrailapp.com:49854
    "/etc/rsyslog.d/22-loggly.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [3c69f1b6-85f4-4940-b1f2-a00a6a1999b3@41058] %msg%\n"
            *.* @@logs-01.loggly.com:514;LogglyFormat
    "/etc/rsyslog.d/21-nginx-access-loggly.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            $ModLoad imfile
            $InputFilePollInterval 10
            $PrivDropToGroup adm
            $WorkDirectory /var/spool/rsyslog

            # nginx access file:
            $InputFileName /var/log/nginx/access.log
            $InputFileTag nginx-access:
            $InputFileStateFile stat-nginx-access
            $InputFileSeverity info
            $InputFilePersistStateInterval 20000
            $InputRunFileMonitor

            $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [3c69f1b6-85f4-4940-b1f2-a00a6a1999b3@41058 tag=\"nginx\"] %msg%\n"
            
            if $programname == 'nginx-access' then @@logs-01.loggly.com:514;LogglyFormat & ~
    "/etc/rsyslog.d/22-nginx-error-loggly.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            $ModLoad imfile
            $InputFilePollInterval 10
            $PrivDropToGroup adm
            $WorkDirectory /var/spool/rsyslog

            #nginx Error file:
            $InputFileName /var/log/nginx/error.log
            $InputFileTag nginx-error:
            $InputFileStateFile stat-nginx-error
            $InputFileSeverity error
            $InputFilePersistStateInterval 20000
            $InputRunFileMonitor

            $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [3c69f1b6-85f4-4940-b1f2-a00a6a1999b3@41058 tag=\"nginx\"] %msg%\n"

            if $programname == 'nginx-error' then @@logs-01.loggly.com:514;LogglyFormat & ~
    "/etc/rsyslog.d/23-nodejs-loggly.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            $ModLoad imfile
            $InputFilePollInterval 10
            $PrivDropToGroup adm
            $WorkDirectory /var/spool/rsyslog

            #nodejs logs
            $InputFileName /var/log/nodejs/nodejs.log
            $InputFileTag nodejs-log:
            $InputFileStateFile stat-nodejs-log
            $InputFileSeverity info
            $InputFilePersistStateInterval 20000
            $InputRunFileMonitor

            $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [3c69f1b6-85f4-4940-b1f2-a00a6a1999b3@41058 tag=\"nodejs\"] %msg%\n"

            if $programname == 'nodejs-log' then @@logs-01.loggly.com:514;LogglyFormat & ~