@import '../../styles/colors.css';

.Capped {
    cursor: pointer;
    position: relative;
    margin-bottom: 1.25em;

    &:before {
        content: 'More';
        position: absolute;
        top: auto;
        right: 0;
        bottom: -1.25em;
        left: 0;
        text-align: right;
        color: var(--primary);
    }

    &:after {
        content: '…';
    }
}
