.Carousel {
    overflow: hidden;
}

.PanelSet {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Panel {
    box-sizing: border-box;
    padding: 0.25em;
    flex: 1 0 100%;
    flex-basis: 33.33333%;
}

.ButtonSet {
    display: flex;
    justify-content: space-between;
    margin: 0.25em;
}
