.form-submission {
    h2 {
        font-family: Monserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 50px;
        line-height: 52px;

        @media screen and (max-width:$screen-phone) {
            font-size: 36px;
            line-height: 38px;
        }
    }

    h1 {
        font-family: Monserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 28px;
    }

    h3 {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
    }

    h4 {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }

    .btn-styled {
        font-family: Monserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-variant: small-caps;
        text-transform: lowercase;
        font-size: 16px;
        font-weight: bold;
        line-height: 23px;
        padding-top: 2px;
    }
}

.min-form {

    .required-info {
        background-color: $report-required-info;
        padding: 0 7.5px;

        label, .location-option {
            color: $main-gray--40;
            text-transform: uppercase;
            font-size: 14px;
        }

        .required-info-data {
            background-color: $white;
            padding: 0 7.5px;
            padding-top: 7.5px;
            margin-bottom: 7.5px;

            .form-group:nth-child(3) {
                margin-bottom: 7.5px;
            }
        }
    }

    .uploads {
        margin-top: 20px;
        border: 4px solid $white;
        padding: 0 7.5px;

        .form-subtitle {
            margin-left: 0;
        }
    }

    .form-left-column {
        padding-left: 0;
        padding-right: 0;

        @media screen and (min-width: $screen-desktop) {
            padding-right: 7.5px;
        }
    }

    .form-right-column {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 20px;

        input[type=number], input[type=text], input[type=datetime] {
            border: 1px solid $main-gray--40;
        }

        @media screen and (min-width: $screen-desktop) {
            border-left: 1px solid $main-gray--10;
            padding-right: 0;
        }
    }

    .form-group label small {
        font-weight: normal;
    }

    .form-subtitle {
        font-family: Monserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        margin: 7.5px;
    }

    .form-subsection {
        font-family: Monserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        margin: 10px 0 10px 0;
        color: #245EAC;
        padding: 10px 0;
    }

    .announcement {
        margin-bottom: 10px;
    }

    .fields-group {
        margin-top: 20px;

        .field {
            padding: 0;

            + .field {
                margin-top: 10px;
            }
        }

        .options {
            padding: 0;
            height: 100%;

            h4 {
                padding: 0;
            }

            .field-title, .radio, .checkbox, .number, .datetime-input, .textarea, .text {
                padding-left: 0;
                padding-right: 0;
                @media screen and (min-width: $screen-tablet) {
                    padding-right: 15px;
                }
            }
        }

        .number, .datetime-input, .text {
            label {
                width: 100%;
            }
            input {
                width: 100%;
            }
        }

        textarea {
            resize: vertical;
        }

        .column-left {
            padding-right: 0;
        }
    }

    @media screen and (min-width: $screen-desktop) {
        .radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
            margin-top: 10px;
        }
    }

    .radio.inline + .radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline + .checkbox.inline {
        margin-top: -5px;
    }

    .help-text {
        padding: 0;
        color: $main-gray--40;
        i {
            margin-right: 5px;
        }
    }

    .form-fields {
        border-bottom: 1px solid $main-gray--10;
        display: block;
    }

    .btn {
        border-radius:0;
        background-color: rgb(0, 86, 183) !important;
        color: white;
    }

    .btn-map {
        border: 1px solid $main-blue;
        background-color: $white;
        color: $main-blue;
        font-size: 25px;
        height: 40px;
        width: 40px;
        line-height: 38px;
        text-align: center;
    }

    .return-to-top {
        margin-top: 20px;

        .text {
            font-size: 12px;
        }
    }

    .error {
        color: #D82631;
    }

    .tab-text {
        color: $main-gray--40;
    }

    .submit-btn {
        float: right;
    }

    .back-btn {
        float: left;
    }

    .save-location {
        width: 10%;
        height: 34px;
        background-color: $main-blue;
        color: $white;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 38px;

        i {
            font-size: 22px;
        }

        + .error {
            margin-top: 5px;
        }
    }

    .latlng {
        width: 100%;
        display: inline-block;

        &.modified {
            width: 90%;
        }
    }

    .has-error .form-control {
        border-color: $error-red;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
        height: 34px;

        span {
            width: 100%;
        }
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .uploads {
        input[type=text] {
            height: 33px;
            padding-left: 5px;
            border: 1px solid $main-gray--40;
            border-left: 0;
        }
    }

    .footer-buttons {
        margin-top: 15px;
    }
}

.no-padding {
    padding: 0;
}


.submit-header {
    padding-left: 7.5px;

    h2 {
        margin: 0;
    }

    .submit-subheader {
        font-family: Monserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 21px;
    }
}

.map-modal {
    .modal-dialog {
        height: 80%;
    }

    .modal-content {
        height: 100%;
    }

    .modal-body {
        height: 100%;
        padding: 0;
    }

    .save-button {
        position: absolute;
        right: 0;
        z-index: 9999;
        border-radius: 0;
        background-color: $main-blue;
        color: white;
    }
}

.form-holder {
    padding: 0;
}
