.Main {
    display: flex;
    flex-flow: row wrap;

    & img {
        width: 100%;
    }
}

.Header {
    order: 1;
    flex: 1 1 100%;
    padding: 34px 0 36px;

    & > h1 {
        /* copied from app.css #header-inner */
        font-size: 5rem;
        line-height: 5.2rem;
        /*margin: 48px 0 0;*/
        font-weight: 700;
        /* to have the same L&F */
        margin-bottom: 28px;
    }
}

.ArticleHeader {

}

.Nav {
    order: 2;
    flex: 1 1 75%;
}

.Article {
    order: 3;
    flex: 1 1 75%;
}


/*reset*/
aside {
    margin-top: inherit !important;
    min-height: inherit !important;
    padding: inherit !important;
    margin-bottom: inherit !important;
    background: none !important;
}
.Aside {
    order: 4;
    flex: 1 1 25%;
}

.Footer {
    order: 5;
    flex: 1 1 100%;
}
