.Header {
    text-align: center;
    white-space: nowrap;
    margin: 25px;

    & > small {
        & time, & span {
            font-weight: bold;
        }
    }
}

.Footer {
    order: 5;
    height: 75px;
    line-height: 75px;
    vertical-align: middle;
    font-style: italic;
}
