.Footer {
    margin: 2em 0;
    font-style: italic;
}

/* SHAME: it should be handled by the component. */
.Page {
    & dl:first-child > dd > time {
        position: relative;
        top: -7px;
    }
}
