/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Sept. 18, 2014
*/

/* =Import Files for Mixin Usage - ETC
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables";
//bootstrap mixins
//@import "bootstrap/mixins";

//Mobile Multilevel SASS include
@import "_mobile_multilevel";

/* =Base Mobile Layout and Styles
----------------------------------------------------------------------------------*/

//buttons
.black-button {
	font-family:$font-family-google;
	background-color:#121212;
	color:#fff;
	@include font-size(1.6, 1.6);
	font-weight:bold;
	text-transform:uppercase;
	&:visited,
	&:hover,
	&:active,
	&:focus {
		text-decoration:none;
		color:#fff;
	}
	&:hover {
		background-color:#474747;
	}
	&:focus {
		background-color:#737373;
	}
	.fa-angle-right {
		@include font-size(2.0, 2.0);
		font-weight:bold;
	}
}
.blue-button {
	font-family:$font-family-google;
	background-color:#0056b7;
	color:#fff;
	@include font-size(1.6, 1.6);
	font-weight:bold;
	text-transform:uppercase;
	&:visited,
	&:hover,
	&:active,
	&:focus {
		text-decoration:none;
		color:#fff;
	}
	&:hover {
		background-color:#1e7be5;
	}
	&:focus {
		background-color:#4299fc;
	}
	.fa-angle-right {
		@include font-size(2.0, 2.0);
		font-weight:bold;
	}
}

.blue-border {
	height:8px;
	width:50px;
	background-color:#0056b7;
	position:absolute;
	bottom:0;
	left:0;
}

//end of custom classes


#page-wrap {
	width:100%;
	//min-height:1px;
	@include clearfix();
	position:relative;
}

/*header*/
#header {
	background-color:#fff;
	width:100%;
	height:75px;
	h1 {
		margin:14px 0 0 0;
		padding:0;
		text-decoration:none;
		@include hide-text();
		background:transparent url(http://www.avalanche.ca/assets/avalanche_canada.svg) no-repeat center center;
	}
	h1,
	h1 a {
		display:block;
        margin: 0px 0px 0px;
	}
	/*navigation*/
	#navigation {
		background-color:transparent;
    border:none;
    margin:0;
    .navbar-header {
    	height:75px;
    	@include clearfix();
    	#multi-expand {
    		margin:22px 28px 0 0;
    		padding:0;
    		border-radius:0;
    		border:none;
    		@include font-size(3.0, 3.0);
    		color:#b1b1b1;
				&:focus,
				&:hover {
					color:#b1b1b1;
				}
    	}
    	#nav-search {
    		float:right;
    		margin:26px 0 0 0;
    		@include font-size(2.0, 2.0);
    		color:#b1b1b1;
				&:focus,
				&:hover {
					color:#b1b1b1;
				}
    	}
    	//needs to be on tablet
    	#nav-donate {
    		float:right;
    		margin:0 28px 0 0;
    		background-color:#d82631;
    		color:#fff;
    		@include font-size(1.5, 2.4);
    		font-weight:bold;
    		display:block;
    		height:75px;
    		width:94px;
    		padding:24px 22px 30px 20px;
    	}
    }
	}
	/*navigation ends*/
}
/*header ends*/

/*map*/
// #map {
// 	padding-top:75px;
// 	min-height:616px;
// 	background-color:#7b7b7b;
// 	position:relative;
// }
/*map ends*/

/*sponsor-bar*/
#sponsor-bar {
	height:148px;
	#sponsor-ad-container {
		background-color:#eeeff1;
		min-height:90px;
		@include clearfix();
		margin:28px 0;
		padding-top:23px;
		#sponsor-link {
			img {
				@include center-block();
			}
		}

	}
}
/*sponsor-bar ends*/

/*know-more*/
#know-more {
    background-image:url(../assets/images/know-more-desktop-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
	//width:100%;
	//height:290px;
	//background:transparent url(#{$assets_path}/know-more-desktop-bg.jpg) center bottom no-repeat;
	article {
		padding-top:36px;
		@include clearfix();
		min-height:220px;
		header {
			min-height:100px;
			margin-bottom:18;
			clear:both;
			h2 {
        font-family:$font-family-google;
        font-weight:bold;
        color:#fff;
        @include font-size(3.6, 3.8);
				margin:0;
				span {
					  color:#121212;
            @include font-size(3.6, 3.8);
				}
			}
		}
		footer {
			min-height:135px;
			clear:both;
			a {
				display:block;
				width:230px;
				@extend .black-button;
				padding:22px 22px 20px 26px;
				clear:both;
				margin-bottom:12px;
			}

		}

	}
}
/*know-more ends*/

/*news*/
#news {
	min-height:400px;
	#news-articles {
		padding-bottom:30px;
		margin-bottom:30px;
		background:transparent url(#{$assets_path}/ribbon-bg.png) center bottom repeat-x;
		> header {
			padding:34px 0 36px 0;
			background:transparent url(#{$assets_path}/ribbon-bg.png) center bottom repeat-x;
			position:relative;
			h1 {
				color:#0056b7;
				@include font-size(3.6, 3.8);
				font-family:$font-family-google;
				margin:0;
				font-weight:bold;
				span {
					color:#121212;
				}
			}
		}
		> article {
			min-height:1px;
			@include clearfix();
			//first featured
			&.list-row-1 {
				margin:36px 0 22px 0;
				.news-image {
					min-height:1px;
					@include clearfix();
					img {
						border:4px solid #eeeff1;
					}
					.news-social {
						margin:0;
						padding:10px 0 0 0;
						list-style:none;
						display:inline;
						@include clearfix();
						li {
							margin:0 8px 0 0;
							list-style:none;
							display:inline;
							float:left;
							a {
								@include font-size(1.2, 1.2);
								color:#b5b5b5;
								&:visited,
								&:hover,
								&:active,
								&:focus {
									text-decoration:none;
									color:#b5b5b5;
								}
								.fa {
									@include font-size(1.4, 1.4);
								}
							}
						}
					}
				}
				header {
					padding-top:32px;
					padding-bottom:20px;
					min-height:1px;
					@include clearfix();
					//featured span
					span {
						@include font-size(1.6, 1.6);
						color:#ee3d3d;
						font-family:$font-family-google;
						font-weight:bold;
						text-transform:uppercase;
					}
					h2 {
						@include font-size(2.6, 2.6);
						margin:0;
						a {
							font-weight:bold;
						    @include font-size(2.6, 3.0);
						    color:#121212;
							&:visited,
							&:hover,
							&:active,
							&:focus {
								text-decoration:none;
							}
						}

					}
				}
				.news-body {
					p {
						@include font-size(1.5, 2.0);
						margin:0;
						color:#5b5b5b;
						a {
							color:#0056b7;
							font-weight:bold;
						}
					}
				}
				footer {
					margin-top:10px;
					margin-bottom:18px;
					min-height:1px;
					@include clearfix();
					p {
						color:#b5b5b5;
						margin:0;
						font-family:$font-family-google;
						@include font-size(1.1, 1.1);
						text-transform:uppercase;
						.fa {
							@include font-size(0.6, 0.6);
							padding:0 2px 0 3px;						}
						a {
						  @include font-size(1.1, 1.1);
						  color:#b5b5b5;
							&:visited,
							&:hover,
							&:active,
							&:focus {
								text-decoration:none;
							}
						}
					}
				}
			}
			&.list-rows {
				margin:18px 0;
				padding-top:18px;
				border-top:3px solid #eeeff1;
				header {
					min-height:1px;
					@include clearfix();
					h2 {
						@include font-size(2.0, 2.4);
						margin:0;
						a {
							font-weight:bold;
						  @include font-size(2.0, 2.4);
						  color:#121212;
							&:visited,
							&:hover,
							&:active,
							&:focus {
								text-decoration:none;
							}
							.fa-angle-right {
                                 margin-left: 10px;
								color:#0056b7;
								@include font-size(2.8, 2.4);
							}
						}
					}
				}
				footer {
					margin-top:12px;
					min-height:1px;
					@include clearfix();
					p {
						color:#b5b5b5;
						margin:0;
						font-family:$font-family-google;
						@include font-size(1.1, 1.1);
						text-transform:uppercase;
						.fa {
							@include font-size(0.6, 0.6);
							padding:0 2px 0 3px;						}
						a {
						  @include font-size(1.1, 1.1);
						  color:#b5b5b5;
							&:visited,
							&:hover,
							&:active,
							&:focus {
								text-decoration:none;
							}
						}
					}
				}
			}
		}
	}
}
/*news ends*/

/*videos*/
#videos {
	min-height:390px;
	@include clearfix();
	margin-bottom:36px;
	#video-featured {
		header {
			height:41px;
			position:relative;
			z-index:910;
			background-color:#121212;
			padding-left:182px;
			#header-bg {
				position:absolute;
				left:-15px;
				top:0;
				height:52px;
				width:182px;
				background:transparent url(#{$assets_path}/video-header-bg.png) left center no-repeat;
			}
		}
		#video-container {
			min-height:1px;
			@include clearfix();
			position:relative;
			z-index:900;
			background-color:#eeeff1;
			padding:4px;
			margin-top:-4px;
			#video-body {
				min-height:1px;
				@include clearfix();
				padding:10px 10px 16px 6px;
				p {
					margin:0;
					color:#5b5b5b;
					@include font-size(1.5, 2.2);
				}
			}
		}
	}
}
/*videos ends*/

/*blog*/
#blog {
	min-height:1px;
	@include clearfix();
	#blog-articles {
		min-height:1px;
		@include clearfix();
		background:transparent url(#{$assets_path}/ribbon-bg.png) center top repeat-x;
		padding-top:38px;
		#blog-header-wrap {
			> header {
				margin-bottom:22px;
				h2 {
					color:#121212;
					@include font-size(3.6, 3.8);
					font-family:$font-family-google;
					margin:0;
					font-weight:bold;
					span {
						color:#0056b7;
					}
				}
			}
			#blog-tagline-link {
				min-height:1px;
				@include clearfix();
				border-bottom:3px solid #eeeff1;
				padding-bottom:42px;
				p {
					color:#121212;
					@include font-size(2.6, 3.0);
					font-weight:bold;
					margin:0 0 36px 0;
				}
				a {
					display:block;
					width:230px;
					@extend .blue-button;
					padding:22px 22px 20px 26px;
					clear:both;
				}
			}
		}
		> article {
			min-height:1px;
			@include clearfix();
			&.list-rows {
				//margin:42px 0 38px 0;
				padding-top:32px;
				header {
					min-height:1px;
					@include clearfix();
					h3 {
						@include font-size(2.0, 2.4);
						margin:0;
						a {
							font-weight:bold;
						  @include font-size(2.0, 2.4);
						  color:#121212;
							&:visited,
							&:hover,
							&:active,
							&:focus {
								text-decoration:none;
							}
							&:hover {color:#0056b7;}
						}
					}
				}
				.blog-author {
					padding:26px 0 28px 0;
					p {
						@include font-size(1.5, 2.2);
						margin:0;
						color:#5b5b5b;
						font-weight:bold;
						a {
							color:#0056b7;
						}
					}
				}
				.blog-body {
					p {
						@include font-size(1.5, 2.2);
						margin:0;
						color:#5b5b5b;
						a {
							color:#0056b7;
							font-weight:bold;
						}
					}
				}
				footer {
					margin-top:12px;
					min-height:1px;
					@include clearfix();
					p {
						color:#b5b5b5;
						margin:0;
						font-family:$font-family-google;
						@include font-size(1.1, 1.1);
						text-transform:uppercase;
						a {
						  @include font-size(1.1, 1.1);
						  color:#b5b5b5;
							&:visited,
							&:hover,
							&:active,
							&:focus {
								text-decoration:none;
							}
						}
					}
				}
			}
			&.list-row-last {
				margin:42px 0 38px 0;
				border-top:3px solid #eeeff1;
			}
		}
	}
}
/*blog ends*/

/*communities*/
#communities {
	width:100%;
	min-height:100px;
	@include clearfix();
	padding-bottom:60px;
	background:transparent url(#{$assets_path}/ribbon-grey-bg.png) repeat left top;
	#dark-ribbon {
		width:100%;
		height:8px;
		background:transparent url(#{$assets_path}/ribbon-greydark-bg.png) repeat-x center center;
	}
	h3 {
		color:#121212;
		@include font-size(3.6, 3.8);
		font-family:$font-family-google;
		margin:35px 0;
		font-weight:bold;
	}
	.communities-box {
		margin-bottom:50px;
		.youtube-thumb {margin-bottom:22px;}
		p {
			@include font-size(1.5, 2.2);
			margin:0;
            word-wrap: break-word;
			a {
			  @include font-size(1.5, 2.2);
			  color:#0056b7;
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
				}
				&:hover {
					color:#1e7be5;
				}
				&:focus {
					color:#4299fc;
				}
			}
		}
		.posted-by {
			margin-top:10px;
			margin-bottom:36px;
			min-height:30px;
			@include clearfix();
			.poster-image {
				float:left;
				margin-right:9px;
			}
			.postername-date {
				//width:190px;
				//display:block;
				float:left;
				padding-top:6px;
			  @include font-size(1.1, 1.1);
			  color:#b5b5b5;
			  font-family:$font-family-google;
			  text-transform:uppercase;
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
				}
				&:hover {
					//color:#1e7be5;
				}
				&:focus {
					//color:#4299fc;
				}
			}
		}
		.blue-button {
			display:block;
			width:230px;
			padding:22px 22px 20px 26px;
			clear:both;
		}
	}
}
/*communities ends*/


/*auction*/
#auction {
	min-height:100px;
	@include clearfix();
	margin-bottom:74px;
	#auction-header {
		padding-top:34px;
		padding-bottom:14px;
		background:transparent url(#{$assets_path}/ribbon-bg.png) center bottom repeat-x;
		position:relative;
		h4 {
			color:#121212;
			@include font-size(3.6, 3.8);
			font-family:$font-family-google;
			margin:0;
			font-weight:bold;
			span {
				color:#0056b7;
			}
		}
	}
	#auction-tagline {
		color:#121212;
		@include font-size(1.6, 2.8);
		font-family:$font-family-google;
		font-weight:bold;
		text-transform:uppercase;
		padding-top:32px;
		padding-bottom:32px;
		border-bottom:2px solid #eeeff1;
	}
	#auction-time {
		color:#0056b7;
		@include font-size(1.6, 2.8);
		font-family:$font-family-google;
		font-weight:bold;
		text-transform:uppercase;
	  padding-top:32px;
		padding-bottom:32px;
		border-bottom:2px solid #eeeff1;
		margin-bottom:30px;
	}
	#auction-featured-item {
		h5 {
			margin:40px 0 34px 0;
			a {
				font-weight:bold;
			  @include font-size(2.6, 3.0);
			  color:#121212;
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
				}
				&:hover {color:#0056b7;}
			}
		}
		.auction-item-body {
			p {margin:0;}
			.auction-item-size-price {
				@include font-size(1.6, 2.8);
				font-family:$font-family-google;
				font-weight:bold;
				text-transform:uppercase;
				color:#121212;
				margin-bottom:6px;
				span {
					color:#b5b5b5;
				}
			}
			.auction-item-body {
				color:#5b5b5b;
				@include font-size(1.5, 2.2);
				margin-bottom:34px;
			}
			.auction-item-info {
				@include font-size(1.1, 2.8);
				font-family:$font-family-google;
				text-transform:uppercase;
				color:#b5b5b5;
				span {
					color:#121212;
				}
			}
		}
		footer {
			margin-top:28px;
			margin-bottom:28px;
			.auction-highest-bid {
				background-color:#eeeff1;
				padding:23px 18px 23px 19px;
				margin-bottom:10px;
				p {
					margin:0;
					color:#2f63c9;
					@include font-size(1.6, 1.6);
					font-family:$font-family-google;
					font-weight:bold;
					text-transform:uppercase;
					&.highest-amount {
						@include font-size(2.6, 2.6);
						color:#121212;
						margin-top:8px;
						font-family:$font-family-sans-serif;
					}
				}
			}
			.auction-bid-form {
				background-color:#eeeff1;
				padding:23px 18px 23px 19px;
				min-height:1px;
				@include clearfix();
				p {
					margin:0;
					color:#2f63c9;
					@include font-size(1.6, 1.6);
					font-family:$font-family-google;
					font-weight:bold;
					text-transform:uppercase;
					margin-bottom:12px;
				}
				form {
					.form-control {
						border:none;
						border-top:2px solid #d9d9d9;
						height:64px;
						@include font-size(2.4, 2.8);
					}
					.blue-button {
						display:block;
						width:134px;
						@extend .blue-button;
						padding:22px 22px 20px 26px;
						clear:both;
						border:none;
						float:right;
						margin-top:14px;
					}
				}
			}
		}
	}
	#auction-other {
		min-height:100px;
		@include clearfix();
		margin-top:24px;
		#auction-other-header {
			border-top:2px solid #eeeff1;
			background:transparent url(#{$assets_path}/ribbon-bg.png) center bottom repeat-x;
			position:relative;
			padding:34px 0;
			h4 {
				color:#121212;
				@include font-size(2.6, 2.6);
				font-family:$font-family-sans-serif;
				margin:0;
				font-weight:bold;
			}
		}
		article {
			min-height:10px;
			@include clearfix();
			padding:36px 0 40px 0;
			border-bottom:3px solid #eeeff1;
			header {
				h5 {
					@include font-size(2.0, 2.2);
					font-family:$font-family-sans-serif;
					margin:0;
					font-weight:bold;
					a {
						color:#0056b7;
						span {
							color:#121212;
							@include font-size(1.5, 2.2);
						}
						&:visited,
						&:hover,
						&:active,
						&:focus {
							text-decoration:none;
						}
						&:hover {
							color:#121212;
						}
						&:hover span {
							color:#0056b7;
						}
					}
				}
			}
			.auction-other-image {
				padding-top:18px;
				padding-bottom:22px;
				img {
					@include center-block();
				}
			}
			.auction-other-bid {
				p {
					color:#121212;
					@include font-size(1.5, 2.2);
					font-family:$font-family-sans-serif;
					margin:0;
					font-weight:bold;
				}
			}
			#view-auction {
				img {
					@include center-block();
				}
			}
			&.list-row-last {
				border-bottom:none;
				padding-bottom:0;
			}
		}
	}
}
/*auction ends*/

/*sub page typography examples*/
#sub-page-content {
	padding-bottom:30px;
	//classes
	.featured {color:#d82631;}
	//headers
	h1 {
		@include font-size(1.6, 2.8);
		font-family:$font-family-google;
		font-weight:bold;
		text-transform:uppercase;
		a {
		  @include font-size(1.6, 2.8);
			&:visited,
			&:hover,
			&:active,
			&:focus {
				text-decoration:none;
			}
		}
	}
	h2 {
		@include font-size(5.0, 5.2);
		font-family:$font-family-google;
		font-weight:bold;
		text-transform:uppercase;
		a {
		  @include font-size(5.0, 5.2);
			&:visited,
			&:hover,
			&:active,
			&:focus {
				text-decoration:none;
			}
		}
	}
	h3 {
		@include font-size(2.0, 2.4);
		font-weight:bold;
		a {
		  @include font-size(2.0, 2.4);
			&:visited,
			&:hover,
			&:active,
			&:focus {
				text-decoration:none;
			}
		}
	}
	h4 {
		@include font-size(1.8, 2.0);
		font-weight:bold;
		a {
		  @include font-size(1.8, 2.0);
			&:visited,
			&:hover,
			&:active,
			&:focus {
				text-decoration:none;
			}
		}
	}
	h5 {
		@include font-size(1.6, 1.8);
		font-weight:bold;
		a {
		  @include font-size(1.6, 1.8);
			&:visited,
			&:hover,
			&:active,
			&:focus {
				text-decoration:none;
			}
		}
	}
	h6 {
		@include font-size(1.4, 1.6);
		font-weight:bold;
		a {
		  @include font-size(1.4, 1.6);
			&:visited,
			&:hover,
			&:active,
			&:focus {
				text-decoration:none;
			}
		}
	}
	p {
		@include font-size(1.5, 2.2);
		color:#ebebeb;
		strong {
			@include font-size(1.5, 2.2);
			color:#121212;
		}
		em {
			@include font-size(1.5, 2.2);
			color:#b7b7b7;
		}
		a {
		  @include font-size(1.5, 2.2);
		  font-weight:bold;
			&:visited,
			&:hover,
			&:active,
			&:focus {
				text-decoration:none;
			}
		}
	}
	ul {
		li {
			@include font-size(1.5, 4.0);
			margin:0;
			color:#0056b7;
			p {
				margin:0;
				@include font-size(1.5, 4.0);
				color:#5b5b5b;
			}
			a {
			  @include font-size(1.5, 4.0);
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
				}
			}
		}
	}
	ul.border {
		list-style:none;
		li {
			border-bottom:2px solid #eeeff1;
			&:last-child {border-bottom:none;}
		}
	}
	ol {
		li {
			@include font-size(1.5, 4.0);
			margin:0;
			color:#0056b7;
			p {
				margin:0;
				@include font-size(1.5, 4.0);
				color:#5b5b5b;
			}
			a {
			  @include font-size(1.5, 4.0);
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
				}
			}
		}
	}
	blockquote {
	  border-left: 5px solid #eeeff1;
	  @include font-size(1.5, 2.2);
	  color:#5b5b5b;
	  strong {
		  @include font-size(1.5, 2.2);
		  color:#121212;
		  font-weight:bold;
	  }
	}
}


/*footer*/
#footer {
	height:214px;
	border-top:1px solid #e2e2e2;
	padding-top:20px;
	width:100%;
	ul {
		list-style:none;
		padding:0;
		margin:0;
		background:transparent url(#{$assets_path}/footer-menu-mobile-bg.png) 33% top no-repeat;
		display:block;
		min-height:1px;
		@include clearfix();
		li {
			list-style:none;
			display:block;
			width:40%;
			float:left;
			margin-bottom:30px;
			a {
			  @include font-size(1.5, 1.8);
			  color:#121212;
				&:visited,
				&:hover,
				&:active,
				&:focus {
					text-decoration:none;
				}
				&:hover {
					color:#0056B7;
				}
			}
		}
	}
	h6 {
		margin:0;
		padding:0;
		clear:both;
		color:#b7b7b7;
		@include font-size(1.5, 2.2);
		font-weight:normal;
	}
}
/*footer ends*/






