/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Sept. 15, 2014
*/

/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables";
//boostrap mixins
//@import "bootstrap/mixins";

/* =Desktop Layout and Styles
----------------------------------------------------------------------------------*/

/*header*/
#header {
	/*navigation*/
	#navigation {
		border:none;
		border-radius:0;
		.navbar-collapse {
			padding:0;
			border:none;
			/*main nav and mega yamm menu*/
			ul.nav {
				margin-left:77px;
				> li {
					//position:relative;
					> a {
						display:block;
						height:75px;
						color:#000;
						position:relative;
						@include font-size(1.5, 1.5);
						.arrow-down {
							position:absolute;
							z-index:$zindex-popover;
							bottom:-10px;
							width:0;
							height:0;
							border-left:10px solid transparent;
							border-right:10px solid transparent;
							border-top:10px solid #000;
							display:none;
						}
						&:focus,
						&:hover,
						&.active {
							color:#fff;
							background-color:#000;
							.arrow-down {display:block;}
						}
					}
					&.open {
						> a {
							color:#fff;
							background-color:#000;
							.arrow-down {display:block;}
						}
					}
				}
				#nav-avalanche-info .arrow-down {left:76px;}
				#nav-learn .arrow-down {left:23px;}
				#nav-community .arrow-down {left:43px;}
				#nav-news-events .arrow-down {left:51px;}
				#nav-store .arrow-down {left:22px;}
				.dropdown-menu {
					background-color:#efefef;
					left:0;
					border:none;
					box-shadow:none;
					padding:30px 0 46px 0;
					border-top:9px solid #e3e3e3;
					.mega-content-inner {
						border-right:5px solid #dcdcdc;
						min-height:286px;
						@include clearfix();
						&.last {border:none;}
					}

					h2 {
                        border-bottom: 5px solid #DCDCDC;
                        color:black;
                        padding-bottom: 10px;
						@include font-size(2.0, 2.2);
						margin:0 0 14px 0;
						a {
							font-weight:bold;
							@include font-size(2.0, 2.2);
							color:#121212;
			    		&:visited,
			    		&:hover,
			    		&:active,
							&:focus {
								text-decoration:none;
								color:#121212;
							}
							.fa-angle-right {
								@include font-size(2.4, 2.4);
								color:#0056b7;
								font-weight:bold;
							}
						}
					}
					.mega-secondary-menu {
						list-style:none;
						margin:0;
						padding:0;
						li {
							margin:0;
							padding:28px 0;
							border-bottom:2px solid #dcdcdc;
							&.first {padding-top:0;}
							&.last {
								padding-bottom:0;
								border:none;
							}
							h2 {
								@include font-size(2.0, 2.0);
								margin:0;
								a {
									font-weight:bold;
									@include font-size(2.0, 2.0);
									color:#121212;
					    		&:visited,
					    		&:hover,
					    		&:active,
									&:focus {
										text-decoration:none;
										color:#121212;
									}
									.fa-angle-right {
										@include font-size(2.4, 2.4);
										color:#0056b7;
										font-weight:bold;
									}
								}
							}
						}
					}
          //this needs to be renamed tertiray
					.mega-sub-menu {
						list-style:none;
						margin:0;
						padding:0;
						li {
							margin:0 0 10px 0;
							@include font-size(1.5, 1.5);
							padding-right:20px;
							a {
								font-weight:bold;
								@include font-size(1.5, 1.8);
								color:#0056b7;
				    		&:visited,
				    		&:hover,
				    		&:active,
								&:focus {
									text-decoration:none;
									color:#0056b7;
								}
							}
						}
					}
					p {
						color:#5b5b5b;
						@include font-size(1.5, 2.0);
						margin:0;
					}
				}
			}
    	#nav-donate-desktop {
    		float:right;
    		margin:0 0 0 -1px;
    		background-color:#d82631;
    		color:#fff;
    		@include font-size(1.5, 2.4);
    		font-weight:bold;
    		display:block;
    		height:75px;
    		//width:95px;
    		padding:24px 22px 30px 20px;
    		&:visited,
    		&:hover,
    		&:active,
				&:focus {
					text-decoration:none;
					color:#fff;
				}
				&:hover {
					background-color:#b2212a;
				}
    	}
			#nav-search-desktop {
    		float:right;
    		padding:26px 10px 26px 16px;
    		margin-right:-20px;
    		@include font-size(2.0, 2.0);
    		color:#b1b1b1;
    		&:visited,
    		&:hover,
    		&:active,
				&:focus {
					color:#b1b1b1;
				}
			}
		}
		/* http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click */
		ul.nav li.dropdown:hover > ul.dropdown-menu {
		  display: block;
		}
	}
	/*navigation ends*/
}
/*header ends*/

/*know-more*/
#know-more {
    article {
        footer {
            width:494px;
            padding-top:34px;
						a {
							clear:none;
							&.button-left {
								float:left;
							}
							&.button-right{
								float:right;
							}
						}
        }
    }
}
/*know-more ends*/

/*news*/
#news {
    #news-articles {
        min-height:1px;
        @include clearfix();
        > header {
        	margin:0 0 44px 0;
            h1 {
                @include font-size(5.0, 5.2);
                br {display:none;}
            }
        }
        > article {
            //first featured
            &.list-row-1 {
                margin:0;
                clear:none;
                width:510px;
                float:left;
                border-right:3px solid #eeeff1;
                min-height:278px;
                .news-image {
                    min-height:1px;
                    width:236px;
                    float:left;
                    @include clearfix();
                    img {margin-bottom:8px;}
                }
                header {
                    width:244px;
                    float:right;
                    padding-top:0;
                    padding-right:10px;
                }
                .news-body {
                    width:244px;
                    float:right;
                    padding-right:10px;
                }
                footer {
                    width:244px;
                    float:right;
                    padding-right:10px;
                }
            }
            &.list-rows {
                width:500px;
                float:right;
                clear:none;
                border-top:none;
                border-bottom:3px solid #eeeff1;
                margin:0 0 10px 16px;
                padding:0 0 16px 0;
            }
            &.list-row-last {border-bottom:none;}
        }
    }
}
/*news ends*/

/*videos*/
#videos {
    #video-featured {
			header {
					h2 {
						@include font-size(1.6, 1.6);
						margin:0;
						font-family:$font-family-google;
						padding-top:8px;
						a {
							font-weight:bold;
							text-transform:uppercase;
							@include font-size(1.6, 2.2);
							color:#fff;
			    		&:visited,
			    		&:hover,
			    		&:active,
							&:focus {
								text-decoration:none;
								color:#fff;
							}
						}
					}
			}
      #video-container {
          #video-body {
          	width:720px;
          	padding-top:24px;
          }
          #video-sponsor {
          	height:118px;
            background:transparent url(#{$assets_path}/video-sponsor-bg-desktop.png) center center no-repeat;
            padding-top:54px;
          }
      }
    }
}
/*videos ends*/

/*blog*/
#blog {
  #blog-articles {
      padding-top:42px;
      margin-top:8px;
      margin-bottom:68px;
      #blog-header-wrap {
       	width:500px;
      	float:left;
				#blog-tagline-link {
					border:none;
				}
      }
      > article {
        &.list-rows {
            width:262px;
            margin:0;
            padding:0 0 18px 18px;
            border-left:3px solid #eeeff1;
            border-right:none;
        }
        &.list-row-last {
            border-right:none;
        }
      }
  }
}
/*blog ends*/

/*communities*/
#communities {
    .communities-box {
        height:336px;
				.blue-button {
					display:block;
					width:100%;
					padding:22px 22px 20px 26px;
					clear:both;
				}
    }
		.posted-by {
			.postername-date {
				width:184px;
				display:block;
				float:right;
				text-align:left;
			}
		}
    #communities-twitter {
        border-right:3px solid #eeeff1;
        .posted-by {
            margin-bottom:80px;
        }
    }
    #communities-facebook {
    	border-right:3px solid #eeeff1;
        .posted-by {
            margin-bottom:36px;
        }
    }
    #communities-youtube {
        border-right:3px solid #eeeff1;
        .posted-by {
           margin-bottom:65px;
        }
    }
}
/*communities ends*/

/*auction*/
#auction {
  #auction-tagline-wrap {
    width:774px;
  }
  #auction-time-wrap {
    width:252px;
  }
  #auction-tagline {
    height:90px;
  }
  #auction-time {
    height:90px;
    p {
    	text-align:left;
    }
  }
  #auction-featured-item {
    .auction-featured-item-inner {
      width:50%;
      float:left;
    }
    footer {
      clear:none;
      width:50%;
      float:right;
      padding-top:8px;
      padding-bottom:0;
      margin-bottom:0;
      .auction-highest-bid {
      	margin:0;
      }
    }
  }

  #auction-other {
  	margin-top:62px;
  	clear:both;
  	#auction-other-header {margin-bottom:32px;}
  	article {
  		width:25%;
	  	padding-top:0;
	  	padding-bottom:6px;
      &.list-row-1,
      &.list-row-2,
      &.list-row-3,
      &.list-row-4 {
         border:none;
         border-right:3px solid #eeeff1;
      }
			&.list-row-last {
				border:none;
			}
  	}
  }

}
/*auction ends*/

/*footer*/
#footer {
    ul {
        float:left;
        clear:none;
    }
    h6 {
			float:right;
			clear:none;
      margin-top:4px;
      br {display:none;}
    }
}
/*footer ends*/
