/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Sept. 15, 2014
*/

/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables";
//boostrap mixins
//@import "bootstrap/mixins";

/* =Tablet Layout and Styles
----------------------------------------------------------------------------------*/

/*header*/
#header {
	h1 {background:transparent url(#{$assets_path}/logo.png) no-repeat center center;}
	h1,
	h1 a {
		width:264px;
		height:47px;
		display:block;
	}
	/*navigation*/
	#navigation {
        .navbar-header {
        	#nav-donate {
        		float:right;
        		margin:0 28px 0 0;
        		background-color:#d82631;
        		color:#fff;
        		@include font-size(1.5, 2.4);
        		font-weight:bold;
        		display:block;
        		height:75px;
        		width:94px;
        		padding:24px 22px 30px 20px;
                &:visited,
                &:hover,
                &:active,
                &:focus {
                    text-decoration:none;
                    color:#fff;
                }
                &:hover {
                    background-color:#b2212a;
                }
        	}
        }
	}
	/*navigation ends*/
}
/*header ends*/

/*sponsor-bar*/
#sponsor-bar {
    #sponsor-ad-container {
        padding:23px 16px 0 16px;
        #sponsor-text {
            float:left;
            font-family:$font-family-google;
            font-weight:bold;
            color:#121212;
            @include font-size(1.6, 1.6);
            text-transform:uppercase;
            padding:16px 0 0 0;
            margin:0;
        }
        #sponsor-link {
            float:right;
        }

    }
}
/*sponsor-bar ends*/

/*know-more*/
#know-more {
    height:243px;
    article {
        padding-top:50px;
        header {
            width:318px;
            float:left;
            clear:none;
            padding-top:16px;
            h2 {
                @include font-size(5.0, 5.2);
                span {@include font-size(5.0, 5.2);}
            }
        }
        footer {
            width:230px;
            float:right;
            clear:none;
        }
    }
}
/*know-more ends*/


#events {
    #events-articles {
        margin-bottom:30px;
        > header {
            h1 {
                @include font-size(5.0, 5.2);
                br {display:none;}
            }
        }
        > article {
            //first featured
            &.list-row-1 {
                margin:45px 0 22px 0;
                //@include clearfix();

                .news-image {
                    min-height:1px;
                    width:236px;
                    float:left;
                    @include clearfix();
                    img {margin-bottom:8px;}
                }
                header {
                    width:334px;
                    float:right;
                    padding-top:0;
                }
                .news-body {
                    width:334px;
                    float:right;
                }

                footer {
                    width:334px;
                    float:right;
                }
            }
        }
    }
}
/*events ends*/

/*news*/
#news {
    #news-articles {
        margin-bottom:30px;
        > header {
            h1 {
                @include font-size(5.0, 5.2);
                br {display:none;}
            }
        }
        > article {
            //first featured
            &.list-row-1 {
                margin:45px 0 22px 0;
                //@include clearfix();

                .news-image {
                    min-height:1px;
                    width:236px;
                    float:left;
                    @include clearfix();
                    img {margin-bottom:8px;}
                }
                header {
                    width:334px;
                    float:right;
                    padding-top:0;
                }
                .news-body {
                    width:334px;
                    float:right;
                }

                footer {
                    width:334px;
                    float:right;
                }
            }
        }
    }
}
/*news ends*/

/*videos*/
#videos {
    #video-featured {
        #video-container {
            #video-body {
                width:332px;
                padding:0;
                float:left;
                padding:18px 18px 18px 14px;
            }
            #video-sponsor {
                width:260px;
                height:166px;
                float:right;
                position:relative;
                z-index:910;
                top:-36px;
                right:0;
                background:transparent url(#{$assets_path}/video-sponsor-bg.png) center center no-repeat;
                padding-top:86px;
                #video-sponsor-link {
                    img {
                        @include center-block();
                    }
                }
            }
        }
    }
}
/*videos ends*/

/*blog*/
#blog {
    #blog-articles {
        padding-top:42px;
        margin-top:8px;
        margin-bottom:68px;
        #blog-header-wrap {
            > header {
                h2 {
                    @include font-size(5.0, 5.2);
                }
            }
        }
        > article {
            &.list-rows {
                margin:42px 0 0 0;
                padding:0 18px 38px 0;
                width:50%;
                float:left;
                border-right:3px solid #eeeff1;
            }
            &.list-row-last {
                padding:0 0 0 18px;
                border:none;
            }
        }
    }
}
/*blog ends*/

/*communities*/
#communities {
    .communities-box {
        height:336px
    }
    #communities-twitter {
        border-right:3px solid #eeeff1;
        .posted-by {
            margin-bottom:123px;
        }
    }
    #communities-facebook {
        .posted-by {
            margin-bottom:57px;
        }
    }
    #communities-youtube {
        border-right:3px solid #eeeff1;
        .posted-by {
            margin-bottom:59px;
        }
    }
}
/*communities ends*/

/*auction*/
#auction {
    #auction-header {
        min-height:100px;
        @include clearfix();
        padding-bottom:27px;
        h4 {
            @include font-size(5.0, 5.2);
            float:left;
        }
        #auction-sponsor {
            float:right;
            with:124px;
            p {
                margin:0 0 12px 0;
                @include font-size(1.1, 1.1);
                font-family:$font-family-google;
                font-weight:bold;
                text-transform:uppercase;
                color:#b5b5b5;
            }
        }
    }
    #auction-tagline-wrap,
    #auction-time-wrap {
        border-bottom:2px solid #eeeff1;
    }
    #auction-tagline-wrap {
        margin-left:20px;
        width:394px;
        padding:0 30px 0 0;
        border-right:2px solid #eeeff1;
    }
    #auction-time-wrap {
        margin-right:20px;
        width:206px;
        padding:0 0 0 30px;
    }
    #auction-tagline {
        height:156px;
        border-bottom:none;
        p {margin:0;}
    }
    #auction-time {
        height:156px;
        border-bottom:none;
        margin:0;
        p {
            margin:0;
            text-align:right;
        }
    }
    #auction-featured-item {
        padding-top:50px;
        clear:both;
        @include clearfix();
        .auction-featured-item-inner {
            width:50%;
            float:left;
        }
        footer {
            clear:both;
            padding-top:32px;
            padding-bottom:56px;
            min-height:1px;
            margin-bottom:0;
            @include clearfix();
            .auction-highest-bid {
                width:154px;
                float:left;
                margin-left:54px;
                height:135px;
                p.highest-amount {margin-top:30px;}
            }
            .auction-bid-form {
                width:335px;
                height:135px;
                float:left;
                margin:0 0 0 10px;
                form {
                    .form-control {
                        float:left;
                        width:158px
                    }
                    .blue-button {
                        margin:0;
                        clear:none;
                        float:left;
                        width:132px;
                    }
                }
            }
        }
    }
    #auction-other {
        margin-top:0;
        #auction-other-header {
            margin-bottom:35px;
        }
        article {
            padding:36px 40px 40px 16px;
            width:50%;
            float:left;
            border-bottom:none;
            &.list-row-1,
            &.list-row-3 {
                border-right:3px solid #eeeff1;
            }
            &.list-row-3,
            &.list-row-4 {
                border-top:3px solid #eeeff1;
            }
            &.list-row-last {
                padding-right:0;
            }
        }
    }
}
/*auction ends*/


/*footer*/
#footer {
    ul {
        background:none;
        display:inline;
        li {
            list-style:none;
            display:inline;
            float:left;
            margin:0;
            width:auto;
            padding:3px 26px 3px 0;
            margin:0 26px 0 0;
        }
        #footer-contact {border-right:3px solid #eeeff1;}
    }
    h6 {
        margin-top:30px;
        br {display:none;}
    }
}
/*footer ends*/
