//CAC Mobile Multi Level Sass
//Author: Chris Bovard - www.chrisbovard.com
//Sept. 8, 2014

/*multilevel - mobile menu*/
#menu {
	position:absolute;
	top:0;
	left:0;
	z-index:$zindex-navbar;
	#menu_multilevelpushmenu {
		h2 {
			@include font-size(2.4, 2.4);
			color:#b1b1b1;
			font-weight:normal;
	    margin:0;
			padding:18px 14px 26px 24px;
			i.fa-times {
				padding:6px 6px 0 10px;
				width:40px;
				height:40px;
			}
			#multinav-home {
				@include font-size(2.4, 2.4);
				color:#b1b1b1;
				display:block;
				width:40px;
				height:40px;
				padding:6px 0 0 6px;
				position:relative;
				z-index:$zindex-dropdown;
		    &:hover {
		    	color:#b1b1b1;
		    }
			}
		}
		.ltr {
			//background-color:#efefef;
			background:#efefef url(/assets/images/multi-nav-layer-1-bg.png) left 75px repeat-x;
			box-shadow:none;
			ul {
				li {
					border:none;
					padding:26px 98px 0 30px;
					&:hover {
						background-color:transparent;
					}
					a {
						color:#121212;
						@include font-size(2.0, 2.4);
						font-weight:bold;
						.fa-angle-left {display:none;}
						padding:0;
						&:focus,
						&:hover {
							color:#0056b7;
						}
					}
				}
				#multilevel-donate {
					padding-left:11px;
					a {
						color:#fff;
						background-color:#d82631;
						display:block;
						width:180px;
						height:53px;
						padding:18px 0 18px 11px;
						@include font-size(2.0, 2.0);
		    		&:visited,
		    		&:hover,
		    		&:active,
						&:focus {
							text-decoration:none;
							color:#fff;
						}
						&:hover {
							background-color:#b2212a;
						}
					}
				}
			}

			//2nd level
			.ltr {
				background:#e0e0e0 url(/assets/images/multi-nav-layer-2-bg.png) left 75px repeat-x;
				box-shadow:none;
				padding-top:84px;
				h2 {
					//going to hide the h2 title for now***
					display:none;
					color:#121212;
					@include font-size(2.0, 2.4);
					font-weight:bold;
					padding:20px 98px 0 30px;
					&:focus,
					&:hover {
						color:#0056b7;
					}
				}
				ul {
					li {
						a {
							color:#0056b7;
							&:focus,
							&:hover {
								color:#121212;
							}
						}
					}
				}
				//3rd level
				.ltr {
					background-color:#d2d2d2;
					background:#d2d2d2 url(/assets/images/multi-nav-layer-3-bg.png) left 75px repeat-x;
					box-shadow:none;
				}
			}
		}
		.backItemClass {
			position:absolute;
			top:24px;
			right:20px;
			visibility:visible !important;
			padding:0;
			background-color:transparent;
			border:none;
			a {
				@include font-size(2.4, 2.4);
				color:#b1b1b1;
				font-weight:normal;
				padding:0;
				i {
					@include font-size(2.6, 2.6);
					color:#b1b1b1;
					font-weight:bold;
					&:focus,
					&:hover {
						color:#b1b1b1;
					}
				}
				&:focus,
				&:hover {
					color:#b1b1b1;
				}
			}
		}
	}
}
/*multilevel - mobile menu ends*/







