$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

@import "scss/_custom_cac_variables";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins';

//320 mobile styles and up
@import "scss/_base_mobile.scss";

//Tablet Styles 600px
@media screen and (min-width: $screen-tablet) {
  @import "scss/_breakpoint_tablet.scss";
}

//Desktop Styles 1025
@media screen and (min-width: $screen-desktop) {
  @import "scss/_breakpoint_desktop.scss";
}

// Component styles are injected through grunt
// injector
@import 'avalanchecanada/blogs/blogs.scss';
@import 'avalanchecanada/collaborators/collaborators.scss';
@import 'avalanchecanada/events/events.scss';
@import 'avalanchecanada/forecasts/forecast_base.scss';
@import 'avalanchecanada/forecasts/forecast_desktop.scss';
@import 'avalanchecanada/forecasts/forecast_tablet.scss';
@import 'avalanchecanada/forecasts/forecasts.scss';
@import 'avalanchecanada/main/main.scss';
@import 'avalanchecanada/news/news.scss';
@import 'avalanchecanada/submit/submit.scss';
@import 'avalanchecanada/tutorial/tutorial.scss';
@import 'foundation/foundation.scss';
@import 'scss/_ac_theme.scss';
@import 'scss/_ast_pages.scss';
@import 'scss/_base_mobile.scss';
@import 'scss/_breakpoint_desktop.scss';
@import 'scss/_breakpoint_phone.scss';
@import 'scss/_breakpoint_tablet.scss';
@import 'scss/_custom_cac_variables.scss';
@import 'scss/_min_landing.scss';
@import 'scss/_mobile_multilevel.scss';
@import 'scss/_news_events_blogs.scss';
@import 'scss/_prismic_content.scss';
@import 'scss/_slideout_nav.scss';
@import 'scss/_whistler_card.scss';
@import 'scss/_youth.scss';
@import 'scss/ie.scss';
@import 'footer/footer.scss';
@import 'foundation_footer/footer.scss';
@import 'foundation_navbar/navbar.scss';
@import 'map/drawer.scss';
@import 'map/forecast-mini.scss';
@import 'map/icons.scss';
@import 'map/loading-indicator.scss';
@import 'navbar/navbar.scss';
@import 'sidebar/sidebar.scss';
// endinjector
