.container
    .row
        .col-md-4.col-md-offset-2(style="background: url('http://www.avalanche.ca/assets/avalanche_canada.svg') no-repeat scroll center center transparent; width: 264px; height: 100px; display: block;")
    .row
        .col-md-8.center-block
            h2 For best results on your mobile device, please download our Avalanche Canada application.
    .row
        .col-md-4.col-md-offset-2
            .center-block
                a(href='https://play.google.com/store/apps/details?id=com.idearebel.avalanchereports')
                    img(alt='Get it on Google Play', src='https://developer.android.com/images/brand/en_generic_rgb_wo_45.png')
    .row
        .col-md-4.col-md-offset-2
            a(style='display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}', target='itunes_store', href='https://itunes.apple.com/ca/app/avalanche-canada/id348430895?mt=8&uo=4')
    .row
        .col-md-4.col-md-offset-2
            a(href='/')
                button.btn.btn-default(type='button' style='background-color: #121212;color: #FFF;font-size: 1.6rem;line-height: 1.6rem; width:135px;height:40px;') Website
