div(ng-include='"components/navbar/navbar.html"')

div#alert(ng-controller="AlertCtrl" collapse="true")
    alert( type='{{alert.type}}') {{alert.msg}}

div(ui-view='' ng-class='pageClass' autoscroll='true')
