nav(id="app-pushmenu" responsive-push-menu='')

main(id="app-body")
  div(ng-include='"components/navbar/navbar.html"')


  div(ng-controller="HighlighCtrl")
      toast

  div(ui-view='' ng-class='pageClass')
