/* CAC Custom AST Page styles
 * Author: Chris Bovard - www.chrisbovard.com
 * May 20, 2015
*/


/* =Styles AST Providers and Courses Pages
----------------------------------------------------------------------------------*/


//Mobile
#ast-search-bar {
  //margin-top:75px;
  width:100%;
  min-height:125px;
  @include clearfix();
  &.ast-providers {
    background:#377cd9 url(../assets/images/ast-search-bar-providers-bg.jpg) no-repeat center center;
    background-size:auto 100%;
  }
  &.ast-courses {
    background:#ccc url(../assets/images/ast-search-bar-courses-bg.jpg) no-repeat center center;
    background-size:auto 100%;
  }
  #ast-search-nav {
    width:100%;
    height:72px;
    border-top:6px solid #1e59a9;
    background-color:#000;
    ul {
      margin:0;
      padding:0;
      list-style:none;
    }
    li {
      padding:0;
      margin:0;
      list-style:none;
      float:left;
      > a {
        display:block;
        height:66px;
        padding:22px 20px 10px 20px;
        color:#fff;
        position:relative;
        @include font-size(1.6, 2.2);
        font-family:$font-family-google;
        font-weight:bold;
        text-transform:uppercase;
        text-decoration:none;
        background-color:transparent;
        &:visited,
        &:hover,
        &:active,
        &:focus {
          background-color:transparent;
        }
        &:hover,
        &.active {
          background-color:#377cd9;
          .arrow-down {display:block;}
        }
        .arrow-down {
          position:absolute;
          top:0px;
          width:0;
          height:0;
          border-left:10px solid transparent;
          border-right:10px solid transparent;
          border-top:10px solid #1e59a9;
          display:none;
        }
      }
    }
    #nav-courses .arrow-down {left:49px;}
    #nav-providers .arrow-down {left:57px;}
  }
  #ast-search-filters {
    height:398px;
    h1 {
      @include font-size(3.6, 3.8);
      font-family:$font-family-google;
      font-weight:bold;
      text-align:left;
      margin:18px 0 20px 0;
    }
    .dropdown-filters {
      .dropdown-filters-inner {
        position:relative;
      }
      button {
        border:none;
        background-color:#eeeff1;
        @include font-size(1.6, 2.8);
        color:#808080;
        height:60px;
        width:80%;
        padding:0 14px;
        text-align:left;
        margin-bottom:10px;
        .fa {
          color:#0056b7;
          float:right;
          @include font-size(1.6, 3.0);
        }
        .fa-chevron-up {display:none;}
        .fa-chevron-down {display:inline-block;}
      }
      &.open {
        .fa-chevron-up {display:inline-block;}
        .fa-chevron-down {display:none;}
      }
      .dropdown-menu {
        top:60px;
        margin:0;
        padding:8px 0;
        border-radius:0;
        border:none;
        box-shadow:none;
        width:80%;
        background-color:#1e59a9;
        @include font-size(1.6, 2.8);
        li {
          @include font-size(1.6, 2.8);
          color:#fff;
          a {
            @include font-size(1.6, 4.8);
            color:#fff;
            padding:0 14px;
            &:visited,
            &:hover,
            &:active,
            &:focus {
              color:#fff;
              text-decoration:none;
            }
            &:hover {
              text-decoration:none;
              background-color:transparent;
            }
          }
        }
      }
    }
    #location-filter {
      .input-group {
        background-color:#eeeff1;
        width:80%;
        height:60px;
        padding:0 14px;
        margin-bottom:10px;
      }
      .form-control {
        padding:0;
        float:left;
        width:94%;
        height:60px;
        background-color:transparent;
        border:none;
        @include font-size(1.6, 2.8);
        color:#808080;
        text-align:left;
        box-shadow:none;
      }
      #location-addon {
        float:left;
        width:6%;
        @include font-size(1.6, 3.0);
        .fa {
          color:#0056b7;
          @include font-size(2.0, 6.0);
          float:right;
        }
      }
    }
    #submit-filter {
      button {
        clear:both;
        display:block;
        padding:0 24px;
        height:60px;
        border:none;
      }
    }

    .row:last-child {
      margin-top: 1em;
    }
  }
}

#ast-page-content {
  min-height:200px;
  @include clearfix();
  margin-top:5px;
  margin-bottom:60px;
  position:relative;
  //mobile only
  .table-responsive {
    padding-bottom:20px;
    border:none;
  }
}
#header-inner {
  h2 {
    @include font-size(3.6, 3.8);
    font-family:$font-family-google;
    font-weight:bold;
    float:left;
    margin:18px 0 0 0;
  }
  @include clearfix();
  background:transparent url(../assets/images/ribbon-bg.png) center bottom repeat-x;
  position:relative;
  padding:0 0 34px 0;
}
#ast-table {
  thead {
    tr {
      th {
        padding-bottom:24px;
        padding-top:22px;
        padding-left:16px;
        font-family:$font-family-google;
        font-weight:bold;
        text-transform:uppercase;
        @include font-size(1.6, 2.8);
        color:#b5b5b5;
        border-left:2px solid #eeeff1;
        border-right:2px solid #eeeff1;
        border-bottom:2px solid #eeeff1;
      }
      &.space {
        th {
          padding-top:10px;
          padding-bottom:10px;
          border:none;
        }
      }
      &.sponsors-head {
        background-color:#000;
        th {
          color:#fff;
          font-family:$font-family-google;
          font-weight:bold;
          text-transform:uppercase;
          @include font-size(1.6, 1.6);
          border:none;
          padding:10px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        border-top:none;
        @include font-size(1.5, 2.2);
        padding:16px 10px 16px 10px;
      }
      &.sponsors {
        background:transparent url(../assets/images/ribbon-bg.png) repeat;
        td {
          border-bottom:2px solid #fff;
          font-weight:bold;
        }
      }
      &.sponsor-last {
        td {border-bottom:5px solid #000;}
      }
    }
  }
}
.table {
  margin:0;
  tbody {
    tr {
      td {
        border-top:none;
        border-bottom:2px solid #eeeff1;
        @include font-size(1.5, 2.2);
        padding:16px 10px 16px 10px;
      }
      &.more-info {
        background-color:#eeeff1;
        td {
          font-weight:normal !important;
          color:#5b5b5b;
          @include font-size(1.5, 2.8);
          strong {
            font-weight:bold;
            color:#000;
            @include font-size(1.5, 2.8);
          }
          a {
            color:#5b5b5b;
            @include font-size(1.5, 2.8);
            &:visited,
            &:hover,
            &:active,
            &:focus {
              color:#5b5b5b;
              text-decoration:none;
            }
            &:hover {
              text-decoration:none;
            }
          }
        }
      }
    }
  }
}
//end of mobile styles


//Tablet Styles
@media screen and (min-width: $screen-tablet) {

  #ast-search-bar #ast-search-filters h1 {
    @include font-size(5.0, 5.2);
    margin:40px 0 20px 0;
  }
  #header-inner {
    h2 {
      @include font-size(5.0, 5.2);
      margin:28px 0 0 0;
    }
  }
  .filters .filters-inner a {
    width:50%;
    border-left:none;
    //&.last {border-right:2px solid #eeeff1;}
  }
}
//end of tablet styles

//Desktop Styles
@media screen and (min-width: $screen-desktop) {
  .date-picker-container {
    margin: 5px 0 0 -30px;
  }

  #ast-search-bar {
    &.ast-providers {
      background-size:100% auto;
    }
    &.ast-courses {
      background-size:100% auto;
    }
  }
  #ast-search-bar {
    min-height:466px;
  }
  #ast-search-bar #ast-search-filters h1 {
    margin:80px 0 30px 0;
  }
  #header-inner {
    h2 {
      margin:48px 0 0 0; //dekstop
    }
  }
  #ast-search-bar #ast-search-filters .dropdown-filters button,
  #ast-search-bar #ast-search-filters #location-filter .input-group {
    width:100%;
    margin:0;
  }
  #ast-search-bar #ast-search-filters .dropdown-filters .dropdown-menu {width:100%;}
  .filters .filters-inner a {
    width:25%;
    &.last {border-right:none;}
  }
}
