.ac-observation-drawer {
    h3 {
        font-family: Monserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .nav-pills li {
        width: 20%;
    }

    .full-page-link, .print-link{
        cursor:pointer;
    }

    .close-drawer {
        cursor: pointer;
        margin-right: 20px;
        font-size: 1.2em;
        color: $main-gray;
    }

    .section-label {
        color: $main-gray--40;
        margin-top: 15px;
        margin-bottom: 3px;
        span {
            font-size: 0.8em;
            text-transform: uppercase;
            font-family: Monserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: bold;
            padding-left: 5px;
        }

    }

    .submission-header {
        p {
            padding-left: 15px;
            margin-bottom: 0px;
            span {
                text-decoration: underline;
            }
        }
    }

    .upload-n-share{
        padding-top: 0px;
        .section-label{
            margin-bottom: 5px;
        }
        .row{
            margin-bottom: 15px;
        }
        .fa-twitter{
            color: $color-twitter;
        }
        .fa-facebook{
            color: $color-facebook;
        }
        .fa-google-plus{
            color: $color-gplus;
        }
    }

    .submission-details{
        .section-label{
            margin-bottom: 10px;
        }
    }

}

.ac-observation-fullpage{
    .close-drawer{
        display: none;
    }
}

.ac-forecast-mini{
    .close-drawer {
        cursor: pointer;
        margin-right: 20px;
        margin-top: 15px;
        font-size: 1.2em;
        color: $main-gray;
    }
}

.terrain-list {
    list-style-type: none;
    padding: 0;
}

.terrain-highlight {
    color: #d82631;
    font-weight: bold;
}

.terrain-title {
    color: #245EAC;
}

.terrain-icon {
    padding-top: 3px;
}

@media print {
    .ac-observation-fullpage{
        .close-drawer, .print-link, a#back-link, a.pull-right, .share-report{
            display: none!important;
        }
    }
}
