// mini forecast card

.ac-forcast-mini--wbc-logo {
  margin-bottom: 0.75em;

  .wbc-logo {
  }

  .whs-logo {
    margin-right: 55px;
  }

  .xc-logo {
    margin-top: 9px;
  }
}

.ac-forecast-mini--whistler-links {
  .social-media {
    text-align:right;
    i {
      font-size: 40px;
    }
  }
}

// full page forecast

#forecast {
  article header #header-inner h1.forecast-wbc {
    margin-top: 0;
    max-width: 66%;
  }
  article header #header-inner #forecast-sponsor-desktop.forecast-wbc {
    width: 33%;
  }
}
