
.ac-forcast-mini--wbc-logo {
  background: #BF2C37;
  padding: 5px;

  svg {
    display: inline-block;
    width: 150px;
    height: 44px;
    fill: rgb(255, 255, 255);
  }
}

.ac-forecast-mini--whistler-links {
  .social-media {
    text-align:right;
    i {
      font-size: 40px;
    }
  }
}
