
.youth__header-image {
  margin: 0;
  min-width: 100%;
  padding: 0;
  background: url(../assets/images/youth/header-big.jpg);
  height: 400px;
  background-size: cover;
  margin-top: 75px;

}

.youth__header-text {
  margin-bottom: 3em;
}

.youth__content {
  @extend #news-blog-event-content;
  margin-top: 0;
  
  #header-inner {
    padding-top: 0;
  }

}

.youth__social-media {
  @extend .row;
}

.youth__social-media__icon {
  @extend .col-xs-3;

  display:block;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  span.fa { 
    font-size: 3em;
    display: block;
  }
}
#news-blog-event-landing-content .youth__social-media__icon p {
    color: #0056B7;
}

#news-blog-event-landing-content .youth__social-media__icon p:hover {
    color: #121212;
}

.youth__programs--photo {
  padding: 85px 0 0 2em;
  float: right;
}

.youth__program {
  background-color: #efeff2;
  color: #1c54b5;
  padding: 5px;
  width: 40%;
  margin: 0 5%;
  float: left;
}
.youth__program__wrap {
  
}
.youth__program img {
  width: 100%;
}
.youth__program .img-wrap {
  height : 350px;
  overflow: hidden;
}
.youth__program .text {
  padding: 1em;
  strong {
    text-transform: uppercase;
  }
}



#resourceList {
  margin-top: 2em;

  .table-responsive {
    clear: left;
  }

  #filter-grade-from-dropdown,
  #filter-grade-to-dropdown,
  #filter-category-dropdown  {
    float: left;
    padding: 0 1em 0 0;
    font-size: 1.1em;
    .fa-chevron-down {
      color: #0056b7;
      padding-left: 15px;
    }
  }
  #filter-grades-from,
  #filter-grades-to,
  #filter-category {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #aaa;
  }

  .no-results {
    text-align: center;
    color: #aaa;
    font-style: italic;
  }
  #resource-table_filter input {
    @extend .form-control;
  }
}


