.full-height.page
    .page-inner
        .prismic-content
            .anchor#government(ng-bind-html='government')
            .anchor#other(ng-bind-html='contribution')
            .anchor#other(ng-bind-html='other')
        .push
    div.footer(ng-include='"components/footer/footer.html"')

