@import '../../styles/colors.css';

.Highlight {
    position: fixed 85px 50px auto 50px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    color: white;
    font-weight: 700;
    background-color: var(--brand-secondary);

    & > *:first-child {
        flex: 1 0;
    }

    & a {
        color: white;
    }

    & button {
        color: white;
    }

    & .Close {
        padding: 0 1em;
    }
}

.Danger {
    composes: Highlight;
}

.Warning {
    composes: Highlight;

    background-color: var(--warning);
}

.Info {
    composes: Highlight;

    background-color: var(--info);
}

.Success {
    composes: Highlight;

    background-color: var(--success);
}
