:global(.mapboxgl-ctrl-icon.mapboxgl-ctrl-fullscreen) {
    background-image: url('../../../components/icons/fullscreen.svg');
    background-repeat: no-repeat;
    background-position: center;
}

    :global(.mapboxgl-ctrl-icon.mapboxgl-ctrl-fullscreen-exit) {
    background-image: url('../../../components/icons/fullscreen-exit.svg');
    background-repeat: no-repeat;
    background-position: center;
}
