.common {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	padding: 6px 12px;
	border: none;
}

.primary {
	composes: common;
	background-color: #0F0F0F;
	&:hover {
		background-color: #373737;
	}
	&:active {
		background-color: #606060;
	}
}

.secondary {
	composes: common;
	background-color: #0740A7;
	&:hover {
		background-color: #1A63DD;
	}
	&:active {
		background-color: #3583FB;
	}
}

.chevron {
	position: relative;
	text-align: center;
	padding: 12px;
	margin-bottom: 6px;
	height: 60px;
	width: 200px;
}

.top {
	composes: primary;
	composes: chevron;
}
