@import "../../styles/components.css";

.Common {
    /*height: 2.5em;*/
    /*min-height: 30px;*/
    /*line-height: 2;*/
    padding: 0 12px;
    font-weight: 700;
    text-transform: uppercase;
	color: white;
	border: none;
    cursor: pointer;

    @media print {
        display: none;
    }
}

.Primary {
	composes: Common;

	background-color: var(--component-primary-bg);

	&:hover {
		background-color: var(--component-primary-bg-hover);
	}

	&:active, &.Active {
		background-color: var(--component-primary-bg-active);
	}
}

.Primary--Active {
    composes: Primary;

    background-color: var(--component-primary-bg-active);
}

.Secondary {
	composes: Common;

    background-color: var(--component-secondary-bg);

    &:hover {
        background-color: var(--component-secondary-bg-hover);
	}

    &:active, &.Active {
        background-color: var(--component-secondary-bg-active);
	}
}

.Tertiary {
	composes: Common;

    background-color: var(--component-tertiary-bg);

    &:hover {
        background-color: var(--component-tertiary-bg-hover);
	}

    &:active, &.Active {
        background-color: var(--component-tertiary-bg-active);
	}
}

.Incognito {
    composes: Common;

    background-color: transparent;
    color: var(--black);
}

.Subtile {
    composes: Common;

    background-color: transparent;
    color: var(--gray);

    & .IconContainer {
        & path:not([fill="none"]) {
            fill: var(--brand-primary);
        }
    }
}

.IconContainer {
    display: flex;
    align-items: center;

    & > :not(:first-child) {
        margin-left: 0.25em;
    }

    & .IconContainer {
        & path:not([fill="none"]) {
            fill: var(--gray);
        }
    }
}

.IconOnly {
    padding: 0 6px;
}

/* Modifiers */
.Large {
    padding: 1em;
    min-width: 5em;
    text-align: center;
}

.Chevron {
    &:after {
        content: " \203A";
        color: white;
        font-size: 1.25em;
    }
}
