.ArchiveDatePicker {
    display: flex;
    flex-direction: column;

    & > * {
        flex: 1 0;
        margin: 1em;
    }
}

.ArchiveDatePicker--Link {
    composes: import Shadow from '../button/Button.css';
    composes: import Large from '../button/Button.css';
    composes: import Primary from '../button/Button.css';
    composes: import Chevron from '../button/Button.css';
}
