@import "../../styles/colors.css";

@custom-media --full-width (width > 320px);

:root {
    --background-color: var(--gray-lighter);
    --border-color: var(--gray-lighter);
}

/* GENERIC STUFF TO BE REUSE BY OTHER COMPONENTS */
.Border {
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
}

.Headline {
    padding: 1em 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;

    & p {
        margin: 0;
    }
}

.SubHeader {
    padding: 0.75em 0.75em;
    font-size: 1em;
    font-weight: normal;
    background-color: var(--background-color);
    margin: 0;
}

.Section {
    margin: 0.5em 0;
}

.SectionHeader {
    composes: SubHeader;

    font-size: 1.1em;
    background-color: black;
    color: white;
}

.SubSection {
    color: var(--gray-darker);
}

.SubSectionHeader {
    composes: SubHeader;
}

.SubSection__Content {
    color: var(--gray);
    padding: 1em;
}

.Summary {
    & dl {
        display: inline-flex;
        margin: 0 0 1em 0;
    }
    & dt {
        font-weight: 700;
    }
    & dd {
        margin-left: 0.5em;
    }
}

.Forecast {
}

.Footer {
    color: var(--gray-dark);

    & dl {
        display: flex;
    }
    & dd {
        margin: 0 0 0 0.25em;
        font-weight: 700;
    }
}

.ArchiveDatePicker {
    display: flex;
    flex-direction: column;

    & > * {
        flex: 1 0;
        margin: 1em;
    }
}

.ArchiveDatePicker--Link {
    composes: import Shadow from '../button/Button.css';
    composes: import Large from '../button/Button.css';
    composes: import Primary from '../button/Button.css';
    composes: import Chevron from '../button/Button.css';
}
