@import "../../styles/colors.css";

@custom-media --full-width (width > 320px);

:root {
    --background-color: var(--gray-lighter);
    --border-color: var(--gray-lighter);
}

.Border {
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
}

.Headline {
    padding: 1em 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}

.SubHeader {
    padding: 0.75em 0.75em;
    font-size: 1.15em;
    font-weight: 700;
    background-color: var(--gray-light);
    margin: 0;
}

.Section {
    composes: Border;
}

.SectionHeader {
    composes: SubHeader;

    font-size: 1.25em;
    background-color: black;
    color: white;
}

.SubSection {
    color: var(--gray-darker);
}

.SubSectionHeader {
    composes: SubHeader;
}

.SubSection__Content {
    color: var(--gray);
    padding: 1em;
}

.Summary {
    & :last-child {
        color: var(--gray-dark);
    }
}

.Forecast {
    /* TODO: Namespace that table styling to the weather forecast */
    /* TODO: Decide to use or not markdown */
    & table {
        width: 100%;
        border-collapse: collapse;

        & thead, & tbody tr > td:first-child {
            border-bottom: 2px solid var(--border-color);
            font-size: 1.15em;
            font-weight: 700;
        }

        & td {
            display: block;
            padding: 1em 0.5em;
        }

        & thead {
            display: none;
        }

        & tbody {
            color: var(--gray-darker);

            & td:nth-child(odd):not(:first-child) {
                background-color: var(--background-color);
            }
        }

        @media (--full-width) {
            & tr > td {
                display: table-cell;;

                &:first-child {
                    display: none;
                }
            }

            & thead {
                display: table-header-group;
            }

            & tbody {
                & tr:nth-child(even) {
                    background-color: var(--background-color);
                }
                & td:nth-child(odd):not(:first-child) {
                    background-color: transparent;
                }
            }
        }

    }
}

.Footer {
    color: var(--gray-dark);

    & dl {
        display: flex;
    }
    & dd {
        margin: 0 0 0 0.25em;
        font-weight: 700;
    }
}
