#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                  | Mountain Information Network
                .blue-border
    .min-landing.row
      .min-landing--main-column
          p For real-time, location-specific information on riding conditions this winter!

          h3 How to GET information
          p Click on any of these symbols on our main map
          .min-landing--pins.row
            ul.col-md-6
              li 
                i.min-map-icon--quick
                span Quick Report
              li 
                i.min-map-icon--avalanche
                span Avalanche Report
              li 
                i.min-map-icon--snowpack
                span Snowpack Report
            ul.col-md-6
              li 
                i.min-map-icon--weather
                span Weather Report
              li 
                i.min-map-icon--incident
                span Incident Report
              li 
                .min-marker-cluster 
                  span 4
                span Multiple Clustered reports

          p Zoom in to separate into single reports

          h3 How to GIVE information

          .row
            .col-md-7
              p Learn how to create and view <strong>detailed</strong> reports<br/> on the website by watching the video below

            .col-md-5
              p Learn how to create and view <strong>quick</strong> reports on our smart phone app from the video below
          .row
            .play-video.col-md-7
              img(src="http://res.cloudinary.com/avalanche-ca/image/upload/h_250,c_fit/v1452808718/website/MIN-Mockup-Laptop.png")
              i.fa.fa-play-circle(ng-click="playDesktop()")

            .play-video.col-md-5
              img(src="http://res.cloudinary.com/avalanche-ca/image/upload/h_250,c_fit/v1452808718/website/MIN-Mockup-Phone.png")
              i.fa.fa-play-circle(ng-click="playMobile()")

          p
            | At this time, only the website offers full functionality in submitting and viewing all types of reports. 
            | The table below compares the features currently available on each platform.

          table.min-landing--feature-table
            thead
              tr
                td
                td(colspan="2") Mobile
                td(colspan="2") Web
              tr
                td
                td View
                td Submit
                td View
                td Submit
            tbody
              tr
                td Forecasts
                td.yep &check;
                td n/a
                td.yep &check;
                td n/a
              tr
                td Location
                td.yep &check;
                td.yep &check;
                td.yep &check;
                td.yep &check;
              tr
                td Photos
                td.yep &check;
                td.yep &check;
                td.yep &check;
                td.yep &check;
              tr
                td Quick Report
                td.yep &check;
                td.yep &check;
                td.yep &check;
                td.yep &check;
              tr
                td Avalanche Report
                td.nope &cross;
                td.nope &cross;
                td.yep &check;
                td.yep &check;
              tr
                td Snowpack Report
                td.nope &cross;
                td.nope &cross;
                td.yep &check;
                td.yep &check;
              tr
                td Weather Report
                td.nope &cross;
                td.nope &cross;
                td.yep &check;
                td.yep &check;
              tr
                td Incident Report
                td.nope &cross;
                td.nope &cross;
                td.yep &check;
                td.yep &check;

          p More questions? Check out the full <a ui-sref="ac.page({bookmark: 'min-faq'})">Mountain Information Network FAQ</a>

      .min-landing--side-column
        .min-submit-wrapper
          a.min-submit-button(href="/submit")
            span.min-create-icon
              i.fa.fa-tasks.fa-inverse.fa-2x
                i.fa.fa-plus.fa-2x
              span Create Report

          p.min-guidelines
            a(href="http://www.avalanche.ca/fxresources/Submissions+Guidelines.pdf") Submission Guidelines
        #mobile-sidebar-container
          aside.min-landing-aside
           .sidebar-inner
              ul.sidebar-related-links
                  li
                      h5 Share This &nbsp;
                          a(href="https://twitter.com/intent/tweet?url={{page.url}}")
                              i.fa.fa-twitter.fa-fw.fa-lg

                          a(href="https://www.facebook.com/sharer/sharer.php?u={{page.url}}")
                              i.fa.fa-facebook.fa-fw.fa-lg

                          a(href="https://plus.google.com/share?url={{page.url}}")
                              i.fa.fa-google-plus.fa-fw.fa-lg
                  li
                      h5 Follow Us &nbsp;
                          a(href="https://twitter.com/avalancheca" target="_blank")
                              i.fa.fa-twitter.fa-fw.fa-lg

                          a(href="https://www.facebook.com/avalanchecanada" target="_blank")
                              i.fa.fa-facebook.fa-fw.fa-lg

                          a(href="http://instagram.com/avalanchecanada" target="_blank")
                              i.fa.fa-instagram.fa-fw.fa-lg
                  li
                      h5 Contact Us &nbsp;
                          a(href="mailto:info@avalanche.ca")
                              i.fa.fa-envelope.fa-fw.fa-lg


        .min-store-buttons
         p To download the app click on the links below
         p
           a(href="https://play.google.com/store/apps/details?id=com.idearebel.avalanchereports")
             img(alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png")
         p
           a(href="https://geo.itunes.apple.com/ca/app/avalanche-canada/id348430895?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:136px;height:40px;")
    .push
div.footer(ng-include='"components/footer/footer.html"')

