#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                    | Go farther - Get avalanche trained
                #sponsor-desktop.hidden-xs
                    p Brought to you by
                    a(target='_blank', href='http://www.rbc.com/community-sustainability/community/index.html?utm_campaign=April%203,%202012%20-%20FR&utm_medium=email&utm_source=CampaignCog')
                        img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955455/logos/Logos%20png/rbc.png')
                .blue-border
        .col-xs-12
            #sponsor-ad-container(ng-hide='true')
                p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                    img.img-responsive(alt='Smith Optics', src='assets/images/sponsor-mobile-smith-logo.png')
        #news-blog-event-landing-content
            section#news-blog-event-landing-body
                ///.prismic-content
                .anchor#overview(ng-bind-html='overview')

                #know-more
                    .container
                        .row
                            article.col-xs-12
                                header
                                    h2
                                        | Know More.
                                        br
                                        span Go Farther.
                                footer
                                    a.btn(href='/training#ast1')
                                        | AST 1
                                        i.fa.fa-angle-right
                                    a.btn(href='/training#ast2')
                                        | AST 2
                                        i.fa.fa-angle-right

                .anchor#programs(ng-bind-html='programs')
                .anchor#resources(ng-bind-html='resources')
                .anchor#curriculum(ng-bind-html='curriculum')
    .push
div.footer(ng-include='"components/footer/footer.html"')
