@import '../../styles/colors.css';

.Container {
    & header > * {
        margin: 0 0 0.5em 0;
    }
    & time {
        display: block;
        color: var(--gray-dark);
        font-size: 0.85em;
    }
}

.Headline {
    font-weight: 700;
}
