///# Header

header#header.container(role='banner')
    .row
      .col-xs-7.col-md-4
        h1
          a(rel='home', title='TITLE HERE', href='/')
            | CAC title here
      .col-xs-5.col-md-8
        nav#navigation.yamm.navbar.navbar-default(role='navigation')
          .navbar-header.visible-xs.visible-sm
            a#nav-search(href='#')
              i.fa.fa-search
            a#nav-donate.visible-sm(href='#') Donate
            a#multi-expand.navbar-toggle(role='button', href='#' ng-click="multiExpand()")
              i.fa.fa-reorder
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li#nav-avalanche-info.dropdown.yamm-fw
                a(href='#')
                  | Avalanche Information
                  span.arrow-down
                ul.dropdown-menu
                  li
                    .container
                      .row
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Forecasts
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Banff Yoho & Kootenay National Park
                            li
                              a(href='#') Cariboos
                            li
                              a(href='#') Chic-Chocs, CAHG
                            li
                              a(href='#') Glacier National Park
                            li
                              a(href='#') Jasper National Park
                            li.last
                              a(href='#') Kananaskis Country, Alberta Parks
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                        .col-md-3.mega-content-inner.last
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
              li#nav-learn.dropdown.yamm-fw
                a(href='#')
                  | Learn
                  span.arrow-down
                ul.dropdown-menu
                  li
                    .container
                      .row
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | About
                              i.fa.fa-angle-right
                          p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        .col-md-3.mega-content-inner.last
                          ul.mega-secondary-menu
                            li.first
                              h2
                                a(href='#')
                                  | Nav Header Link
                                  i.fa.fa-angle-right
                            li
                              h2
                                a(href='#')
                                  | Nav Header Link
                                  i.fa.fa-angle-right
                            li.last
                              h2
                                a(href='#')
                                  | Nav Header Link
                                  i.fa.fa-angle-right
                        .col-md-3.mega-content-inner.last
                          // blank here
              li#nav-community.dropdown.yamm-fw
                a(href='#')
                  | Community
                  span.arrow-down
                ul.dropdown-menu
                  li
                    .container
                      .row
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Forecasts
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Banff Yoho & Kootenay National Park
                            li
                              a(href='#') Cariboos
                            li
                              a(href='#') Chic-Chocs, CAHG
                            li
                              a(href='#') Glacier National Park
                            li
                              a(href='#') Jasper National Park
                            li.last
                              a(href='#') Kananaskis Country, Alberta Parks
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                        .col-md-3.mega-content-inner.last
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
              li#nav-news-events.dropdown.yamm-fw
                a(href='#')
                  | News & Events
                  span.arrow-down
                ul.dropdown-menu
                  li
                    .container
                      .row
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Forecasts
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Banff Yoho & Kootenay National Park
                            li
                              a(href='#') Cariboos
                            li
                              a(href='#') Chic-Chocs, CAHG
                            li
                              a(href='#') Glacier National Park
                            li
                              a(href='#') Jasper National Park
                            li.last
                              a(href='#') Kananaskis Country, Alberta Parks
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                        .col-md-3.mega-content-inner.last
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
              li#nav-store.dropdown.yamm-fw
                a(href='#')
                  | Store
                  span.arrow-down
                ul.dropdown-menu
                  li
                    .container
                      .row
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Forecasts
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Banff Yoho & Kootenay National Park
                            li
                              a(href='#') Cariboos
                            li
                              a(href='#') Chic-Chocs, CAHG
                            li
                              a(href='#') Glacier National Park
                            li
                              a(href='#') Jasper National Park
                            li.last
                              a(href='#') Kananaskis Country, Alberta Parks
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                        .col-md-3.mega-content-inner
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                        .col-md-3.mega-content-inner.last
                          h2
                            a(href='#')
                              | Nav Header Link
                              i.fa.fa-angle-right
                          ul.mega-sub-menu
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
                            li
                              a(href='#') Sub Link
            a#nav-search-desktop(href='#')
              i.fa.fa-search
            a#nav-donate-desktop(href='#') Donate
  ///#header
