header#header.navbar-fixed-top(role='banner')
    .container
        nav#navigation.yamm.navbar.navbar-default(role='navigation')
            .navbar-header
                a(rel='home', title='Avalanche Canada', href='/')
                    h1.navbar-brand.ac
                .visible-xs.visible-sm
                    ///a#nav-search(href='#')
                    ///    i.fa.fa-search
                    a#nav-donate.visible-sm(href='#') Donate
                    span#multi-expand.navbar-toggle(role='button', href='#', ng-click='togglePushmenu()')
                        i.fa.fa-reorder
            .collapse.navbar-collapse.hidden-xs.hidden-sm
                ul.nav.navbar-nav
                    li#nav-min.dropdown.yamm-fw
                        a.dropdown-toggle.three-line(href='#' data-toggle="dropdown")
                            | Mountain<br/>Information<br/>Network
                            span.arrow-down
                        ul.dropdown-menu
                          li
                            a(data-toggle="collapse" data-target=".navbar-collapse" href="/mountain-information-network") Overview
                          li 
                            a.btn.btn-primary(data-toggle="collapse" data-target=".navbar-collapse" href="/submit") Submit 

                    li#nav-avalanche-info.dropdown.yamm-fw
                        a.dropdown-toggle.two-line(href='#' data-toggle="dropdown")
                            | Avalanche<br/>Information
                            span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    h2 Forecasts
                                                li(ng-repeat='region in forecastRegionList1' ng-bind-html='region.link')

                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    h2 &nbsp;
                                                li(ng-repeat='region in forecastRegionList2' ng-bind-html='region.link')

                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    h2 &nbsp;
                                                li(ng-repeat='region in forecastRegionList3' ng-bind-html='region.link')

                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li(ng-repeat='item in dataMenu' ng-bind-html='item.link')

                                                li
                                                    a(href="", ui-sref="ac.submit", ui-sref-opts="{reload: true}", data-toggle="collapse", data-target=".navbar-collapse")
                                                        h2
                                                            |Submit Information
                                                            i.fa.fa-angle-right

                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='http://old.avalanche.ca/cac/pre-trip-planning/trip-planner/planning' target="_blank")
                                                        h2 Trip Planner
                                                            i.fa.fa-angle-right


                    li#nav-learn.dropdown.yamm-fw
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                            | Learn
                            span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                        .col-md-4.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/training')
                                                        h2
                                                            | Avalanche Canada Training Courses
                                                            i.fa.fa-angle-right
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/training#overview') Overview
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/training#online-primer') Online Avalanche Tutorial
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='http://old.avalanche.ca/fr/cac/training/online-course' target="_blank") Cours d’avalanche en ligne (francais)
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/training#ast1') Avalanche Skills Training 1
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/training#ast2') Avalanche Skills Training 2
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/training#crs') Companion Rescue Skills
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/sled') Mountain Snowmobiling
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='http://old.avalanche.ca/cac/training/ast/courses' target="_blank") Find a course
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='http://old.avalanche.ca/cac/training/ast/providers' target="_blank") Find a provider
                                        .col-md-4.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/youth')
                                                        h2
                                                            | Youth
                                                            i.fa.fa-angle-right
                                                li(ng-repeat='page in youth')
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/youth{{page.url}}') {{page.display}}
                                        .col-md-4.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/gear')
                                                        h2
                                                            | Gear
                                                            i.fa.fa-angle-right



                    li#nav-community.dropdown.yamm-fw
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                                | About Us
                                span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/about')
                                                        h2
                                                            | About
                                                            i.fa.fa-angle-right
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/about#vision') Vision, Mission and Value Statements

                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/about#board') Board Of Directors
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/about#staff') Staff
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/about#awards') Service Awards
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/foundation') Avalanche Canada Foundation
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='https://membership.avalanche.ca/np/clients/cac/membershipJoin.jsp')
                                                        h2
                                                            | Membership
                                                            i.fa.fa-angle-right
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" target="_blank" href='https://membership.avalanche.ca/np/clients/cac/membershipJoin.jsp') Individual
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" target="_blank" href='https://membership.avalanche.ca/np/clients/cac/membershipJoin.jsp?&constTypeFlag=org') Organization
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" target="_blank" href=' https://membership.avalanche.ca/np/clients/cac/login.jsp') Already A Member ?

                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/sponsors')
                                                        h2
                                                            | Sponsors
                                                            i.fa.fa-angle-right
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/sponsors#partner') Program Partners
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/sponsors#founding') Premier Sponsors
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/sponsors#supplier') Supporters
                                                        li
                                                            a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/sponsors#associate') Contributors
                                        .col-md-3.mega-content-inner
                                                ul.mega-sub-menu
                                                    li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/collaborators')
                                                            h2
                                                                | Collaborators
                                                                i.fa.fa-angle-right
                                                            li
                                                                a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/collaborators#government') Government Partners
                                                            li
                                                                a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/collaborators#contribution')   Contribution Programs
                                                            li
                                                                a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/collaborators#other') Other Agencies and Organisation
                    li#nav-news-events.dropdown
                        a.dropdown-toggle( href='#' data-toggle="dropdown")
                                | News & Events
                                span.arrow-down
                        ul.dropdown-menu
                            li
                                a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/news') News
                            li
                                a(data-toggle="collapse" data-target=".navbar-collapse" href='{{env.DOMAIN}}/events') Events

                    li#nav-store.dropdown
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                                | Store
                                span.arrow-down
                        ul.dropdown-menu
                            li
                                a(data-toggle="collapse" data-target=".navbar-collapse" href='http://old.avalanche.ca/cac/auctions' target='_blank') Web Auction

                    li
                        a.sign-in(href='#', ui-sref="ac.login", ng-hide="auth.isAuthenticated", title="Login")
                            i.fa.fa-lg.fa-sign-in
                        a.sign-out(href='#', ng-click="auth.signout()", ng-show="auth.isAuthenticated", title="Logout")
                            i.fa.fa-lg.fa-sign-out
                //- a#nav-search-desktop(href='#')
                    i.fa.fa-search
                a#nav-donate-desktop(href='/foundation') Donate
