
header#header.navbar-fixed-top(role='banner')
    .container
        nav#navigation.yamm.navbar.navbar-default(role='navigation')
            .navbar-header
                h1.navbar-brand
                    a(rel='home', title='TITLE HERE', href='/')
                        | CAC title here
                .visible-xs.visible-sm
                    a#nav-search(href='#')
                        i.fa.fa-search
                    a#nav-donate.visible-sm(href='#') Donate
                    a#multi-expand.navbar-toggle(role='button', href='#', ng-click='multiExpand()')
                        i.fa.fa-reorder
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li#nav-avalanche-info.dropdown
                        a(href='#')
                            | Avalanche Information
                            span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    h2 Forecasts
                                                li(ng-repeat='region in forecastRegionList1')
                                                        a(href='/forecasts/{{region.name}}') {{region.display}}
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li(ng-repeat='region in forecastRegionList2')
                                                        a(href='/forecasts/{{region.name}}') {{region.display}}
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li(ng-repeat='region in forecastRegionList2')
                                                        a(href='/forecasts/{{region.name}}') {{region.display}}
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li(ng-repeat='item in dataMenu')
                                                        a(href='{{item.url}}')
                                                            h2
                                                                | {{item.display}}
                                                                i.fa.fa-angle-right

                    li#nav-learn.dropdown
                        a(href='#')
                            | Learn
                            span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                        h2 Avalanche Canada Training Courses
                                                li(ng-repeat='page in training')
                                                                a(href='/training/{{page.name}}') {{page.display}}
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                        h2 Online Avalanche Course
                                                li(ng-repeat='page in onlineCourse')
                                                                a(href='/training/{{page.name}}') {{page.display}}
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                        h2 Youth
                                                li(ng-repeat='page in parentsEducators')
                                                                a(href='/parents-educators/{{page.name}}') {{page.display}}
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    a(href='/Gear')
                                                        h2
                                                            | Gear
                                                            i.fa.fa-angle-right
                                                li
                                                    a(href='/library')
                                                        h2
                                                            | Library
                                                            i.fa.fa-angle-right



                    li#nav-community.dropdown
                        a(href='#')
                                | Community
                                span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                            .col-md-3.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='about')
                                                                            h2
                                                                                | About
                                                                                i.fa.fa-angle-right
                                            .col-md-3.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='membership')
                                                                            h2
                                                                                | Membership
                                                                                i.fa.fa-angle-right
                                            .col-md-3.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='sponsors')
                                                                            h2
                                                                                | Sponsors
                                                                                i.fa.fa-angle-right
                                            .col-md-3.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='collaborators')
                                                                            h2
                                                                                | Collaborators
                                                                                i.fa.fa-angle-right

                    li#nav-news-events.dropdown
                        a(href='#')
                            | News & events
                            span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                            .col-md-4.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='events')
                                                                            h2
                                                                                | Events
                                                                                i.fa.fa-angle-right
                                            .col-md-4.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='outreach')
                                                                            h2
                                                                                | Outreach
                                                                                i.fa.fa-angle-right

                                            .col-md-4.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='news')
                                                                            h2
                                                                                | News
                                                                                i.fa.fa-angle-right
                    li#nav-store.dropdown
                        a(href='#')
                                | Store
                                span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                            .col-md-6.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='store')
                                                                            h2
                                                                                | Store
                                                                                i.fa.fa-angle-right

                                            .col-md-6.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(href='web-auction')
                                                                            h2
                                                                                | Web Auction
                                                                                i.fa.fa-angle-right
                a#nav-search-desktop(href='#')
                    i.fa.fa-search
                a#nav-donate-desktop(href='/foundation/donate') Donate
    ///#header
