
header#header.navbar-fixed-top(role='banner')
    .container
        nav#navigation.yamm.navbar.navbar-default(role='navigation')
            .navbar-header
                a(rel='home', title='TITLE HERE', href='/')
                    h1.navbar-brand.ac
                .visible-xs.visible-sm
                    a#nav-search(href='#')
                        i.fa.fa-search
                    a#nav-donate.visible-sm(href='#') Donate
                    a#multi-expand.navbar-toggle(role='button', href='#', ng-click='multiExpand()')
                        i.fa.fa-reorder
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li#nav-avalanche-info.dropdown.yamm-fw
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                            | Avalanche Information
                            span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    h2 Forecasts
                                                li(ng-repeat='region in forecastRegionList1')
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/forecasts/{{region.name}}') {{region.display}}
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li(ng-repeat='region in forecastRegionList2')
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/forecasts/{{region.name}}') {{region.display}}
                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li(ng-repeat='region in forecastRegionList3')
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/forecasts/{{region.name}}') {{region.display}}
                                                ///li
                                                ///    a(data-toggle="collapse" data-target=".navbar-collapse" href='/forecasts/archive') Archive

                                        .col-md-3.mega-content-inner
                                            ul.mega-sub-menu
                                                li(ng-repeat='item in dataMenu')
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='{{item.url}}')
                                                            h2 {{item.display}}
                                                                i.fa.fa-angle-right

                    li#nav-learn.dropdown.yamm-fw
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                            | Learn
                            span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                        .col-md-4.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                        h2 Avalanche Canada Training Courses
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/training#overview') Overview
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/training#online-primer') Online Avalanche Primer
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='http://old.avalanche.ca/fr/cac/training/online-course' target="_blank") Cours d’avalanche en ligne (francais)
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/training#ast1') Avalanche Skills Training 1
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/training#ast2') Avalanche Skills Training 2
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/training#crs') Companion Rescue Skills
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='/sled') Mountain Snowmobiling
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='http://www.old.avalanche.ca/cac/training/ast/courses' target="_blank") Find a course
                                                li
                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='http://www.old.avalanche.ca/cac/training/ast/providers' target="_blank") Find a provider
                                        .col-md-4.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                        h2 Youth
                                                li(ng-repeat='page in youth')
                                                                a(data-toggle="collapse" data-target=".navbar-collapse" href='/youth{{page.url}}') {{page.display}}
                                        .col-md-4.mega-content-inner
                                            ul.mega-sub-menu
                                                li
                                                    a(data-toggle="collapse" data-target=".navbar-collapse" href='/gear')
                                                        h2
                                                            | Gear
                                                            i.fa.fa-angle-right
                                                ///li
                                                ///    a(data-toggle="collapse" data-target=".navbar-collapse" href='/library')
                                                ///        h2
                                                ///            | Library
                                                ///            i.fa.fa-angle-right



                    li#nav-community.dropdown.yamm-fw
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                                | Community
                                span.arrow-down
                        ul.dropdown-menu
                            li
                                .container
                                    .row
                                            .col-md-3.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='about')
                                                                            h2
                                                                                | About
                                                                                i.fa.fa-angle-right
                                            .col-md-3.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(data-toggle="collapse" data-target=".navbar-collapse" target="_blank" href='http://membership.avalanche.ca/')
                                                                            h2
                                                                                | Membership
                                                                                i.fa.fa-angle-right
                                            .col-md-3.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='sponsors')
                                                                            h2
                                                                                | Sponsors
                                                                                i.fa.fa-angle-right
                                            .col-md-3.mega-content-inner
                                                    ul.mega-sub-menu
                                                                li
                                                                        a(data-toggle="collapse" data-target=".navbar-collapse" href='collaborators')
                                                                            h2
                                                                                | Collaborators
                                                                                i.fa.fa-angle-right
                                                                            li
                                                                                a(data-toggle="collapse" data-target=".navbar-collapse" href='/collaborators#government') Government Partners
                                                                            li
                                                                                a(data-toggle="collapse" data-target=".navbar-collapse" href='/collaborators#other') Other Agencies and Organisation
                    li#nav-news-events.dropdown
                        a.dropdown-toggle( href='#' data-toggle="dropdown")
                                | News & Events
                                span.arrow-down
                        ul.dropdown-menu
                            li
                                a(data-toggle="collapse" data-target=".navbar-collapse" href='/news') News
                            li
                                a(data-toggle="collapse" data-target=".navbar-collapse" href='/events') Events

                    li#nav-store.dropdown
                        a.dropdown-toggle(href='#' data-toggle="dropdown")
                                | Store
                                span.arrow-down
                        ul.dropdown-menu
                            li
                                a(data-toggle="collapse" data-target=".navbar-collapse" href='/store') Store
                            li
                                a(data-toggle="collapse" data-target=".navbar-collapse" href='/auction') Web Auction

                a#nav-search-desktop(href='#')
                    i.fa.fa-search
                a.sign-in(href='#', ng-click="login()", ng-hide="isAuthenticated", style="position: absolute; top: 28px; right: -40px;")
                    i.fa.fa-lg.fa-sign-in
                a.sign-in(href='#', ng-click="logout()", ng-show="isAuthenticated", style="position: absolute; top: 28px; right: -40px;")
                    i.fa.fa-lg.fa-sign-out
                a#nav-donate-desktop(href='/foundation') Donate
    ///#header
