@import '../../styles/colors.css';
@import '../../styles/components.css';

@custom-media --full-nav-height (height > 320px);

.Layout {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 20;

    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 6px 4px 0 color-mod(black alpha(25%));

    @media (--full-nav-height) {
        height: 75px;
    }
}

.Navbar {
    height: 100%;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    max-width: 1026px;
    width: 100%;
    margin: 0 auto;
}

.ItemSet--Container {
    flex: 1 0;
    height: 100%;
}
.ItemSet {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.Item {
    position: relative;
    max-width: 150px;
    height: 100%;

    & > a {
        height: 100%;
        color: var(--black);
        padding: 0 15px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: var(--gray-lighter);
    }

    & svg > path:not([fill='none']) {
        fill: var(--primary);
    }
}

.Item--isActive {
    composes: Item;

    & > a,
    & > a:hover {
        color: white;
        background-color: var(--black);
    }

    & svg > path:not([fill='none']) {
        fill: white;
    }

    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        border-color: var(--black) transparent transparent transparent;
        border-style: solid;
        border-width: 8px;
        margin-left: -8px;
        z-index: 11;
    }
}

.Item--NoWrap {
    white-space: nowrap;
}

.Burger--Container {
    flex: 1 0;
    height: 100%;
}
.Burger {
    float: right;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
        background-color: var(--gray-lighter);
    }
}

/* Menu */
.Menu {
    display: flex;
    position: fixed;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: var(--gray-lighter);
    border-top: var(--gray-light) solid 6px;
}

.Menu--inline {
    left: auto;
    right: auto;
}

.Section {
    padding: 0 15px;
    flex-grow: 1;

    & + .Section {
        border-left: var(--gray-light) solid 2px;
    }
}

.Header {
    color: var(--black);
    padding: 10px 0 0 0;
    font-size: 1rem;

    & + .Header {
        border-top: var(--gray-light) solid 2px;
    }

    & > .Link {
        color: var(--black);
        text-align: left;
        padding: 0;

        &:hover {
            color: var(--brand-primary);
        }

        &:after {
            content: '\00a0›';
            color: var(--brand-primary);
        }
    }
}

.Headline {
    color: var(--gray-darker);
}

.Link {
    display: block;
    height: 100%;
    color: var(--brand-primary);
    text-align: left;
    padding: 10px 0 0 0;

    &:hover {
        color: var(--black);
    }
}

.UserProfile {
    display: inline-block;
}

.Donate {
    border-left: transparent solid 2px;
    color: white;
    padding: 0 20px;
    background-color: var(--brand-secondary);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: color-mod(var(--brand-secondary) blackness(15%));
        color: white;
    }
}

.Brand {
    composes: Link;

    flex: 2 0;
    padding: 0 15px;
    min-width: 100px;
    max-width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
