#forecast
    #inner-forecast
        a#back-link(ui-sref='ac.map')
            i.fa.fa-chevron-left

        /// #top-link
        ///    i.fa.fa-chevron-up
        ///    br
        ///    | Top
        article.container
            .row
                header.col-xs-12
                    #header-inner
                        h1 {{forecast.bulletinTitle}}
                        #forecast-sponsor-desktop.hidden-xs
                            p Brought to you by
                            a(target='_blank', href='http://arcteryx.com')
                                img(src='assets/images/arcteryx-logo.jpg')
                        .blue-border
                #forecast-sponsor-mobile.col-xs-12.visible-xs-block
                    #forecast-sponsor-mobile-inner
                        p.pull-left
                            | Brought
                            br
                            | to you by
                        a.pull-right(target='_blank', href='http://arcteryx.com')
                            img(src='assets/images/arcteryx-logo.jpg')
                section#forecast-date.col-xs-12
                    #date-issued.forecast-date-inner
                        | Date Issued
                        br.visible-xs-inline
                        span  {{ forecast.dateIssued | date:'EEEE MMMM d, y h:mm a' | uppercase }}
                    #date-valid.forecast-date-inner
                        | Valid Until
                        br.visible-xs-inline
                        span {{ forecast.validUntil | date:'EEEE MMMM d, y h:mm a' | uppercase }}

                section#forecast-body.col-xs-12.col-md-9
                    div#highlights(ng-bind-html='forecast.highlights')

                    #forecast-tabs
                        // Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                          li.active#public-forecast-li.active
                            a(data-toggle='tab', data-target="#public-forecast", role='tab', href='')
                              | Public Avalanche Forecast
                              i.fa.fa-chevron-down.visible-xs-block
                              span.hidden-xs.arrow-down
                          li#forecast-details-li
                            a(data-toggle='tab', role='tab', href='', data-target="#forecast-details")
                              | Forecast Details
                              i.fa.fa-chevron-down.visible-xs-block
                              span.hidden-xs.arrow-down
                          li#blank-forecast-tab.hidden-xs.hidden-sm
                        // Tab panes
                        .tab-content
                            #public-forecast.tab-pane.active
                                .panel-group
                                    .panel.panel-primary
                                        .panel-heading
                                                | {{ forecast.dangerRatings[0].date | date:'EEEE' }}
                                        .panel-body.forecast-nowcast
                                            img.img-responsive(alt='', src='{{api}}/api/forecasts/{{region}}/nowcast.svg')
                                        table.table.table-condensed.ac-forecast-days
                                            thead.ac-thead-dark
                                                tr
                                                    th
                                                    th {{ forecast.dangerRatings[1].date | date:'EEEE' }}
                                                    th {{ forecast.dangerRatings[2].date | date:'EEEE' }}
                                            tbody
                                                tr
                                                    td.ac-veg-zone--alp
                                                        strong Alpine
                                                    td(class="ac-danger-rating--{{ forecast.dangerRatings[1].dangerRating.alp.split(':')[1].toLowerCase()}}")
                                                        strong {{ forecast.dangerRatings[1].dangerRating.alp.replace(':', ' ') }}
                                                    td(class="ac-danger-rating--{{ forecast.dangerRatings[2].dangerRating.alp.split(':')[1].toLowerCase()}}")
                                                        strong {{ forecast.dangerRatings[2].dangerRating.alp.replace(':', ' ') }}
                                                tr
                                                    td.ac-veg-zone--tln
                                                        strong Treeline
                                                    td(class="ac-danger-rating--{{ forecast.dangerRatings[1].dangerRating.tln.split(':')[1].toLowerCase()}}")
                                                        strong {{ forecast.dangerRatings[1].dangerRating.tln.replace(':', ' ') }}
                                                    td(class="ac-danger-rating--{{ forecast.dangerRatings[2].dangerRating.tln.split(':')[1].toLowerCase()}}")
                                                        strong {{ forecast.dangerRatings[2].dangerRating.tln.replace(':', ' ') }}
                                                tr
                                                    td.ac-veg-zone--btl
                                                        strong Bellow Treeline
                                                    td(class="ac-danger-rating--{{ forecast.dangerRatings[1].dangerRating.btl.split(':')[1].toLowerCase()}}")
                                                        strong {{ forecast.dangerRatings[1].dangerRating.btl.replace(':', ' ') }}
                                                    td(class="ac-danger-rating--{{ forecast.dangerRatings[2].dangerRating.btl.split(':')[1].toLowerCase()}}")
                                                        strong {{ forecast.dangerRatings[2].dangerRating.btl.replace(':', ' ') }}
                                                tr
                                                    td
                                                        strong Confidence:
                                                    td(colspan="2")
                                                        span.ac-text-default {{ forecast.confidence }}
                                    .panel.panel-primary(ng-repeat="problem in forecast.problems")
                                        .panel-heading
                                            h4.panel-title
                                                a(href='', data-target="#problem{{$index}}", data-toggle='collapse', data-parent='#problemsAccordion')
                                                    | {{ problem.type }}
                                         div(id="problem{{$index}}")
                                            .panel-body
                                                .row
                                                    .col-md-6
                                                        .panel.panel-default
                                                            .panel-heading
                                                                strong.small What Elevations?
                                                            .panel-body.ac-problem-icon.ac-problem-icon--elevations
                                                                img.center-block(ng-src="{{problem.icons.elevations}}")
                                                    .col-md-6
                                                        .panel.panel-default
                                                            .panel-heading
                                                                strong.small What Aspects?
                                                            .panel-body.ac-problem-icon.ac-problem-icon--aspects
                                                                img.center-block(ng-src="{{problem.icons.aspects}}")
                                                .row
                                                    .col-md-6
                                                        .panel.panel-default
                                                            .panel-heading
                                                                strong.small Chances of Avalanches?
                                                            .panel-body.ac-problem-icon.ac-problem-icon--likelihood
                                                                img.center-block(ng-src="{{problem.icons.likelihood}}")
                                                    .col-md-6
                                                        .panel.panel-default
                                                            .panel-heading
                                                                strong.small Expected Size?
                                                            .panel-body.ac-problem-icon.ac-problem-icon--expected-size
                                                                img.center-block(ng-src="{{problem.icons.expectedSize}}")
                                                .row
                                                    .col-md-12
                                                        p.ac-problem.narative(ng-bind-html='problem.comment')
                                                        .panel.panel-default.ac-problem-travel-advice
                                                            .panel-heading
                                                                strong.small Travel and Terrain Advice
                                                            .panel-body
                                                                p(ng-bind-html='problem.travelAndTerrainAdvice')
                                #forecast-by
                                    /// todo
                                    ///| Prepared by
                                    ///a(href='#') rbuhler

                            #forecast-details.tab-pane
                                h3 Avalanche Summary
                                p(ng-bind-html='forecast.avalancheSummary')

                                h3 Snowpack Summary
                                p(ng-bind-html='forecast.snowpackSummary')

                                h3 Weather Forecast
                                p(ng-bind-html='forecast.weatherForecast')

                #mobile-sidebar-container.col-xs-12.col-md-3
                    aside
                        .dark-ribbon
                        .sidebar-inner
                            h3 Related
                            article.first.sidebar-related
                                h4
                                    a(href='#') Spring Conditions Scenario Series
                                section.sidebar-related-author
                                    | By
                                    a(href='#') Karl Klassen
                                section.sidebar-related-pubdate Date 00, 0000
                            article.sidebar-related
                                h4
                                    a(href='#') Avalanche Incident Description at Frisby Ridge, Revelstoke
                                section.sidebar-related-pubdate Date 00, 0000
                            article.last.sidebar-related
                                h4
                                    a(href='#') Avalanche Incident Description at Frisby Ridge, Revelstoke
                                section.sidebar-related-pubdate Date 00, 0000
                            ul.sidebar-related-links
                                li.first
                                    a(href='#') Related Data
                                li
                                    a(href='#') Forecast Archive
                                li.last
                                    a(href='#') Any Additional Links

                footer#forecast-bulletin.col-xs-12
                    #accordion.panel-group
                        .panel.panel-default.first
                            h4.panel-title
                                a.collapsed(href='', data-target="#collapseOne" data-parent='#accordion', data-toggle='collapse')
                                    | Bulletin Disclaimer
                            #collapseOne.panel-collapse.collapse
                                .panel-body
                                        h2 USE AT YOUR OWN RISK

                                        p The CAC Public Avalanche Bulletin, and other information and services provided by CAC, are intended for personal and recreational purposes only

                                        p THIS INFORMATION IS PROVIDED "AS IS" AND IN NO EVENT SHALL THE PROVIDERS BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, DAMAGES RESULTING FROM DISCOMFORT, INJURY, OR DEATH, CLAIMS BY THIRD PARTIES OR FOR OTHER SIMILAR COSTS, OR ANY SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, ARISING OUT OF THE USE OF THE INFORMATION.

                                        p The user acknowledges that it is impossible to accurately predict natural events such as avalanches in every instance, and uses the data in this bulletin with this always foremost in mind. The accuracy or reliability of the data is not guaranteed or warranted in any way and the Providers disclaim liability of any kind whatsoever, including, without limitation, liability for quality, performance, merchantability and fitness for a particular purpose arising out of the use, or inability to use the data.

                        .panel.panel-default.last
                            h4.panel-title
                                a.collapsed(href='' data-target='#collapseTwo', data-parent='#accordion', data-toggle='collapse')
                                    | Setting Up Your RSS Feed
                            #collapseTwo.panel-collapse.collapse
                                .panel-body
                                    p
                                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
// /#forecast


