@import '../../styles/colors.css';

.Container {
    /* If you change the display: look at the gear page: https://www.avalanche.ca/gear. It was set to display: inline-block before.  */
    display: block;
    background-color: var(--gray-lighter);
    color: var(--gray-darker);
    margin: 0;
    padding: 0;
}

.Caption {
    padding: 0 1em;
    background-color: var(--gray-lighter);
}

:global(.image-gallery) {
    & .Caption {
        padding: 0.5em 1em;
    }
}

.Container + .Container {
    margin-top: 1em;
}
