.full-height.page
    .page-inner
        .container
            .page-inner
                #partner
                    h1 Partners
                    ul
                        li(ng-repeat='sponsor in partner')
                            {{sponsor.getText('sponsor.name')}}
                #founding
                    h1 Founding Sponsors
                    ul
                        li(ng-repeat='sponsor in founding')
                            {{sponsor.getText('sponsor.name')}}
                #supplier
                    h1 Suppliers
                    ul
                        li(ng-repeat='sponsor in supplier')
                            {{sponsor.getText('sponsor.name')}}
                #associate
                    h1 Associate
                    ul
                        li(ng-repeat='sponsor in associate')
                            {{sponsor.getText('sponsor.name')}}
        .push
    div.footer(ng-include='"components/footer/footer.html"')

