.page-inner
    #associate(ng-bind-html='associate')
    #brand(ng-bind-html='brand')
    #founding(ng-bind-html='founding')
    #partner(ng-bind-html='partner')
    #programs(ng-bind-html='programs')
    #supplier(ng-bind-html='supplier')

div(ng-include='"components/footer/footer.html"')


