
#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                    | Go farther - Get avalanche trained
                #sponsor-desktop.hidden-xs
                    p Brought to you by
                    a(target='_blank', href='http://www.rbc.com/community-sustainability/community/index.html?utm_campaign=April%203,%202012%20-%20FR&utm_medium=email&utm_source=CampaignCog')
                        img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955455/logos/Logos%20png/rbc.png')
                .blue-border
        .col-xs-12
            #sponsor-ad-container(ng-hide='true')
                p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                    img.img-responsive(alt='Smith Optics', src='assets/images/sponsor-mobile-smith-logo.png')
        #news-blog-event-landing-content
            section#news-blog-event-landing-body
                ///.prismic-content
                .anchor#overview(ng-bind-html='overview')

                #know-more
                    .container
                        .row
                            article.col-xs-12
                                header
                                    h2
                                        | Know More.
                                        br
                                        span Go Farther.
                                footer
                                    a.btn(href='/training#ast1')
                                        | Online Tutorial
                                    a.btn(href='/training#ast2')
                                        | Companion Rescue
                                    a.btn(href='/training#ast1')
                                        | AST 1

                .anchor#programs(ng-bind-html='programs')
                .anchor#resources(ng-bind-html='resources')
                .anchor#resourceList
                    .grade
                    | Grade:
                    .dropdown-filters-inner.dropdown#filter-grade-from-dropdown
                        button#filter-grades-from.dropdown-toggle(type='button', data-toggle='dropdown')
                            | From <span ng-if="selected_grade['from']">: {{selected_grade['from']}}</span>
                            i.fa.fa-chevron-down
                        ul.dropdown-menu(role='menu', aria-labelledby='filter-grades-from')
                            li
                              a(role='menuitem', tabindex='-1', ng-click="selectGrade('from',null)")
                                | All Grades
                            li(role='presentation' ng-repeat="grade in filterGrades")
                              a(role='menuitem', tabindex='-1', ng-click="selectGrade('from',grade)")
                                {{grade}}

                    .dropdown-filters-inner.dropdown#filter-grade-to-dropdown
                        button#filter-grades-to.dropdown-toggle(type='button', data-toggle='dropdown')
                            | To<span ng-if="selected_grade['to']">: {{selected_grade['to']}}</span>
                            i.fa.fa-chevron-down
                        ul.dropdown-menu(role='menu', aria-labelledby='filter-grades-to')
                            li
                              a(role='menuitem', tabindex='-1', ng-click="selectGrade('to',null)")
                                | All Grades
                            li(role='presentation' ng-repeat="grade in filterGrades")
                              a(role='menuitem', tabindex='-1', ng-click="selectGrade('to',grade)")
                                {{grade}}

                    .dropdown-filters-inner.dropdown#filter-category-dropdown
                        button#filter-category.dropdown-toggle(type='button', data-toggle='dropdown')
                          | Category<span ng-if="selected_category">:</span> {{selected_category}}
                          i.fa.fa-chevron-down
                        ul.dropdown-menu(role='menu', aria-labelledby='filter-category')
                            li
                              a(role='menuitem', tabindex='-1', ng-click="selectCategory(null)")
                                | All Categories
                            li(role='presentation' ng-repeat="category in resourceCategories")
                              a(role='menuitem', tabindex='-1', ng-click="selectCategory(category)")
                                {{category}}
                    .table-responsive
                        table#resource-table.table(datatable="ng")
                            thead
                              tr
                                th Description
                                th Category
                                th Grade From
                                th Grade To
                                th Link
                            tbody
                              tr(ng-repeat="resource in resourceList")
                                td {{resource.description}}
                                td {{resource.category}}
                                td {{resource.grade_from}}
                                td {{resource.grade_to}}
                                td
                                 a(target='_blank' href='{{resource.url}}') {{resource.label}}

                .anchor#curriculum(ng-bind-html='curriculum')
    .push
div.footer(ng-include='"components/footer/footer.html"')
