@import "../../styles/colors.css";

@custom-media --one-line (width > 600px);

:root {
    --border-color: var(--gray-lightest);
}

.Set {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 0 2em 0;
    min-height: 3em;
    line-height: 3em;
    border-bottom: 2px solid var(--border-color);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--gray-dark);

    @media (--one-line) {
        flex-direction: row;
    }

}

.Entry {
    flex: 1;
    padding: 0 0.5em;
    min-width: 125px;
    border-left: 2px solid var(--border-color);

    &:first-child {
        border-left: none;
    }

    &:last-child {
        flex: auto;
    }
}
