@import '../../styles/colors.css';

.Gallery {
    & :global(.image-gallery-slide .image-gallery-description) {
        top: 1em;
        bottom: auto;
        left: 0;
        right: 0;
    }
}

.TravelAdvice {
    color: var(--gray-darker);
}

.Title {
    padding: 0.5em 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;

    & p {
        margin: 0;
    }
}

.Headline {
    composes: Title;

    padding: 0.25em 0 0.5em 0;
    font-size: 1.25em;
}

.List {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Item {
    &:before {
        content: '× ';
        text-transform: uppercase;
    }
}

.Avoid {
    composes: Item;

    font-weight: 700;
    color: var(--brand-secondary);
}

.Okay {
    composes: Item;

    &:before {
        color: transparent;
    }
}

.CriticalFactors--Term {
    flex: 75% !important;
}
.CriticalFactors--Definition {
    flex: 25% !important;
    text-align: right;
}

.AdviceSet {
    padding-left: 2em;
}

.Advice {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.Advice--Section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.Advice--Comment {
    composes: Advice--Section;

    margin-top: 3em;
}
