#auction.container
        .row
            .col-xs-12
                #auction-header
                    h4
                        | Online
                        br.visible-xs-inline
                        span Auction
                    #auction-sponsor.hidden-xs
                        p Brought to you by
                        a(target='_blank', href='http://arcteryx.com')
                            img(src='{{env.imageDir}}/arcteryx-logo.jpg')
                    .blue-border
            #auction-tagline-wrap.col-xs-12
                #auction-tagline
                    p Our sponsors donate products to support our programs lore ispum dolor
            #auction-time-wrap.col-xs-12
                #auction-time
                    p closes in 00:00:00
            article#auction-featured-item.col-xs-12
                .auction-featured-item-inner
                    a(href='#')
                        img.img-responsive(src='{{env.imageDir}}/jacket.jpg')
                .auction-featured-item-inner
                    h5
                        a(href='#') Arc’teryx Lorem Ipsum Jacket
                    section.auction-item-body
                        p.auction-item-size-price
                            | retail value $000.00
                            span |
                            | SIZE Medium
                        p.auction-item-body
                            | All-round mountain apparel with increased coverage | SV: Severe Weather. A highly featured, severe weather condition jacket, designed for wet, stormy days. Our toughest and longest length waterproof jacket constructed with hardwearing GORE-TEX® 80D face fabric.
                        p.auction-item-info
                            | Must be in
                            span $10.00
                            | increments
                footer
                    section.auction-highest-bid
                        p Highest bid
                        p.highest-amount $0,000.00
                    section.auction-bid-form
                        p Your Bid
                        form
                            input.form-control(type='text', placeholder='', name='bid')
                            button.blue-button(type='button')
                                | Submit
                                i.fa.fa-angle-right
            #auction-other.col-xs-12
                #auction-other-header
                    h4 Other Auction Items
                article.list-rows.list-row-1.list-row-even.list-row-first
                    header
                        h5
                            a(href='#')
                                span Marmot®
                                br
                                | Exum Guide Undercuff Glove
                    section.auction-other-image
                        a(href='#')
                            img.img-responsive(src='{{env.imageDir}}/marmot-gloves.jpg')
                    section.auction-other-bid
                        p Highest Bid $000.00
                article.list-rows.list-row-2.list-row-odd
                    header
                        h5
                            a(href='#')
                                span Marmot®
                                br
                                | Exum Guide Undercuff Glove
                    section.auction-other-image
                        a(href='#')
                            img.img-responsive(src='{{env.imageDir}}/marmot-gloves.jpg')
                    section.auction-other-bid
                        p Highest Bid $000.00
                article.list-rows.list-row-3.list-row-even
                    header
                        h5
                            a(href='#')
                                span Marmot®
                                br
                                | Exum Guide Undercuff Glove
                    section.auction-other-image
                        a(href='#')
                            img.img-responsive(src='{{env.imageDir}}/marmot-gloves.jpg')
                    section.auction-other-bid
                        p Highest Bid $000.00
                article.list-rows.list-row-4.list-row-odd.list-row-last
                    section#view-auction
                        a(href='#')
                            img.img-responsive(src='{{env.imageDir}}/checkout-other-auction.jpg')
