// todo: move to base stylesheet
html, body {
  height: 100%;
}

// todo: move to utils stylesheet
.full-height {
  height: 100%;
}

.ac-no-gutter {
    margin: 0;
    padding: 0;
}

.ac-thead-dark {
    background-color: rgb(43, 47, 51);
    color: white;
}

.ac-text-primary {
    color: rgb(0, 86, 183);
}

.ac-text-default {
    color: rgb(43, 47, 51);
}

// todo: move to module stylesheet
.scroll-nav{
  position: absolute;
  background-color: #000;
  cursor: pointer;
  opacity: 0.8;
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
  &.scroll-nav--down {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    padding: 15px 0 0 17px;
    transform: translateX(-50%);
  }
  &.scroll-nav--up {
    z-index:1;
    top: 290px;
    left: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}


// todo: move to animation stylesheet
.page.ng-enter, .page.ng-leave {
  transition: all 0.3s linear;
}

.page-down.ng-enter {
  transform: translateY(1000px);
}

.page-down.ng-enter.ng-enter-active {
  transform: translateY(0);
}

.page-down.ng-leave.ng-leave-active {
  transform: translateY(-1000px);
}

.page-up.ng-enter {
  transform: translateY(-1000px);
}

.page-up.ng-enter.ng-enter-active {
  transform: translateY(0);
}

.page-up.ng-leave.ng-leave-active {
  transform: translateY(1000px);
}
