// todo: move to base stylesheet
html, body {
  height: 100%;
}

// todo: move to utils stylesheet
.page-inner {
  padding-bottom:-75px;
  height: 100%;
}

// todo: move to utils stylesheet
.full-height {
  padding-top:75px;
  height: 100%;
}

.ac-no-gutter {
    margin: 0;
    padding: 0;
}

.ac-thead-dark {
    background-color: rgb(43, 47, 51);
    color: white;
}

.ac-text-primary {
    color: rgb(0, 86, 183);
}

.ac-text-default {
    color: rgb(43, 47, 51);
}

// todo: move to module stylesheet
.scroll-nav{
  position: absolute;
  background-color: #000;
  cursor: pointer;
  opacity: 0.8;
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
  &.scroll-nav--down {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    padding: 15px 0 0 17px;
    transform: translateX(-50%);
  }
  &.scroll-nav--up {
    z-index:1;
    top: 75px;
    left: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}


// todo: move to animation stylesheet
.page.ng-enter, .page.ng-leave {
  transition: all 0.3s linear;
}

.page-down.ng-enter {
  transform: translateY(1000px);
}

.page-down.ng-enter.ng-enter-active {
  transform: translateY(0);
}

.page-down.ng-leave.ng-leave-active {
  transform: translateY(-1000px);
}

.page-up.ng-enter {
  transform: translateY(-1000px);
}

.page-up.ng-enter.ng-enter-active {
  transform: translateY(0);
}

.page-up.ng-leave.ng-leave-active {
  transform: translateY(1000px);
}



#events {
    min-height:400px;
    #events-articles {
        padding-bottom:30px;
        margin-bottom:30px;
        background:transparent url(#{$assets_path}/ribbon-bg.png) center bottom repeat-x;
        > header {
            padding:34px 0 36px 0;
            background:transparent url(#{$assets_path}/ribbon-bg.png) center bottom repeat-x;
            position:relative;
            h1 {
                color:#0056b7;
                @include font-size(3.6, 3.8);
                font-family:$font-family-google;
                margin:0;
                font-weight:bold;
                span {
                    color:#121212;
                }
            }
        }
        > article {
            min-height:1px;
            @include clearfix();
            //first featured
            &.list-row-1 {
                margin:36px 0 22px 0;
                .events-image {
                    min-height:1px;
                    @include clearfix();
                    img {
                        border:4px solid #eeeff1;
                    }
                    .events-social {
                        margin:0;
                        padding:10px 0 0 0;
                        list-style:none;
                        display:inline;
                        @include clearfix();
                        li {
                            margin:0 8px 0 0;
                            list-style:none;
                            display:inline;
                            float:left;
                            a {
                                @include font-size(1.2, 1.2);
                                color:#b5b5b5;
                                &:visited,
                                &:hover,
                                &:active,
                                &:focus {
                                    text-decoration:none;
                                    color:#b5b5b5;
                                }
                                .fa {
                                    @include font-size(1.4, 1.4);
                                }
                            }
                        }
                    }
                }
                header {
                    padding-top:32px;
                    padding-bottom:20px;
                    min-height:1px;
                    @include clearfix();
                    //featured span
                    span {
                        @include font-size(1.6, 1.6);
                        color:#ee3d3d;
                        font-family:$font-family-google;
                        font-weight:bold;
                        text-transform:uppercase;
                    }
                    h2 {
                        @include font-size(2.6, 2.6);
                        margin:0;
                        a {
                            font-weight:bold;
                            @include font-size(2.6, 3.0);
                            color:#121212;
                            &:visited,
                            &:hover,
                            &:active,
                            &:focus {
                                text-decoration:none;
                            }
                        }

                    }
                }
                .events-body {
                    p {
                        @include font-size(1.5, 2.0);
                        margin:0;
                        color:#5b5b5b;
                        a {
                            color:#0056b7;
                            font-weight:bold;
                        }
                    }
                }
                footer {
                    margin-top:10px;
                    margin-bottom:18px;
                    min-height:1px;
                    @include clearfix();
                    p {
                        color:#b5b5b5;
                        margin:0;
                        font-family:$font-family-google;
                        @include font-size(1.1, 1.1);
                        text-transform:uppercase;
                        .fa {
                            @include font-size(0.6, 0.6);
                            padding:0 2px 0 3px;                        }
                        a {
                          @include font-size(1.1, 1.1);
                          color:#b5b5b5;
                            &:visited,
                            &:hover,
                            &:active,
                            &:focus {
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
            &.list-rows {
                margin:18px 0;
                padding-top:18px;
                border-top:3px solid #eeeff1;
                header {
                    min-height:1px;
                    @include clearfix();
                    h2 {
                        @include font-size(2.0, 2.4);
                        margin:0;
                        a {
                            font-weight:bold;
                          @include font-size(2.0, 2.4);
                          color:#121212;
                            &:visited,
                            &:hover,
                            &:active,
                            &:focus {
                                text-decoration:none;
                            }
                            .fa-angle-right {
                                 margin-left: 10px;
                                color:#0056b7;
                                @include font-size(2.8, 2.4);
                            }
                        }
                    }
                }
                footer {
                    margin-top:12px;
                    min-height:1px;
                    @include clearfix();
                    p {
                        color:#b5b5b5;
                        margin:0;
                        font-family:$font-family-google;
                        @include font-size(1.1, 1.1);
                        text-transform:uppercase;
                        .fa {
                            @include font-size(0.6, 0.6);
                            padding:0 2px 0 3px;                        }
                        a {
                          @include font-size(1.1, 1.1);
                          color:#b5b5b5;
                            &:visited,
                            &:hover,
                            &:active,
                            &:focus {
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*events ends*/
