#map.container-fluid.ac-no-gutter(ac-mapbox-map, region="current.region", regions="regions", polygons="polygons" centroids="centroids" mapbox-access-token="pk.eyJ1IjoiYXZhbGFuY2hlY2FuYWRhIiwiYSI6Im52VjFlWW8ifQ.-jbec6Q_pA7uRgvVDkXxsA", mapbox-map-id="tesera.jbnoj7kp")
.scroll-down
      i.fa.fa-chevron-down(ui-sref='main.more')

