.container-fluid.ac-no-gutter.full-height.ac-view-map
    div(ac-mapbox-map, region="current.region", regions="regions", polygons="polygons" centroids="centroids" mapbox-access-token="pk.eyJ1IjoiYXZhbGFuY2hlY2FuYWRhIiwiYSI6Im52VjFlWW8ifQ.-jbec6Q_pA7uRgvVDkXxsA", mapbox-map-id="tesera.jbnoj7kp")
    div(ng-include='"components/map/drawer.html"')
.scroll-nav.scroll-nav--down
      a(href="", ng-click="showMore()")
        i.fa.fa-chevron-down.fa-inverse.fa-2x