div(ng-include='"components/navbar/navbar.html"')
div#page-wrap
    #map.container-fluid.ac-no-gutter(ng-controller="mapController")
        .row.ac-no-gutter
            .col-xs-12.ac-no-gutter
                div(region="region", ac-mapbox-map, mapbox-access-token="pk.eyJ1IjoiYXZhbGFuY2hlY2FuYWRhIiwiYSI6Im52VjFlWW8ifQ.-jbec6Q_pA7uRgvVDkXxsA", mapbox-map-id="tesera.jbnoj7kp")
            .scroll-down
              i.fa.fa-chevron-down(ui-sref='more')
        div(ng-include='"components/map/drawer.html"')

