.container-fluid.ac-no-gutter.full-height.ac-view-map
    div(ac-mapbox-map, region="current.region", regions="regions" mapbox-access-token="{{env.mapboxAccessToken}}", mapbox-map-id="{{env.mapboxMapId}}")
    div.ac-drawer(ng-show="current.region && current.region.feature.properties.forecast && drawer.visible")
        div(ac-forecast-mini ac-forecast="current.region.feature.properties.forecast")
.scroll-nav.scroll-nav--down
      a(href="", ng-click="showMore()")
        i.fa.fa-chevron-down.fa-inverse.fa-2x