#map.container-fluid.ac-no-gutter(region="region", ac-mapbox-map, mapbox-access-token="pk.eyJ1IjoiYXZhbGFuY2hlY2FuYWRhIiwiYSI6Im52VjFlWW8ifQ.-jbec6Q_pA7uRgvVDkXxsA", mapbox-map-id="tesera.jbnoj7kp")
    div(ng-include='"components/map/drawer.html"')
.scroll-down
      i.fa.fa-chevron-down(ui-sref='main.more')

