.full-height.page#more.ac-view-more
    .scroll-nav.scroll-nav--up
        a(ng-click='showMap()')
            i.fa.fa-chevron-up.fa-inverse.fa-lg
            | Map

    .container
        .row
            .col-xs-12
                #sponsor-ad-container(ng-if='!sledPage')
                    a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                        img.img-responsive(alt='Smith Optics', src='{{env.imageDir}}/sponsor-mobile-smith-logo.png')
                #sponsor-ad-container(ng-if='sledPage')
                    a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                        img.img-responsive(alt='Smith Optics', src='{{env.imageDir}}/marmot-gloves.jpg')
    #know-more
        .container
            .row
                article.col-xs-12
                    header
                        h2
                            | Know More.
                            br
                            span Go Farther.
                    footer
                        a.btn(href='/member')
                            | Become a member
                            i.fa.fa-angle-right
                        a.btn(href='/training/overview')
                            | Take a course
                            i.fa.fa-angle-right
                        a.btn(href='/gear')
                            | Get the gear
                            i.fa.fa-angle-right
    #news.container
        .row
            .col-xs-12
                article#news-articles
                    header
                        h1
                            | News
                        .blue-border
                    article.list-row-1
                        section.news-image
                            img.im(alt='', src=" {{ featuredNews.getImageView('news.featured_image', 'preview').url }} ")
                            ul.news-social
                                li
                                    a(href='#')
                                        i.fa.fa-facebook
                                        | 25
                                li
                                    a(href='#')
                                        i.fa.fa-twitter
                                        | 12
                                li
                                    a(href='#')
                                        i.fa.fa-eye
                                        | 63
                        header
                            span Featured
                            h2
                                a(href='#/news/{{featuredNews.id}}/{{featuredNews.slug}}')
                                    {{featuredNews.getText('news.title')}}
                        section.news-body
                            p
                                | {{featuredNews.getStructuredText('news.shortlede').asText(ctx)}}
                        footer
                            p
                                a(href='#/news/{{featuredNews.id}}/{{featuredNews.slug}}') Full article
                                i.fa.fa-circle
                                time(datetime='{{featuredNews.getDate("news.date")}}') {{featuredNews.getDate('news.date')}}

                    article.list-rows(ng-repeat="item in news")
                        header
                            h2
                                a(href='#/news/{{item.id}}/{{item.slug}}')
                                    | {{item.getText('news.title')}}
                                    i.fa.fa-angle-right
                        footer
                            p
                                a(href='#/news/{{item.id}}/{{item.slug}}') Full article
                                i.fa.fa-circle
                                time(datetime='{{item.getDate("news.date")}}') {{item.getDate('news.date')}}

    #news.container
        .row
            .col-xs-12
                article#news-articles
                    header
                        h1
                            | Events
                        .blue-border
                    article.list-row-1
                        section.news-image
                            img.im(alt='', src=" {{ featuredEvent.getImageView('event.featured_image', 'preview').url }} ")
                            ul.news-social
                                li
                                    a(href='#')
                                        i.fa.fa-facebook
                                        | 25
                                li
                                    a(href='#')
                                        i.fa.fa-twitter
                                        | 12
                                li
                                    a(href='#')
                                        i.fa.fa-eye
                                        | 63
                        header
                            span Featured
                            h2
                                a(href='#/events/{{featuredEvent.id}}/{{featuredEvent.slug}}')
                                    {{featuredEvent.getText('event.title')}}
                        section.news-body
                            p
                                | {{featuredEvent.getStructuredText('event.shortlede').asText(ctx)}}
                        footer
                            p
                                a(href='#/events/{{featuredEvent.id}}/{{featuredEvent.slug}}') Full article
                                i.fa.fa-circle
                                {{featuredEvent .getDate('event.date')}}

                    article.list-rows(ng-repeat="item in events")
                        header
                            h2
                                a(href='#/events/{{item.id}}/{{item.slug}}')
                                    | {{item.getText('event.title')}}
                                    i.fa.fa-angle-right
                        footer
                            p
                                a(href='#/events/{{item.id}}/{{item.slug}}') Full article
                                i.fa.fa-circle
                                time(datetime='{{item.getDate("event.date")}}') {{item.getDate('event.date')}}

    #videos.container
        .row
            .col-xs-12
                article#video-featured
                    header
                        #header-bg
                        h2.hidden-xs.hidden-sm
                            a(href='#') Throttle Decisions: Outreach Component
                    section#video-container

                       iframe(width='{{video.width}}', height='{{video.height}}', frameborder='0', allowfullscreen='', mozallowfullscreen='', webkitallowfullscreen='', src='//player.vimeo.com/video/79814896')
                       p
                          a(href='http://vimeo.com/79814896') Throttle Decisions: Outreach Component
                          | from
                          a(href='http://vimeo.com/avalanchecanada') Avalanche Canada
                          | on
                          a(href='https://vimeo.com') Vimeo
                          | .
                        #video-body
                            p
                                | Throttle Decisions is a fast-paced video series aimed at encouraging mountain sledders to become better trained in avalanche safety. Its eight short components move through the AST course.
                        #video-sponsor.hidden-xs
                            a#video-sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                                img.img-responsive(alt='Smith Optics', src='{{env.imageDir}}/sponsor-mobile-smith-logo.png')
    #blog.container
        .row
            .col-xs-12
                // blog articles container
                article#blog-articles
                    #blog-header-wrap
                        header
                            h2
                                | The
                                br.visible-xs-inline
                                | Avalanche
                                br
                                span Forecasters
                                br.visible-xs-inline
                                | Blog
                        section#blog-tagline-link
                            p We know Snow.
                            a#blog-link(href='#/blogs')
                                | Read The Blog
                                i.fa.fa-angle-right
                    // blog list rows
                    article.list-rows(ng-repeat='blog in blogs')
                        header
                            h3
                                a(href='#/blogs/{{blog.id}}/{{blog.slug}}') {{blog.getText('blog.title')}}
                        section.blog-author
                            p
                                ///todo | by
                                ///todo  a(href='#') Karl Klassen
                        section.blog-body
                            p
                               {{blog.getStructuredText('blog.body').asText(ctx)}}
                        footer
                            p
                                a(href='#/blogs/{{blog.id}}/{{blog.slug}}') Full article
                                i.fa.fa-circle
                                time(datetime='{{blog.getDate("blog.date")}}') {{blog.getDate('blog.date')}}
    #communities
        #dark-ribbon
        .container
            .row
                .col-xs-12
                    h3
                        | Our
                        br.visible-xs-inline
                        | Communities
                #communities-twitter.col-xs-12.col-sm-6.col-md-3.communities-box
                    p
                        | New winter #backcountry terrain atlas available for
                        a(href='#') #mtrevelstokenp
                        | &
                        a(href='#') #glaciernp
                        a(href='#') @avalancheca
                        a(href='#')
                            strong http://www.pc.gc.ca/eng/pn-np/bc/glacier/activ/activ1/b.aspx
                    a(href='#')
                    .posted-by
                        a(href='#')
                        a.poster-image(href='#')
                            img(width='30', height='30', src='{{env.imageDir}}/twitter-image.jpg')
                        a.postername-date @ryanbougie    May 7
                    a.blue-button(href='#')
                        i.fa.fa-twitter
                        | Follow Us
                        i.fa.fa-angle-right
                #communities-facebook.col-xs-12.col-sm-6.col-md-3.communities-box
                    p
                        | The Valemount Area Recreation Development Association is fundraising for the construction of a new 20x32 Shelter in the Clemina Creek Managed snowmobile area this summer. Interesting in helping them out?
                        br
                        strong
                            a(href='https://www.facebook.com/events/496763173745045/') https://www.facebook.com/events/496763173745045/
                    .posted-by
                        a.poster-image(href='#')
                            img(width='30', height='30', src='{{env.imageDir}}/avalanche-center-profile-img.jpg')
                        a.postername-date Canadian Avalanche Center - May 7
                    a.blue-button(href='#')
                        i.fa.fa-facebook
                        | Like Us
                        i.fa.fa-angle-right
                #communities-youtube.col-xs-12.col-sm-6.col-md-3.communities-box
                    img.youtube-thumb.img-responsive(width='233', height='130', src='{{env.imageDir}}/youtube-thumb.jpg')
                    p 3 The Three Winter Essentials
                    .posted-by
                        a.poster-image(href='#')
                        a.postername-date 8 months ago | 81 views
                    a.blue-button(href='#')
                        i.fa.fa-youtube
                        | Like Us
                        i.fa.fa-angle-right
                #communities-misc.col-xs-12.col-sm-6.col-md-3.communities-box
                    p
                        | The Valemount Area Recreation Development Association is fundraising for the construction of a new 20x32 Shelter in the Clemina Creek Managed snowmobile area this summer. Interesting in helping them out?
                        br
                        strong
                            a(href='https://www.facebook.com/events/496763173745045/') https://www.facebook.com/events/496763173745045/
                    .posted-by
                        a.poster-image(href='#')
                            img(width='30', height='30', src='{{env.imageDir}}/avalanche-center-profile-img.jpg')
                        a.postername-date Canadian Avalanche Center - May 7



