@import "../../styles/colors.css";

@custom-media --two-columns (width > 900px);
@custom-media --one-columns-two-rows (width > 700px) and (width <= 900px);

/*
--quick-obs
--avalanche-obs
--snowpack-obs
--weather-obs
--incident-obs
*/

.Form {
    margin: 1em 0;

    & :global(.field) {
        margin: 0.5em 0;

        & input + label {
            padding-left: 0.5em;
        }

        & label + input {
            margin-left: 0.5em;
        }
    }

    & :global(.ui.message.info) {
        color: var(--gray-dark);
        margin-bottom: 1em;
    }

    & :global(.ui.pointing.label.visible) {
        display: block;
        color: var(--gray-dark);
        margin: 0.5em 0;
    }

    & div[role="tabpanel"] {
        margin: 1em 0;
        & > fieldset {
            border: none;
        }
    }

    & textarea {
        display: block;
        min-width: 100%;
        max-width: 100%;
    }
}

.Layout {
    display: flex;
}

.Sidebar {
    display: flex;
    flex-direction: column;

    flex: 0 1 33%;
}

.MainFieldsetContainer {
    & > fieldset {
        border: 5px solid var(--gray-lighter);
        margin-bottom: 1em;

        & > legend {
            font-size: 1.15em;
            font-weight: 700;
            padding: 0 0.5em;
        }
    }
}

.Observations {
    composes: MainFieldsetContainer;

    flex: 1;
}

.RequiredInformation {
    composes: MainFieldsetContainer;
    & > fieldset {
        border-color: var(--weather-obs);
    }
}

.Uploads {
    composes: MainFieldsetContainer;
}


:global(.field.error) {
    color: red;
}
