@import "../../styles/colors.css";

@custom-media --header-horizontal (width > 600px);
@custom-media --side-by-side (width > 800px);
@custom-media --full-width (width > 1054px);
@custom-media --medium-width (width > 800px);

.RestrictFullPageWidth {
    max-width: 1026px;
    padding: 0 1em;

    @media (--full-width) {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.Page {
    flex: 1;
}

.Content {
    composes: RestrictFullPageWidth;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (--side-by-side) {
        flex-direction: row;
    }
}

.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 75%;

    @media (--full-width) {
        padding: 0;
    }

    & > .Headline {
        padding: 1.5em 0;
        font-weight: 700;
    }

    @media (--side-by-side) {
        /*padding-right: 1em;*/
        box-sizing: border-box;
    }
}

.Banner {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 100%;
    height: 300px;
    margin: 0;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @media (--medium-width) {
        height: 375px;
    }

    @media (--full-width) {
        height: 450px;
    }
}

.Article {
    position: relative;
}

.Header {
    composes: RestrictFullPageWidth;
    composes: import MainDecorator from "../misc/Br.css";
    composes: import RibbonDecorator from "../misc/Br.css";

    display: flex;
    flex-direction: column;

    flex: 100%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 1.5em;
    padding-top: 1.5em;

    & a {
        color: var(--black);
        & svg {
            position: absolute;
            width: 32px;
            height: 32px;
        }
    }

    @media (--header-horizontal) {
        flex-direction: row;
        align-items: center;

        & > :first-child {
            flex: 66%;
        }

        & > :last-child {
            flex: 33%;
            margin: 0 auto;
        }
    }
}

.ArticleHeader {

}

.Headline {
    font-size: 1rem;
}

.Section {
    & .Headline {
        padding-bottom: 1.5em;
    }
}

.Aside {
    flex: 25%;
    box-sizing: border-box;

    @media (--side-by-side) {
        padding-left: 1em;
    }
}

.Nav {

}
