.page-inner
    .anchor#mission(ng-bind-html='mission')
    .anchor#reports(ng-bind-html='reports')
    .anchor#board(ng-bind-html='board')
    .anchor#honorary(ng-bind-html='honorary')

    div(ng-include='"components/footer/footer.html"')


