.page-inner
    .anchor
        #mission(ng-bind-html='mission')
        #reports(ng-bind-html='reports')
        #board(ng-bind-html='board')
        #honorary(ng-bind-html='honorary')

div(ng-include='"components/footer/footer.html"')
