.page-inner
    .prismic-content
        .anchor#mission(ng-bind-html='mission')
        .anchor#reports(ng-bind-html='reports')
        .anchor#board(ng-bind-html='board')
        .anchor#honourary(ng-bind-html='honourary')
        .anchor#contact(ng-bind-html='contact')
    .push
div(ng-include='"components/foundation_footer/footer.html"')


