.page-inner
    .prismic-content
        .anchor#donors(ng-bind-html='donors')
        .anchor#event(ng-bind-html='eventSponsor')
    .push
div(ng-include='"components/foundation_footer/footer.html"')
