.foundation-intro
    carousel(interval='myInterval' disable-animation='true')
        slide(ng-repeat='slide in slides' active='slide.active')
            img(ng-src='{{slide.image}}')
            .carousel-caption
                   .row#caption
                         article.col-xs-12
                                 header
                                        span(ng-bind-html='slide.text1')
                                        br
                                        span(ng-bind-html='slide.text2')

                                 footer
                                         a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=87JTBQBSCN6PS')
                                                 | Donate Now
                    .row#text
                        article.col-xs-12
                            header
                                span
                                    | The Avalanche Canada Foundation is a federally registered charity that supports the work of Avalanche Canada
                    .row#credits
                        article.col-xs-6
                                 span photo: {{slide.credits}}

//.scroll-nav.scroll-nav--down
//            a(href="", ng-click="showMore()") More
//                i.fa.fa-chevron-down.fa-inverse.fa-2x
