.foundation-intro
    carousel(interval='myInterval' disable-animation='true')
        slide(ng-repeat='slide in slides' active='slide.active')
            img(ng-src='{{slide.image}}')
            .carousel-caption
                   .row#caption
                         article.col-xs-12
                                 header
                                        span(ng-bind-html='slide.text1')
                                        br
                                        span(ng-bind-html='slide.text2')

                                 footer
                                    form(target='_top', method='post', action='https://www.paypal.com/cgi-bin/webscr')
                                        input(type='hidden', value='_s-xclick', name='cmd')
                                        input(type='hidden', value='87JTBQBSCN6PS', name='hosted_button_id')
                                        input(type='image', border='0', alt='PayPal - The safer, easier way to pay online!', name='submit', src='http://www.avalanche.ca/assets/images/donate_now.png')
                                        img(width='1', height='1', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', alt='')


//.scroll-nav.scroll-nav--down
//            a(href="", ng-click="showMore()") More
//                i.fa.fa-chevron-down.fa-inverse.fa-2x
