.page-inner
    .anchor#hincks(ng-bind-html='hincks')
    .anchor#kelly(ng-bind-html='kelly')
    .anchor#ac(ng-bind-html='ac')
    .anchor#shea(ng-bind-html='shea')
    .anchor#hodgson(ng-bind-html='hodgson')

div(ng-include='"components/footer/footer.html"')
