.full-height.page.form-submission
    .container
        .row
            header.submit-header.col-xs-12.no-padding
                div(style="padding: 34px 0 20px;")
                    h2
                        | Hot Zone Report
            .col-xs-12.form-holder
                div(ac-hot-zone-report-form, style="margin: 10px 0 30px 0;")
        .row
            .col-xs-12
                div(ng-include='"components/footer/footer.html"')
