@import "../../styles/colors.css";

.Container {
    position: absolute;
    z-index: 9;

    &:before {
        position: relative;
        border-width: 12px;
    }
}

.Top {
    composes: Container;
    composes: import ArrowDown from "../../styles/shapes.css";

    &:before {
        border-top-color: var(--gray-lighter);
        top: 12px;
        left: 50%;
        margin-left: -12px;
    }
}
.Bottom {
    composes: Container;
    composes: import ArrowUp from "../../styles/shapes.css";

    &:before {
        border-bottom-color: var(--gray-lighter);
        bottom: 12px;
        left: 50%;
        margin-left: -12px;
    }
}
.Left {
    composes: Container;
    composes: import ArrowRight from "../../styles/shapes.css";

    &:before {
        border-left-color: var(--gray-lighter);
        left: 12px;
        top: 50%;
        margin-top: -12px;
    }
}
.Right {
    composes: Container;
    composes: import ArrowLeft from "../../styles/shapes.css";

    &:before {
        border-right-color: var(--gray-lighter);
        right: 12px;
        top: 50%;
        margin-top: -12px;
    }
}

.Inner {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px color(black alpha(25%));
}
