@custom-media --full-width (width > 480px);

.Table {
}

.DaySet {

}

.Day {
    border-bottom: 2px solid white;
}

.FirstDay {
    composes: Day;

    border-bottom-width: 4px;

    & .Title {
        font-size: 1.25em;
    }
}

.Title {
    composes: import SectionHeader from "../Forecast.css";
}

.Row {
    display: flex;
    color: black;
    &:not(:last-of-type) {
        border-bottom: 2px solid white;
    }
}

.Elevation {
    composes: import SubSectionHeader from "../Forecast.css";

    flex: 40%;
}

.Rating {
    composes: import SubSectionHeader from "../Forecast.css";

    flex: 60%;
    white-space: nowrap;
}

.Condition {
    composes: import Section from "../Forecast.css";

    display: inline-flex;
    flex-direction: column;

    @media (--full-width) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.ConditionHeader {
    composes: import SectionHeader from "../Forecast.css";

    flex: 100%;
}

.ConditionIcon {
    padding: 1em;
    box-sizing: border-box;
    max-width: 100%;

    @media (--full-width) {
        max-width: 33%;
    }
}

.ConditionContent {
    padding: 1em;
    box-sizing: border-box;

    @media (--full-width) {
        max-width: 66%;
    }
}
