@import "../../../styles/colors.css";

@custom-media --full-width (width > 480px);

.Table {
    width: 100%;
    border-collapse: collapse;

    & td {
        white-space: nowrap;
    }

    & th {
        text-align: left;
    }
}

.ColumnHeader {
    composes: import SectionHeader from "../Forecast.css";
    composes: import Border from "../Forecast.css";
}

.RowHeader {
    composes: import SubSectionHeader from "../Forecast.css";
    composes: import Border from "../Forecast.css";
}

.Cell {
    composes: import SubSectionHeader from "../Forecast.css";
    composes: import Border from "../Forecast.css";
}

.Caption {
    composes: import Border from "../Forecast.css";

    caption-side: bottom;
    text-align: left;
    border-top: none;

    & dl {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1em;
        margin: 1em 0;
    }

    & dt {
        flex: 50%;
        font-weight: 700;
        margin-bottom: 1em;
    }

    & dd {
        flex: 50%;
        color: var(--gray-dark);
        margin: 0;

        & strong {
            color: black;
        }
    }

    @media (width > 500px) {
        & dl {
            flex-direction: row;
            align-items: center;
        }
        & dt {
            margin-bottom: 0;
        }
        & dd {
            margin-left: -2em;
        }
    }
}

.Condition {
    composes: import Section from "../Forecast.css";

    display: inline-flex;
    flex-direction: column;

    @media (--full-width) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.ConditionHeader {
    composes: import SectionHeader from "../Forecast.css";

    flex: 100%;
}

.ConditionIcon {
    padding: 1em;
    box-sizing: border-box;
    max-width: 100%;

    @media (--full-width) {
        max-width: 33%;
    }
}

.ConditionContent {
    padding: 1em;
    box-sizing: border-box;

    @media (--full-width) {
        max-width: 66%;
    }
}
