.page.container-fluid.ac-no-gutter.ac-view-map
    div(ac-mapbox-map, ac-regions='regions', ac-region='current.region', ac-show-regions="regionsVisible", ac-obs="obs", ac-ob="current.ob", top-offset="75", style="width: 100%;")
    div(ac-drawer, ng-class="{'ac-drawer--expanded': current.region && current.region.feature.properties.forecast && drawer.visible && drawer.enabled && regionsVisible}")
        div(ac-forecast-mini='ac-forecast-mini', ac-forecast='current.region.feature.properties.forecast', danger-rating='dangerRating', disclaimer='disclaimer', sponsor='sponsor')

.scroll-nav.scroll-nav--down
      a(ng-click='showMore()') More
        i.fa.fa-chevron-down.fa-inverse.fa-2x
