@import "../../styles/colors.css";

.Alert {
    display: block;
    padding: 1em;
    margin: 1em 0;
    font-weight: 700;
    font-size: 1.15em;
    color: white;
    text-align: center;
    white-space: pre-wrap;

    & a[href] {
        display: block;

        &:hover {
            text-decoration: underline;
        }
        &:after {
            content: "\A0\203A";
        }
    }
}

:global(a[href]) {
    & > .Alert {
        &:after {
            content: "\A0\203A";
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.Danger {
    composes: Alert;

    background-color: var(--danger);

    & a[href] {
        color: white;
    }
}

.Info {
    composes: Alert;

    background-color: var(--info);
}

.Warning {
    composes: Alert;

    background-color: var(--warning);
    color: initial;
}

.Success {
    composes: Alert;

    background-color: var(--success);
}
