#news-blog-event-content.container
    react-component(name="WeatherPage" props="{forecast: forecastContent, isAuthenticated: isAuthenticated, faq: faqContent}")
    .row
        header.col-xs-12
            #header-inner
                h1
                    | Mountain &nbsp;
                    br.visible-xs-block
                    | Weather &nbsp;
                    br.visible-xs-block
                    | Forecast
                .blue-border
        .col-xs-12(ng-hide='true')
            #sponsor-ad-container
                p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                    img.img-responsive(alt='Smith Optics', src='assets/images/sponsor-mobile-smith-logo.png')
        article#news-blog-event-landing-content.col-xs-12.col-md-9
            div(style="display:inline-block")
                section#post-date(style="height:80px")
                    div(type='text', datepicker-popup, ng-model='dt', max-date='tomorrow', is-open='opened')
                        | {{displayDate | dateUtc:"dddd MMMM Do"}} &nbsp;
                        button.btn.btn-default(ng-click='open($event)')
                            i.glyphicon.glyphicon-calendar
                section#post-forecaster(style="height:80px")
                    | Created By: &nbsp;
                    br.visible-xs-inline
                    span {{forecastContent.getText('weather-forecast.handle')}}

            //- react-component(name="WeatherForecast" props="{forecast: forecastContent, isAuthenticated: isAuthenticated, faq: faqContent}")
        #mobile-sidebar-container.col-xs-12.col-md-3
            aside
                .dark-ribbon
                .sidebar-inner
                    ng-include(src='"components/sidebar/sidebar.html"')
    .push
div.footer(ng-include='"components/footer/footer.html"')
