.full-height.page
    .page-inner
        .prismic-content
            #news-blog-event-landing-content(ng-bind-html='content')
        .push
    div.footer(ng-include='"components/footer/footer.html"')
