@import "../../../styles/colors.css";

@custom-media --splash-two-columns (width > 700px);

.Splash {

}

.Splash--Header {
    
}

.Splash--Content {
    display: flex;

    & > * {
        flex: 1 0;

        @media(--splash-two-columns) {
            flex: 50%;

            &:not(:first-child) {
                border-left: 2px solid var(--gray);
            }
        }
    }
}
