#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                    | Mountain &nbsp;
                    br.visible-xs-block
                    | Weather &nbsp;
                    br.visible-xs-block
                    | Forecast
                .blue-border
        .col-xs-12(ng-hide='true')
            #sponsor-ad-container
                p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                    img.img-responsive(alt='Smith Optics', src='assets/images/sponsor-mobile-smith-logo.png')
        article#news-blog-event-landing-content.col-xs-12.col-md-9
            section#post-date {{forecastContent.getDate('weather-forecast.date') | dateUtc:"dddd MMMM Do" }}
            section#post-location {{forecastContent.getText('weather-forecast.handle')}}
            header
                h1 {{forecastContent.getText('weather-forecast.headline')}}
            section#news-blog-event-landing-body
                #structured(ng-bind-html='forecastContent.getStructuredText("weather-forecast.synopsis").asHtml(ctx)')
                h2 {{forecastContent.getDate('weather-forecast.date') | dateUtc:"dddd MMMM Do" }}
                img.img-responsive(src=" {{ forecastContent.getImageView('weather-forecast.day1-image1', 'main').url }} ")
                #structured(ng-bind-html='forecastContent.getStructuredText("weather-forecast.day1-text1").asHtml(ctx)')

                h2 {{calculateDay2(forecastContent.getDate('weather-forecast.date')) | dateUtc:"dddd MMMM Do" }}
                img.img-responsive(src=" {{ forecastContent.getImageView('weather-forecast.day2-image1', 'main').url }} ")
                #structured(ng-bind-html='forecastContent.getStructuredText("weather-forecast.day2-text1").asHtml(ctx)')
                img.img-responsive(src=" {{ forecastContent.getImageView('weather-forecast.day2-image2', 'main').url }} ")
                #structured(ng-bind-html='forecastContent.getStructuredText("weather-forecast.day2-text2").asHtml(ctx)')

                img.img-responsive(ng-show="forecastContent.getImageView('weather-forecast.wildcard1-image', 'main').url" src=" {{forecastContent.getImageView('weather-forecast.wildcard1-image', 'main').url }} ")
                #structured(ng-show="forecastContent.getStructuredText('weather-forecast.wildcard1-text').asHtml(ctx)" ng-bind-html='forecastContent.getStructuredText("weather-forecast.wildcard1-text").asHtml(ctx)')

                img.img-responsive(ng-show="forecastContent.getImageView('weather-forecast.wildcard2-image', 'main').url" src=" {{forecastContent.getImageView('weather-forecast.wildcard2-image', 'main').url }} ")
                #structured(ng-show='forecastContent.getStructuredText("weather-forecast.wildcard2-text").asHtml(ctx)' ng-bind-html='forecastContent.getStructuredText("weather-forecast.wildcard2-text").asHtml(ctx)')

                img.img-responsive(ng-show="forecastContent.getImageView('weather-forecast.wildcard3-image', 'main').url" src=" {{forecastContent.getImageView('weather-forecast.wildcard3-image', 'main').url }} ")
                #structured(ng-show='forecastContent.getStructuredText("weather-forecast.wildcard3-text").asHtml(ctx)' ng-bind-html='forecastContent.getStructuredText("weather-forecast.wildcard3-text").asHtml(ctx)')

                img.img-responsive(ng-show="forecastContent.getImageView('weather-forecast.wildcard4-image', 'main').url" src=" {{forecastContent.getImageView('weather-forecast.wildcard4-image', 'main').url }} ")
                #structured(ng-show='forecastContent.getStructuredText("weather-forecast.wildcard4-text").asHtml(ctx)' ng-bind-html='forecastContent.getStructuredText("weather-forecast.wildcard4-text").asHtml(ctx)')

                h2 Outlook
                #structured(ng-show='forecastContent.getStructuredText("weather-forecast.outlook").asHtml(ctx)' ng-bind-html='forecastContent.getStructuredText("weather-forecast.outlook").asHtml(ctx)')

                img.img-responsive(ng-show="forecastContent.getImageView('weather-forecast.wildcard5-image', 'main').url" src=" {{forecastContent.getImageView('weather-forecast.wildcard5-image', 'main').url }} ")
                #structured(ng-show='forecastContent.getStructuredText("weather-forecast.wildcard5-text").asHtml(ctx)' ng-bind-html='forecastContent.getStructuredText("weather-forecast.wildcard5-text").asHtml(ctx)')

                img.img-responsive(ng-show="forecastContent.getImageView('weather-forecast.wildcard6-image', 'main').url" src=" {{forecastContent.getImageView('weather-forecast.wildcard6-image', 'main').url }} ")
                #structured(ng-show='forecastContent.getStructuredText("weather-forecast.wildcard6-text").asHtml(ctx)' ng-bind-html='forecastContent.getStructuredText("weather-forecast.wildcard6-text").asHtml(ctx)')


        #mobile-sidebar-container.col-xs-12.col-md-3
            aside
                .dark-ribbon
                .sidebar-inner
                    ng-include(src='"components/sidebar/sidebar.html"')
                    ul.sidebar-related-links
                        li
                            a(href="https://twitter.com/intent/tweet?url={{url}}")
                                i.fa.fa-twitter.fa-fw.fa-lg
                        li
                            a(href="https://www.facebook.com/sharer/sharer.php?u={{url}}")
                                i.fa.fa-facebook.fa-fw.fa-lg
                        li
                            a(href="https://plus.google.com/share?url={{url}}")
                                i.fa.fa-google-plus.fa-fw.fa-lg
    .push
div.footer(ng-include='"components/footer/footer.html"')


