#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                    | Mountain &nbsp;
                    br.visible-xs-block
                    | Weather &nbsp;
                    br.visible-xs-block
                    | Forecast
                .blue-border
        .col-xs-12(ng-hide='true')
            #sponsor-ad-container
                p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                    img.img-responsive(alt='Smith Optics', src='assets/images/sponsor-mobile-smith-logo.png')
        article#news-blog-event-landing-content.col-xs-12.col-md-9
            section#post-date {{forecastContent.getDate('weather-forecast.date') | dateUtc:"dddd MMMM Do" }}
            section#post-forecaster
                | Created By: &nbsp;
                br.visible-xs-inline
                span {{forecastContent.getText('weather-forecast.handle')}}
            header
                h1 {{forecastContent.getText('weather-forecast.headline')}}
            section#news-blog-event-landing-body
                #structured(ng-bind-html='forecastContent.getStructuredText("weather-forecast.synopsis").asHtml(ctx)')

                h2 {{forecastContent.getDate('weather-forecast.date') | dateUtc:"dddd MMMM Do" }}

                text-and-image(image="forecastContent.getImageView('weather-forecast.day1-image1', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day1-text1').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day1-image2', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day1-text2').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day1-image3', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day1-text3').asHtml(ctx)")

                h2 {{calculateDay(forecastContent.getDate('weather-forecast.date'), 1) | dateUtc:"dddd MMMM Do" }}

                text-and-image(image="forecastContent.getImageView('weather-forecast.day2-image1', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day2-text1').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day2-image2', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day2-text2').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day2-image3', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day2-text3').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day2-image4', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day2-text4').asHtml(ctx)")

                h2 {{calculateDay(forecastContent.getDate('weather-forecast.date'), 2)| dateUtc:"dddd MMMM Do" }}

                text-and-image(image="forecastContent.getImageView('weather-forecast.day3-image1', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day3-text1').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day3-image2', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day3-text2').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day3-image3', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day3-text3').asHtml(ctx)")

                h2 {{calculateDay(forecastContent.getDate('weather-forecast.date'), 3)| dateUtc:"dddd MMMM Do" }}

                text-and-image(image="forecastContent.getImageView('weather-forecast.day4-image1', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day4-text1').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day4-image2', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day4-text2').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.day4-image3', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.day4-text3').asHtml(ctx)")

                h2 Outlook
                #structured(ng-bind-html='forecastContent.getStructuredText("weather-forecast.outlook").asHtml(ctx)')


                text-and-image(image="forecastContent.getImageView('weather-forecast.outlook-image1', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.outlook-text1').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.outlook-image2', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.outlook-text2').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.outlook-image3', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.outlook-text3').asHtml(ctx)")

                text-and-image(image="forecastContent.getImageView('weather-forecast.outlook-image4', 'main').url",  text="forecastContent.getStructuredText('weather-forecast.outlook-text4').asHtml(ctx)")


        #mobile-sidebar-container.col-xs-12.col-md-3
            aside
                .dark-ribbon
                .sidebar-inner
                    ng-include(src='"components/sidebar/sidebar.html"')
    .push
div.footer(ng-include='"components/footer/footer.html"')


