#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1
                    | About - Avalanche Canada
                #sponsor-desktop.hidden-xs
                    p Brought to you by
                    a(target='_blank', href='http://marmot.com/ ')
                        img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955435/logos/Logos%20png/marmot.png')
                .blue-border
        #news-blog-event-landing-content
            section#news-blog-event-landing-body
                #overview(ng-bind-html='overview')
                #vision(ng-bind-html='vision')
                #board(ng-bind-html='board')
                react-component(name="Staff" props="{document: staff}")
                #awards(ng-bind-html='awards')
                #contact(ng-bind-html='contact')
    .push
div.footer(ng-include='"components/footer/footer.html"')
