#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        #news-blog-event-landing-content
            section#news-blog-event-landing-body
                h1 Terms Of Use
                #tou(ng-bind-html='tou')
                h1 Privacy Policy
                #privacy(ng-bind-html='privacy')
    .push
div.footer(ng-include='"components/footer/footer.html"')
