@import "../../styles/colors.css";

.Fixed {
    position: fixed;
    margin: 1em;
    padding: 1em;
    bottom: 0;
    right: 0;

    background-color: var(--gray-light);
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}
