@custom-media --full-width (width > 420px);

.Day {
    border-bottom: 2px solid white;

    &:first-child {
        border-bottom-width: 4px;

        & .Title {
            font-size: 1.25em;
        }
    }
}

.Title {
    composes: import SectionHeader from '../Forecast.module.css';
    text-transform: capitalize;
}

.Row {
    display: flex;
    color: black;
    &:not(:last-of-type) {
        border-bottom: 2px solid white;
    }
}

.Elevation {
    composes: import SubSectionHeader from '../Forecast.module.css';

    flex: 40%;
}

.Rating {
    composes: import SubSectionHeader from '../Forecast.module.css';

    flex: 60%;
    white-space: nowrap;
}

.Condition {
    composes: import Section from '../Forecast.module.css';

    display: flex;
    flex-direction: column;

    @media (--full-width) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.ConditionHeader {
    composes: import SectionHeader from '../Forecast.module.css';

    flex: 100%;
}

.ConditionIcon {
    padding: 1em;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    line-height: 10em;

    @media (--full-width) {
        flex: 33%;
    }
}

.ConditionContent {
    padding: 1em;
    box-sizing: border-box;

    @media (--full-width) {
        flex: 66%;
    }
}
