@import "../../../styles/colors.css";
@import "../../../styles/Textures.css";

.Drawer {
    position: absolute 0;
    z-index: 0;
    background-color: white;
    box-sizing: border-box;
}

.Drawer--Left {
    composes: Drawer;

    left: 0;
    right: auto;

    &.Open {
        box-shadow: 4px 0 8px color(black alpha(25%));
    }

    & .Toggle {
        left: 100%;
        box-shadow: 4px 0 4px 0 color(black alpha(25%));
    }
}

.Drawer--Right {
    composes: Drawer;

    left: auto;
    right: 0;

    &.Open {
        box-shadow: -4px 0 8px color(black alpha(25%));
    }

    & .Toggle {
        right: 100%;
        box-shadow: -4px 0 4px 0 color(black alpha(25%));
    }
}

.Content {
    display: flex;
    flex-direction: column;

    position: absolute 0;

    & > * {
        padding: 0 1.5em;
    }
}

.Header {
    margin-top: 5em;
}

.Subject {
    composes: Hash--Before;

    position: relative;
    color: var(--brand-primary);
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;

    & > span {
        background-color: white;
        padding-right: 1em;
    }

    &:before {
        position: absolute 3px 0;
        z-index: -1;
    }
}

.Body {
    flex: 100%;

    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.Toggle {
    position: absolute;
    top: 15px;
    width: 15px;
    padding: 0;
    background-color: white;

    & > svg {
        height: 100%;
        width: 15px;
    }
}

.Backdrop {
    position: absolute 0;
    z-index: 1;
    background-color: color(black alpha(25%));

    & + .Drawer {
        z-index: 2;
    }
}
