@import "../../../styles/colors.css";
@import "../../../styles/Textures.css";

.Drawer {
    position: absolute 0;
    height: 100%;
    z-index: 11;
    background-color: white;
    box-sizing: border-box;
}

.Drawer--Left {
    composes: Drawer;

    left: 0;
    right: auto;

    &.Open {
        box-shadow: 4px 0 8px color(black alpha(25%));
    }
}

.Drawer--Right {
    composes: Drawer;

    left: auto;
    right: 0;
    z-index: 11;

    &.Open {
        box-shadow: -4px 0 8px color(black alpha(25%));
    }
}

.Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.Navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 5em;

    & > *:not(button) {
        padding: 0.5em;
    }

    & + .Header {
        padding-top: 0;
    }

    /* TODO: Super fragile selector, should be explicit. For the close button */
    & > button {
        color: var(--primary) !important;
        position: relative;
        right: 15px;
    }

    /* TODO: Super fragile selector, should be explicit. For the sponsor image */
    & img {
        transform: scale(0.65);
    }
}

.Header {
    padding: 1em 1.25em 0;

    & > h1 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > :first-child {
            flex: 1 0;
        }
    }
}

.Content {
    padding: 0 1.25em;
}

.Body {
    flex: 1 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    padding: 0 1.25em;
}

.Subject {
    composes: Hash--Before;

    position: relative;
    color: var(--brand-primary);
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;

    & > span {
        background-color: white;
        padding-right: 1em;
    }

    &:before {
        position: absolute 3px 0;
        z-index: -1;
    }
}

.Backdrop {
    position: absolute 0;
    z-index: 11;
    background-color: color(black alpha(25%));

    & + .Drawer {
        z-index: 12;
    }
}

.Banner {
    border: none;
    width: 100%;
    background-color: var(--gray-lightest);
    background-image: url('styles/AvalanchePath.svg');
    background-repeat: no-repeat;
    background-position: center;
}
