.container
  .row
    .col-xs-12
      ul
        li#nav-courses
          a.active(href='/ast/courses' title="AST Courses")
            | Courses
            span.arrow-down
        li#nav-providers
          a(href='/ast/providers' title="AST Providers")
            | Providers
            span.arrow-down