.full-height.page
  #ast-search-bar.ast-courses
    #ast-search-nav(ng-include='"components/ast/ast-search-nav.html"')

    #ast-search-filters
      .container
        .row
          .col-xs-12
            h1 Find a course
        .row
          #filter-courses-dropdown.col-xs-12.col-md-2.dropdown-filters
            .dropdown-filters-inner.dropdown
              button#filter-courses.dropdown-toggle(type='button', data-toggle='dropdown')
                span(ng-if="current_level == null")
                  | Type
                span(ng-if="current_level != null")
                  {{current_level}}
                i.fa.fa-chevron-down
                i.fa.fa-chevron-up
              ul.dropdown-menu(role='menu', aria-labelledby='filter-courses')
                li(role='presentation' ng-if="current_level != null")
                  a(role='menuitem', tabindex='-1', ng-click="selectLevel(null)")
                    | All Courses
                li(role='presentation' ng-repeat="level in levels")
                  a(role='menuitem', tabindex='-1', ng-click="selectLevel(level)")
                    {{level}}

          .col-xs-12.col-md-2
            .dropdown-filters-inner.dropdown-filters
              button#filter-specialties(type='button' ng-click="openCalendar($event,'from')")
                span(ng-if="date_from == null")
                  | Date From
                span(ng-if="date_from")
                  {{date_from | date : mediumDate}}
                i.fa.fa-calendar
            .date-picker-container(datepicker-popup ng-model="date_from" is-open="opened.from" min-date="minDate" max-date="maxDate" show-weeks="false" datepicker-options="dateOptions")

          .col-xs-12.col-md-2
            .dropdown-filters-inner.dropdown-filters
              button#filter-specialties(type='button' ng-click="openCalendar($event,'to')")
                span(ng-if="date_to == null")
                  | Date To
                span(ng-if="date_to")
                  {{date_to| date : mediumDate}}
                i.fa.fa-calendar
            .date-picker-container(datepicker-popup ng-model="date_to" is-open="opened.to" min-date="minDate" max-date="maxDate" show-weeks="false" datepicker-options="dateOptions")

          #location-filter.col-xs-12.col-md-2
            .input-group
              input.form-control(type='text', aria-describedby='location-addon', placeholder='Location', ng-model='location')
              span#location-addon
                i.fa.fa-map-marker

          #filter-distance-dropdown.col-xs-12.col-md-2.dropdown-filters
            .dropdown-filters-inner.dropdown
              button#filter-distance.dropdown-toggle(type='button', data-toggle='dropdown')
                {{current_distance}}km
                i.fa.fa-chevron-down
              ul.dropdown-menu(role='menu', aria-labelledby='filter-distance')
                li(role='presentation' ng-repeat="distance in distanceList")
                  a(role='menuitem', tabindex='-1', ng-click="setDistance(distance)")
                    {{distance}}km

          #submit-filter.col-xs-12.col-md-2
            button.blue-button(type='button' ng-click="search()")
              | Search  
              i.fa.fa-angle-right
  #ast-page-content.container
    .row
      .col-xs-12
        .table-responsive
          table#ast-table.table
            thead

              tr.space
                th(colspan='5')  
              tr
                th Dates
                th Name
                th Location
                th Type
                th(colspan='2') Provider
              tr.sponsors-head
                th(colspan='6') Our Sponsors
            tbody(ng-if="courses.length == 0")
              tr
                td(colspan="6" ng-if="loading")
                  | Loading ...
                td(colspan="6" ng-if="!loading")
                  | No results match that criteria.

            tbody(ng-repeat="course in sponsored_courses | orderBy:'date'")
              tr.sponsors
                td
                  {{course.date}}
                td
                  {{course.distance/1000}}
                td
                  {{course.location_name}}
                td
                  {{course.level}}
                td
                  {{course.provider.name}}
                td
                  a.plus(href='' ng-click="toggleMoreInfo(course)")
                    i.fa.fa-plus(ng-if="!course.more_info")
                    i.fa.fa-minus(ng-if="course.more_info")

              tr.more-info(ng-class="{hidden: !course.more_info}")
                td(colspan='2')
                  strong Course Details
                  br
                  {{course.desc}}
                td(colspan='4')
                  strong Telephone:&nbsp;
                  | {{course.provider.contact.phone}}
                  br
                  strong Email:&nbsp;
                  a(href='mailto:{{course.provider.contact.email}}') {{course.provider.contact.email}}
                  br
                  strong Website:&nbsp;
                  a(href='{{course.provider.contact.website}}') {{course.provider.contact.website}}
                  br
                  strong Location:&nbsp;
                  | {{course.location_name}}

            tbody(ng-repeat="course in unsponsoured_courses | orderBy:'distance'")
              tr
                td
                  {{course.date}}
                td
                  {{course.name}}
                td
                  {{course.location_name}}
                td
                  {{course.level}}
                td
                  {{course.provider.name}}

                td
                  a.plus(href='' ng-click="toggleMoreInfo(course)")
                    i.fa.fa-plus(ng-if="!course.more_info")
                    i.fa.fa-minus(ng-if="course.more_info")
              tr.more-info(ng-class="{hidden: !course.more_info}")
                td(colspan='2')
                  strong Course Details
                  br
                  {{course.desc}}
                td(colspan='4')
                 strong Telephone:&nbsp;
                  | {{course.provider.contact.phone}}
                  br
                  strong Email:&nbsp;
                  a(href='mailto:{{course.provider.contact.email}}') {{course.provider.contact.email}}
                  br
                  strong Website:&nbsp;
                  a(href='{{course.provider.contact.website}}') {{course.provider.contact.website}}
                  br
                  strong Location:&nbsp;
                  | {{course.location_name}}
