.full-height.page
  #ast-search-bar.ast-providers
    #ast-search-nav(ng-include='"components/ast/ast-search-nav.html"')

    #ast-search-filters
      .container
        .row
          .col-xs-12
            h1 Find a provider
        .row
          #filter-courses-dropdown.col-xs-12.col-md-3.dropdown-filters
            .dropdown-filters-inner.dropdown
              button#filter-courses.dropdown-toggle(type='button', data-toggle='dropdown')
                span(ng-if="current_level == null")
                  | Courses
                span(ng-if="current_level != null")
                  {{current_level}}
                i.fa.fa-chevron-down
                i.fa.fa-chevron-up
              ul.dropdown-menu(role='menu', aria-labelledby='filter-courses')
                li(role='presentation' ng-if="current_level != null")
                  a(role='menuitem', tabindex='-1', ng-click="selectLevel(null)")
                    | All Courses

                li(role='presentation' ng-repeat="level in levels")
                  a(role='menuitem', tabindex='-1', ng-click="selectLevel(level)")
                    {{level}}

          #filter-specialties-dropdown.col-xs-12.col-md-3.dropdown-filters
            .dropdown-filters-inner.dropdown
              button#filter-specialties.dropdown-toggle(type='button', data-toggle='dropdown')
                span(ng-if="current_specialty == null")
                  | Specialties
                span(ng-if="current_specialty != null")
                  {{current_specialty}}
                i.fa.fa-chevron-down
                i.fa.fa-chevron-up
              ul.dropdown-menu(role='menu', aria-labelledby='filter-specialties')
                li(role='presentation' ng-if="current_specialty != null")
                  a(role='menuitem', tabindex='-1', ng-click="selectSpeciality(null)")
                    | All Specialties
                li(role='presentation' ng-repeat="speciality in specialities")
                  a(role='menuitem', tabindex='-1', ng-click="selectSpeciality(speciality)")
                    {{speciality}}

          #location-filter.col-xs-12.col-md-3
            .input-group
              input.form-control(type='text', aria-describedby='location-addon', placeholder='Location (ex: Revelstoke BC)' ng-model='location')
              span#location-addon
                i.fa.fa-map-marker
          #submit-filter.col-xs-12.col-md-3
            button.blue-button(type='button' ng-click="search()")
              | Search  
              i.fa.fa-angle-right

  #ast-page-content.container

    .row
      .col-xs-12
        .table-responsive
          table#ast-table.table
            thead

              tr.space
                th(colspan='5')  

              tr
                th Provider
                th Location
                th(colspan=2) Specialties

              tr.sponsors-head
                th(colspan='5') Our Sponsors
            tbody(ng-if="providers.length == 0")
              tr
                td(colspan="5" ng-if="loading")
                  | Loading ...
                td(colspan="5" ng-if="!loading")
                  | No results match that criteria.



            tbody(ng-repeat="provider in providers | filter:{sponsor: true} | orderBy:'distance'")
              tr.sponsors
                td
                  | {{provider.name}}
                td
                  | {{provider.location_name}}

                td
                   {{provider.tags.join(', ')}}

                td
                  a.plus(href='' ng-click="toggleMoreInfo(provider)")
                    i.fa.fa-plus(ng-if="!provider.more_info")
                    i.fa.fa-minus(ng-if="provider.more_info")

              tr.more-info.sponsor-last(ng-class="{hidden: !provider.more_info}")
                td(colspan='2')
                  strong Telephone: &nbsp;
                    a(href="tel:{{provider.contact.phone}}") {{provider.contact.phone}}
                  br
                  strong Email: &nbsp;
                    a(href='mailto:{{provider.contact.email}}') {{provider.contact.email}}
                  br
                  strong Website: &nbsp;
                    a(ng-href='{{provider.contact.website}}') {{provider.contact.website}}
                td(colspan='2')
                  strong Location: &nbsp;
                  |  {{provider.location_name}}

              tr.sponsor-last(ng-if="$last")

            tbody(ng-repeat="provider in providers | filter:{sponsor: false} | orderBy:'distance' | filter:filterSpecialty | filter:filterLevel")
              tr
                td {{provider.name}}
                td
                  | {{provider.location_name}}
                td
                   {{provider.tags.join(', ')}}

                td
                  a.plus(href='' ng-click="toggleMoreInfo(provider)")
                    i.fa.fa-plus(ng-if="!provider.more_info")
                    i.fa.fa-minus(ng-if="provider.more_info")

              tr.more-info(ng-class="{hidden: !provider.more_info}")
                td(colspan='2')
                  strong Telephone: &nbsp;
                    a(href="tel:{{provider.contact.phone}}") {{provider.contact.phone}}
                  br
                  strong Email:&nbsp;
                    a(href='mailto:{{provider.contact.email}}') {{provider.contact.email}}
                  br
                  strong Website: &nbsp;
                    a(ng-href='{{provider.contact.website}}') {{provider.contact.website}}
                td(colspan='2')
                  strong Location
                  |      {{provider.location_name}}

