#ast-search-bar.ast-providers
  #ast-search-nav(ng-include='"/app/avalanchecanada/ast/ast-search-nav.html"')

  #ast-search-filters
    .container
      .row
        .col-xs-12
          h1 Find a provider
      .row
        #filter-courses-dropdown.col-xs-12.col-md-3.dropdown-filters
          .dropdown-filters-inner
            button#filter-courses.dropdown-toggle(type='button', data-toggle='dropdown')
              | Courses
              i.fa.fa-chevron-down
              i.fa.fa-chevron-up
            ul.dropdown-menu(role='menu', aria-labelledby='filter-courses')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') AST 1
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') AST 2
              li.last(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Companion Rescue
        #filter-specialties-dropdown.col-xs-12.col-md-3.dropdown-filters
          .dropdown-filters-inner
            button#filter-specialties.dropdown-toggle(type='button', data-toggle='dropdown')
              | Specialties
              i.fa.fa-chevron-down
              i.fa.fa-chevron-up
            ul.dropdown-menu(role='menu', aria-labelledby='filter-specialties')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Specialties 1
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Specialties 2
              li.last(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Specialties 3
        #location-filter.col-xs-12.col-md-3
          .input-group
            input.form-control(type='text', aria-describedby='location-addon', placeholder='Location')
            span#location-addon.input-group-addon
              i.fa.fa-map-marker
        #submit-filter.col-xs-12.col-md-3
          button.blue-button(type='button')
            | Search  
            i.fa.fa-angle-right

#ast-page-content.container
  .row
    header.col-xs-12
      #header-inner
        h2 All Providers
        .blue-border
  .row
    .col-xs-12
      .table-responsive
        table#ast-table.table
          thead
            tr
              th Provider
              th Location
              th Courses
              th(colspan='2') Specialties
            tr.space
              th(colspan='5')  
            tr.sponsors-head
              th(colspan='5') Our Sponsors
          tbody(ng-if="providers.length == 0")
            tr
              td(colspan="6")
                | Loading ...



          tbody(ng-repeat="provider in providers | filter:{sponsor: true}")
            tr.sponsors
              td {{provider.name}}
              td
                | Revelstoke, BC (TODO)
              td
                | AST 1, 2 Companion Rescue (TODO)
              td
                | Ski, Youth (TODO)
              td
                a.plus(href='')
                  i.fa.fa-plus
                a.hide.minus(href='')
                  i.fa.fa-minus

            tr.more-info.sponsor-last.hidden
              td(colspan='2')
                strong Telephone
                a(href="tel:{{provider.contact.phone}}") {{provider.contact.phone}}
                br
                strong Email
                a(href='mailto:{{provider.contact.email}}') {{provider.contact.email}}

                br
                strong Website
                a(ng-href='{{provider.contact.website}}') {{provider.contact.website}}
              td(colspan='3')
                strong Location
                |      000 street, City, Province, 
                br
                strong Contact
                |       Contact Name here

            tr.sponsor-last(ng-if="$last")

          tbody(ng-repeat="provider in providers | filter:{sponsor: fals}")
            tr
              td {{provider.name}}
              td
                | Revelstoke, BC (TODO)
              td
                | AST 1, 2 Companion Rescue (TODO)
              td
                | Ski, Youth (TODO)
              td
                a.plus(href='')
                  i.fa.fa-plus
                a.hide.minus(href='')
                  i.fa.fa-minus

            tr.more-info.hidden
              td(colspan='2')
                strong Telephone
                a(href="tel:{{provider.contact.phone}}") {{provider.contact.phone}}
                br
                strong Email
                a(href='mailto:{{provider.contact.email}}') {{provider.contact.email}}

                br
                strong Website
                a(ng-href='{{provider.contact.website}}') {{provider.contact.website}}
              td(colspan='3')
                strong Location
                |      000 street, City, Province, 
                br
                strong Contact
                |       Contact Name here