@import '../../../styles/colors.css';
@import '../../../styles/Textures.css';

.Drawer {
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100vh - 75px);
    z-index: 11;
    background-color: white;
    box-sizing: border-box;
}

.Left {
    composes: Drawer;

    right: auto;
    transition: left 0.5s ease-out;

    &.Open {
        box-shadow: 4px 0 8px color-mod(black alpha(25%));
    }
}

.Right {
    composes: Drawer;

    left: auto;
    z-index: 11;
    transition: right 0.5s ease-out;

    &.Open {
        box-shadow: -4px 0 8px color-mod(black alpha(25%));
    }
}

.Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.Navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 5em;

    & > *:not(button) {
        padding: 0.5em;
    }

    & + .Header {
        padding-top: 0;
    }

    /* TODO: Super fragile selector, should be explicit.
        Like I did for the close button.
        For the sponsor image */
    & img {
        transform: scale(0.65);
    }
}

.Button--Close {
    color: var(--primary);
    position: relative;
    right: 15px;
    z-index: 100;
}

.Header {
    padding: 1em 1.25em 0;
    border-bottom: solid 1px transparent;

    & > h1 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > :first-child {
            flex: 1 0;
        }
    }
}

.HeaderWithBorder {
    composes: Header;

    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.Content {
    padding: 0 1.25em;
}

.Body {
    flex: 1 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    padding: 0;
}

@media screen and (min-width: 480px) {
    /* .Body {
        padding: 0 1.25em;
    } */
}

.Subject {
    composes: Hash--Before;

    position: relative;
    color: var(--brand-primary);
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;

    & > span {
        background-color: white;
        padding-right: 1em;
    }

    &:before {
        position: absolute;
        top: 3px;
        right: 0;
        bottom: 3px;
        left: 0;
        z-index: -1;
    }
}

.Backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background-color: color-mod(black alpha(25%));

    & + .Drawer {
        z-index: 12;
    }
}

.Banner {
    border: none;
    width: 100%;
    height: 250px;
    background-color: var(--gray-lightest);
    background-image: url('styles/AvalanchePath.svg');
    background-repeat: no-repeat;
    background-position: center;

    & > img {
        object-fit: cover;
        height: 250px;
        width: 100%;
    }

    & > :global(.image-gallery) {
        & :global(.image-gallery-content:not(.fullscreen)) {
            & :global(.image-gallery-image img) {
                height: 250px;
                object-fit: cover;
            }
        }
    }
}
