
.spring-situation
  h2 Spring Conditions: #{ dates.day0 }
  .spring-message
    img(src="http://www.avalanche.ca/assets/images/summer_conditions_icon.svg")
    div
      p. 
        Avalanche forecasts have ended for the season and will return with the snow in
        the fall. Look for the first one sometime in November.

      p.
        Field Observations for your area may be available at the Association of
        Canadian Mountain Guides (ACMG) Mountain Conditions Report Website: <a
        href="http://www.mountainconditions.com/"
        target="_blank">http://www.mountainconditions.com/</a> 

      p.
        The ACMG also provides
        weekly Mountain Conditions Summaries: <a
        href="http://www.acmg.ca/mcr/summeries.asp" target="_blank">http://www.acmg.ca/mcr/summeries.asp</a>

      p.
        More detailed information on managing conditions in the spring and summer:
        <a href="http://avalanche.ca/spring">http://avalanche.ca/spring</a>
