
.spring-situation
  h2 Spring Conditions: #{ dates.day0 }
  .spring-message
    img(src="http://www.avalanche.ca/assets/images/spring_situation_icon.svg")
    div
      p The avalanche danger is variable and can range from Low to High. Travelling early in the day is recommended, as conditions can change rapidly in short periods of time due to daytime warming. Pay careful attention to the integrity of the surface crusts formed overnight and rising air temperatures during the day. Dry slab avalanche danger may also exist during spring snow storms.
      p
        a(href="http://www.avalanche.ca/fxresources/spring_ovw.pdf") More Spring Conditions Details
