
.spring-situation
  h2 Spring Conditions: #{ dates.day0 }
  .spring-message
    img(src="http://www.avalanche.ca/assets/images/summer_conditions_icon.svg")
    div
      p.
        Information regarding summer mountain conditions can be found on the Mountain Conditions Report, published by the Association of Canadian Mountain Guides.
      a(href="http://www.mountainconditions.com/" target="_blank")
          More Summer Condition details.
