doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title Avalanche Canada
    description Public Avalanche Forecast
    link http://localhost:9000/api/forecasts/purcells.rss
    item
        title #{forecast.bulletinTitle} - #{forecast.dateIssued}
        link http://localhost:9000/api/forecasts/purcells.rss
        description <![CDATA[
                include forecast.jade
                ]]>
