doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title Avalanche Canada
    description Public Avalanche Forecast
    link avalanche.ca
    category Canadian Public Avalanche Forecast
    item
        title #{forecast.bulletinTitle} - #{forecast.dateIssued}
        link avalanche.ca/forecasts/#{forecast.region}
        description <![CDATA[
                include forecast.jade
                ]]>
