.ac-veg-zone--alp {
  background-color: #ddeefa; }

.ac-veg-zone--tln {
  background-color: #d1d9a3; }

.ac-veg-zone--btl {
  background-color: #aebfac; }

.ac-danger-rating--extreme {
  background-color: black;
  color: red; }

.ac-danger-rating--high {
  background-color: #EF1C29; }

.ac-danger-rating--considerable {
  background-color: #F79218; }

.ac-danger-rating--moderate {
  background-color: #FFF300; }

.ac-danger-rating--low {
  background-color: #52BA4A; }

