#forecast.ac-observation-fullpage
    #inner-forecast
        a#back-link(ng-href="{{report.focusUrl}}")
            i.fa.fa-chevron-left

        article.container
            div(ac-min-report-full-page, report='report', sponsor='sponsor')
