@import "../../styles/colors.css";

.Sidebar {
    composes: import Hash from "../../styles/textures.css";
    min-height: 800px;
    margin-top: 100px;
    width: 200px;
    padding: 18px 20px 40px;
}

.Header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 34px;
    color: var(--brand-primary);
}

.Item {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 10px 0;
    border-bottom: white solid 4px;
    color: var(--black);

    & a {
        color: var(--black);

        &:hover {
            color: var(--brand-primary);
        }
    }

}

.Links {
    position: relative;
    top: 4px;

    & a {
        padding: 5px;
    }
}

.SocialItem {
    composes: Item;
    font-size: 1.25em;
    color: var(--brand-primary);
}
