@import "../../../styles/colors.css";

.Slide {
    /*border: 2px solid var(--brand-primary);*/
    cursor: pointer;

    & > header {
        display: block;
        padding: 0.25em;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.65);
        color: var(--brand-primary);
        font-weight: 700;
    }
}
