@import "../styles/colors.css";

.Container {
    position: relative;
    height: 100%;
    overflow: hidden;

    & > :global(.mapboxgl-map) {
        height: 100%;
    }
}

.Disclaimer {
    position: absolute 0 1em auto 1em;
    z-index: 10;
    & p {
        font-size: 0.85em;

        &:first-child {
            margin-top: 0;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}
