@import '../styles/colors.css';

.Tag {
    white-space: break-spaces;
    text-align: center;
    background-color: var(--danger);
    color: white;

    &:hover {
        color: white;
    }

    &:after {
        display: none;
    }
}
