@import "../../styles/colors.css";

.Container {
    background-color: var(--gray-lighter);
    border: 4px solid var(--gray-lighter);
    color: var(--gray-darker);
    display: inline-block;
    margin: 0;
    padding: 0;
}

.Caption {
    padding: 1em;
    background-color: var(--gray-lighter);

    & p {
        margin: 0;
    }
}

.Image {
    composes: Container;
}
