@import '../../../../styles/colors.css';
@import '../Forecast.css';

.Container {
    display: grid;
    margin: 1em 0;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
}

.Header {
    grid-column: 1 / span 4;
    margin: 0;
    padding: 0.75em;
    font-size: 1.1em;
    font-weight: normal;
    background-color: black;
    color: white;
    border: 2px solid black;
    margin: -2px -2px 0 -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Figure {
    flex-direction: column;
    grid-column-start: auto;
    grid-column-end: span 4;
    min-height: 190px;
    margin: 0;
    color: var(--gray-darker);
    border-bottom: 2px solid var(--background-color);

    & figcaption {
        margin: 0;
        padding: 0.75em;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: var(--background-color);
    }

    & img {
        margin: auto;
    }

    & > div {
        display: flex;
        height: max-content;
    }
}

.Half > .Figure {
    grid-column-end: span 2;

    &:nth-child(odd) {
        border-left: 2px solid var(--background-color);
    }
}

.Quarter > .Figure {
    grid-column-end: span 1;

    &:not(:first-of-type) {
        border-left: 2px solid var(--background-color);
    }
}

.SubSection {
    color: var(--gray-dark);
    grid-column: 1 / span 4;
}

.Comment {
    composes: SubSection;

    & > * {
        margin: 0;

        &:not(:empty) {
            padding: 1em;
        }
    }
}

.Advice {
    composes: SubSection;

    & > div {
        padding: 1em;

        & > * {
            margin: 0;
        }
        & > ul {
            padding-left: 1.5em;
        }
    }
}
