@import "../../styles/colors.css";

:root {
    --toolbar: 4em;
    --offset: 4em;
}

.Container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.Drawer {
    position: absolute;
    left: 0;
    right: 0;

    transform: translateX(0);
    background-color: var(--gray-lighter);
    height: 100%;

    &:not(:first-child) .ItemSet--Container {
        margin-right: var(--offset);
    }

    &:last-child {
        right: var(--offset);
        z-index: 0;

        & .Close {
            background-image: url('../icons/close.svg');
            background-size: 24px;
        }
    }
    &:nth-last-child(2) {
        right: calc(2 * var(--offset));
        z-index: 1;
        background-color: var(--gray-light);

        & .Toolbar {
            border-bottom: 5px solid var(--gray);
        }
    }
    &:nth-last-child(3) {
        right: calc(3 * var(--offset));
        z-index: 2;
        background-color: var(--gray);

        & .Toolbar {
            border-bottom: 5px solid var(--gray-dark);
        }
    }
    &:nth-last-child(4) {
        right: calc(4 * var(--offset));
        z-index: 3;
        background-color: var(--gray-dark);

        & .Toolbar {
            border-bottom: 5px solid var(--gray-darker);
        }
    }
}

.Toolbar {
    height: var(--toolbar);
    border-bottom: 5px solid var(--gray-light);
}

.ItemSet {
    margin: 0;
    padding: 0.5em;
    list-style: none;
}

.ItemSet--Container {
    margin-left: 0.5em;
    height: 100%;
    overflow-y: auto;
}

.Item {
    font-size: 1.15em;
    margin: 1em 0;
    font-weight: 700;
}

.Header {
    composes: Item;
}

.Navigation {
    display: inline-block;
    height: 100%;
    width: var(--toolbar);
    background-position: center;
    background-size: 28px;
    background-repeat: no-repeat;
}

.Close {
    composes: Navigation;
    float: right;
    background-image: url('../icons/chevron-left.svg');
}

.Home {
    composes: Navigation;
    background-image: url('../icons/home.svg');
}
