@import "../../styles/colors.css";

:root {
    --border-color: var(--gray-lightest);
}

.Metadata {
    display: flex;
    flex-direction: column;
    width: 100%;

    &[max-width~="500px"] {
        flex-direction: row;
        flex-wrap: wrap;

        font-size: 0.75em;

        & .Entry {
            flex: 50%;

            box-sizing: border-box;

            &:nth-child(even) {
                padding-left: 1em;
                border-left: 2px solid var(--border-color);
            }
            &:nth-child(odd) {
                padding-right: 0.5em;
            }
        }
    }

    &[min-width~="500px"] {
        & .Entry {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        & .Description {
            margin-left: 0.5em;
        }
    }

    &[min-width~="600px"] {
        flex-direction: row;
        flex-wrap: wrap;

        & .Entry {
            flex: 50%;
            flex-wrap: wrap;
            flex-direction: row;
            box-sizing: border-box;

            &:nth-child(even) {
                padding-left: 1em;
                border-left: 2px solid var(--border-color);
            }
            &:nth-child(odd) {
                padding-right: 0.5em;
            }
        }
    }
}


.Entry {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    min-height: 3em;
    padding: 0.25em 0;
    border-bottom: 2px solid var(--border-color);
    text-transform: uppercase;
}

.Term {
    color: var(--primary);
    font-weight: 700;
    white-space: nowrap;
}

.Description {
    margin-left: 0;
    color: var(--gray);
    font-weight: 700;
}
