@import "../../styles/colors.css";

.Set {
    display: flex;
    list-style: none;
    padding: 0;
}

.Item {
    margin: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
    background-color: var(--gray-lighter);

    &:first-child {
        margin-left: 0;
    }
}
