@import "../../styles/components.css";

.Set {
    list-style: none;
}

.Item {
    display: inline-block;
    margin: 3px;
    text-transform: uppercase;

    & a {
        padding : 3px 6px;
        line-height: 1.5;
        color: black;
        text-decoration: none;
        background-color: var(--component-bg);

        &:hover {
            background-color: var(--component-bg-hover);
        }
        &:active {
            background-color: var(--component-bg-active);
        }
    }
}

.Item--active {
    composes: Item;

    & a {
        background-color: var(--component-active-bg);
        color: white;

        &:hover {
            background-color: var(--component-active-bg-hover);
        }
        &:active {
            background-color: var(--component-active-bg-active);
        }
    }
}
