@import "../../styles/components.css";
@import "../../styles/colors.css";
@import "../../styles/shapes.css";

:root {
    --border-width: 5px;
}

.List {
    display: flex;
    flex-direction: column;

	padding: 0;
	margin: 0;
    list-style: none;

    &[min-width~="400px"] {
        flex-direction: row;

        & .ListItem {
            display: block;
        }

        & .ListItem--Active {
            order: 0;

            & .ExpandButton {
                display: none;
            }
        }
    }

    &[min-width~="800px"] {
        & .ListItem {
            flex: 0;
        }
    }

    @media print {
        display: none;
    }
}

.List--Opened {
    & .ListItem {
        display: block;
    }
}

.ListItem {
    flex: 1;

    display: none;
    position: relative;
	padding: 1em;
	text-align: center;
	color: var(--black);
    white-space: nowrap;
	cursor: pointer;
    text-decoration: none;

    & > a > svg {
        /* ICON */
        position: relative;
        top: 2px;
    }

    & .ExpandButton {
        display: none;
    }

	&:hover {
		background-color: var(--component-bg-hover);
	}
}

.ListItem--Active {
	composes: ListItem;

    order: -1;

    display: block;
	background-color: var(--component-active-bg);
    color: white;

	&:hover {
		background-color: var(--component-active-bg);
	}

    & .ExpandButton {
        display: block;
    }
}

.ListItem--Disabled {
    composes: ListItem;

    cursor: default;
    opacity: 0.5;

    &:hover {
		background-color: inherit;
	}
}

.ListItem--Arrow {
    composes: import ArrowElementDown from "../../styles/shapes.css";

    position: absolute;
    top: calc(100% + var(--border-width));
    left: 50%;
    z-index: 1;
    border-top-color: transparent;
    margin-left: calc(-1 * var(--arrow-width));

    &.ListItem--Active {
        border-top-color: var(--primary);
    }
}

.Panel {
    position: absolute;
    left: -10000px;
    top: -10000px;
    /*display: none;*/
	margin: 1em;

    @media print {
        position: static;
        /*display: block;*/
    }
}

.Panel--Active {
	composes: Panel;

    position: static;
    /*display: block;*/
}

.ExpandButton {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

/* THEMES */
.List--Compact {
    composes: List;

    background-color: var(--gray-lighter);
    position: relative;

    &:after {
        content: "";
        position: absolute auto 0 0 0;
        height: var(--border-width);
        background-color: var(--component-bg);
    }

    & .ListItem {
        border-bottom: var(--border-width) solid var(--component-bg);
        position: relative;
        z-index: 1;
    }

    & .ListItem--Active {
        background-color: var(--primary);
        border-bottom-color: var(--primary);
    }
}

.List--Loose {
    composes: List;

    background-color: color(var(--primary) lightness(75%));

    & .ListItem {
        padding: 1.5em 2.5em;
        font-weight: 700;
        color: white;
        border-right: 1px solid white;
    }

    &[min-width~="350px"] {
        & .ListItem {
            &:hover:before {
                border-top-color: var(--component-bg-hover);
            }
            &:last-child {
                border-right: none;
            }
        }
        & .ListItem--Active {
            &:before, &:hover:before {
                border-top-color: var(--primary);
            }
        }
    }
}
