@import "../../styles/components.css";

.List {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.ListItem {
	display: inline-block;
	min-width: 100px;
	padding: 8px 10px;
	text-align: center;
	color: black !important;
	border-bottom: 5px solid var(--component-bg);
	cursor: pointer;
	margin-bottom: 5px;

	&:hover {
		background-color: var(--component-bg-hover);
	}
}
.ListItem--active {
	composes: ListItem;
	background-color: var(--component-active-bg);
	border-bottom-color: var(--component-active-bg);
	color: white !important;

	&:hover {
		background-color: var(--component-active-bg);
	}
}

.Panel {
	display: none;
	margin: 10px;
}

.Panel--active {
	composes: Panel;
	display: block;
}
