@import "../../styles/colors.css";

@custom-media --side-by-side (width > 700px);

.Ambassador {
    margin: 3em 0;
}

.Banner {
    display: block;
    margin: 3em 0;
    min-width: 100%;
}

.Biography {
    display: flex;
    flex-direction: column;

    line-height: 1.5;
    margin: 3em 0;
    text-align: center;
    &, & a {
        color: var(--gray-darkest);
    }

    @media (--side-by-side) {
        flex-direction: row;

        & > *:nth-child(2) {
            margin-left: 1em;
        }
    }
}

.Avatar {
    @media (--side-by-side) {
        flex: 1 0;
        max-width: 300px;
    }
}

.Content {
    @media (--side-by-side) {
        flex: 2 0;
    }
}
