.Responsive {
    /* From Bootstrap */
    min-height: 0.01%;
    overflow-x: auto;
}

.PageSizeSelector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FlexContentCell {
    padding-right: 0;

    & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.ControlledRow {
    background-color: var(--gray-lightest);
}
