@import '../../styles/colors.css';

/* DayPicker styles */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
    user-select: none;
}

.month {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    user-select: none;
    margin: 0 1rem;
}

.navBar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 1em;
}

.navButton {
    position: absolute;
}

.navButtonPrev {
    composes: navButton;
    left: 1em;
}

.navButtonNext {
    composes: navButton;
    right: 1em;
}

.caption {
    display: table-caption;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
}

.weekdays {
    display: table-header-group;
}

.weekdaysRow {
    display: table-row;
}

.weekday {
    display: table-cell;
    padding: 0.5rem;
    font-size: 0.875em;
    text-align: center;
    color: #8b9898;
}

.body {
    display: table-row-group;
}

.week {
    display: table-row;
}

.day {
    display: table-cell;
    padding: 0.5rem;
    border: 1px solid #eaecec;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}

/* Default modifiers */

.today {
    color: var(--brand-secondary);
    font-weight: 500;
}

.disabled {
    color: #dce0e0;
    cursor: default;
    background-color: #eff1f1;
}

.outside {
    cursor: default;
    color: #dce0e0;
}

.selected:not(.disabled):not(.outside) {
    color: #fff;
    background-color: var(--brand-primary);
}
