#filters.col-xs-12
                #filters-inner
                    .dropdown
                        // filter-year
                        #filter-year-dropdown.dropdown-filters.hidden-xs
                            button#filter-year.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                                | Year
                                i.fa.fa-chevron-down
                            ul.dropdown-menu(aria-labelledby='filter-year', role='menu')
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Another action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Something else here
                                li.last(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Separated link
                        // filter-year ends
                        // filter-month
                        #filter-month-dropdown.dropdown-filters.hidden-xs
                            button#filter-month.btn.btn-default.dropdown-toggle.hidden-xs(data-toggle='dropdown', type='button')
                                | Month
                                i.fa.fa-chevron-down
                            ul.dropdown-menu(aria-labelledby='filter-month', role='menu')
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Another action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Something else here
                                li.last(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Separated link
                        // filter-month ends
                        // filter-filter
                        #filter-filter-dropdown.dropdown-filters
                            button#filter-filters.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                                | Filters
                                span (00)
                                i.fa.fa-chevron-down
                            ul.dropdown-menu(aria-labelledby='filter-filters', role='menu')
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Another action
                                li(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Something else here
                                li.last(role='presentation')
                                    a(href='#', tabindex='-1', role='menuitem') Separated link
                        // filter-filter
            // /#filters
