@import "../../styles/colors.css";

@custom-media --one-row (width > 500px);

.Container {
    & img {
        display: block;
    }
}

.Title {
    color: white;
    text-align: center;
    padding-right: 1em;
    line-height: 2.5;

    & > span {
        font-size: 0.85em;
        color: var(--gray);
        padding: 0 1em;
    }

    @media (--one-row) {
        flex: 1 0;
        text-align: right;
        line-height: auto;
    }
}

.Toolbar {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--primary);

    @media (--one-row) {
        flex-direction: row;
    }
}

.ButtonSet {
    display: flex;
}
