@import "../../styles/colors.css";

.Container {
	position: relative;
	margin-bottom: 10px;

    & img {
        display: block;
    }
}

.Title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: white !important;
	padding: 10px;
	background-color: var(--primary);
}

.Toolbar {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
