@import "../../styles/colors.css";

@custom-media --one-row (width > 500px);

.Container {
    & img {
        display: block;
    }

    &:fullscreen {
        & img {
            max-height: calc(100vh - 42px);
        }
    }
}

.Title {
    color: white;
    text-align: center;
    line-height: 2.5;
    position: relative;

    & > span {
        font-size: 0.85em;
        color: var(--gray);
        padding: 0 1em;
        line-height: 3;
        position: absolute;
        left: -65px;

        @media (--one-row) {
            position: inherit;
            left: 0;
        }
    }

    @media (--one-row) {
        flex: 1 0;
        padding-right: 1em;
        text-align: right;
        line-height: auto;
    }
}

.Toolbar {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--primary);

    @media (--one-row) {
        flex-direction: row;
    }
}

.ButtonSet {
    display: flex;
}
