@import '../../styles/components.css';
@import '../../styles/colors.css';

:root {
    --border-width: 5px;
}

.HeaderSet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
    list-style: none;
}

.Header {
    flex: 1;

    position: relative;
    padding: 1em;
    text-align: center;
    color: var(--black);
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: var(--component-bg-hover);
    }
}

.Header--isActive {
    background-color: var(--component-active-bg);
    color: white;

    &:hover {
        background-color: var(--component-active-bg);
    }
}

.Header--Disabled {
    cursor: default;
    opacity: 0.5;

    &:hover {
        background-color: inherit;
    }
}

.Header--Arrow {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 46%;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
    }

    &.Header--isActive:after {
        background-color: inherit;
    }
}

.Panel {
    margin: 1em;
}

/* Stacked */
.HeaderSet--Stacked {
    flex-direction: column;
    position: relative;

    & button {
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 1;
    }

    & .Header {
        display: none;
    }

    & .Header--isActive {
        display: block;
        order: -1;
        padding-top: 17px;
    }
}
.HeaderSet--Expanded {
    & .Header {
        display: block;
    }
}

/* THEMES */
.HeaderSet--Compact {
    & .Header {
        background-color: var(--gray-lighter);
        border-bottom: var(--border-width) solid var(--component-bg);
        z-index: 1;
    }

    & .Header--isActive {
        background-color: var(--primary);
        border-bottom-color: var(--primary);
    }
}

.HeaderSet--Loose {
    background-color: color(var(--primary) lightness(75%));

    & .Header {
        display: inline-block;
        position: relative;
        padding: 1.5em 2.5em;
        font-weight: 700;
        color: white;

        &:after {
            /*
                Do not put border-right, it will break in IE when JS code when
                try measure widths
             */
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: white;
            height: 100%;
            width: 1px;
        }
    }
}
