@import '../../../styles/colors.css';

.Figure {
    position: relative;
    margin: 0;
    background-color: transparent;
}

.Image {
    margin: 0;
    opacity: 1;
    transition: opacity 1s;
    max-width: 100%;
}

.Figure--Loading {
    composes: Figure;

    background: var(--gray-lightest) url('../../../styles/AvalanchePath.svg')
        center center no-repeat;

    & .Image {
        opacity: 0;
    }
}
