@import '../../../styles/colors.css';
@import '../../../styles/components.css';

.Dropdown {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 9;
    overflow-y: auto;
}

.Option {
    composes: import Common from '../Controls.css';

    background-color: var(--component-primary-bg);
    cursor: pointer;
    color: white;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        background-color: var(--component-primary-bg-hover);
    }
}

.Option--Active {
    composes: Option;

    &,
    &:hover {
        background-color: var(--component-primary-bg-active);
    }
}

.Horizontal {
    display: flex;
    flex-direction: row;

    & .Option {
        text-align: center;
    }
}
