.ZoomControl {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 30px;
    left: -55px;
    z-index: 12;

    & > button {
        background-color: white;
        outline: none;
    }
}
