@import '../../styles/colors.css';

.Alert {
    display: flex;
    flex-direction: row;
    color: white;
}

.Content {
    flex: 1;

    padding: 1em;
    font-weight: 700;
    text-align: center;
    white-space: pre-wrap;

    & a[href] {
        color: white;
        /* text-decoration: underline; */
    }
}

.OneLiner {
    &,
    & * {
        margin: 0;
        display: inline;
    }
}

.Close {
    padding: 0 1em;
    color: white;
}

a[href] {
    & .Content {
        &:after {
            content: '\A0\203A';
        }
        /* &:hover {
            text-decoration: underline;
        } */
    }
}

.Danger {
    composes: Alert;

    background-color: var(--danger);
}

.Info {
    composes: Alert;

    background-color: var(--info);
}

.Warning {
    composes: Alert;

    background-color: var(--warning);

    &,
    & a,
    & button {
        color: var(--gray-darker);
    }
}

.Success {
    composes: Alert;

    background-color: var(--success);
}
