@import '../../styles/colors.css';

.Alert {
    display: block;
    padding: 1em;
    margin: 1em 0;
    font-weight: 700;
    font-size: 1.15em;
    color: white;
    text-align: center;
    white-space: pre-wrap;

    & a[href] {
        color: white;
        text-decoration: underline;
    }
}

a[href] {
    & > .Alert {
        &:after {
            content: '\A0\203A';
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.Danger {
    composes: Alert;

    background-color: var(--danger);
}

.Info {
    composes: Alert;

    background-color: var(--info);
}

.Warning {
    composes: Alert;

    background-color: var(--warning);

    &,
    & a[href] {
        color: var(--gray-darker);
    }
}

.Success {
    composes: Alert;

    background-color: var(--success);
}
