
#news-blog-event-content.container
    #top-link.visible-xs-block
        i.fa.fa-chevron-up
        br
        | Top
    .row
        header.col-xs-12
            #header-inner
                h1(ng-bind="page.title")
                .blue-border

        #news-blog-event-landing-content
            section#news-blog-event-landing-body
              .col-xs-12
                .page--body(ng-bind-html='page.body')
    .push
div.footer(ng-include='"components/footer/footer.html"')
