mixin header(title)
    header.col-xs-12
        #header-inner
            h1= title
            #sponsor-desktop.hidden-xs
                p Brought to you by
                a(target='_blank', href='http://www.rbc.com/community-sustainability/community/index.html?utm_campaign=April%203,%202012%20-%20FR&utm_medium=email&utm_source=CampaignCog')
                    img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955455/logos/Logos%20png/rbc.png')
            .blue-border
    .col-xs-12
        #sponsor-ad-container(ng-hide='true')
            p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
            a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                img.img-responsive(alt='Smith Optics', src='assets/images/sponsor-mobile-smith-logo.png')
