<h1>ATES Quiz</h1>


<div ng-repeat="page in atesContent">
  <h2>{{page.title}}</h2>
  <div ng-bind-html="page.desc"></div>
  <div ng-repeat="img in page.images">
    <img ng-src="{{img.url}}" />
    <p>{{img.caption}} | Photo: {{img.photo_credit}}</p>

    <label><input ng-model='img.current_answer' type='radio' value="SIMPLE" /> Simple</label>
    <label><input ng-model='img.current_answer' type='radio' value="CHALLENGING" /> Challenging</label>
    <label><input ng-model='img.current_answer' type='radio' value="COMPLEX" /> Complex</label>
    <div ng-if="isCorrect(img)">YOU'RE RIGHT</div>
    <div ng-if="isNotCorrect(img)">YOU'RE WRONG</div>
  </div>
</div>
