include _header.jade

#tutorial-container
  +header('Online Avalanche Tutorial')



  .tutoral-wrapper
    nav.tutorial-nav
      include _menu.html
      
    div.tutorial-content
      h2.tutorial-page-header {{doc.title}}
      .tutorial-page-content(ng-bind-html="doc.text1")

      .embed-responsive.embed-responsive-16by9(ng-if='video_source')
          iframe.embed-responsive-item(src='{{doc.videoSource}}')

      .tutorial-page-content(ng-bind-html="doc.text2")

      .tutorial-gallery
        .tutorial-img(ng-repeat="img in doc.gallery")
          img(src="{{img.url}}")
          .tutorial-img__caption(ng-bind="img.caption")
          .tutorial-img__credit Photo: {{img.credit}}

      .tutorial-page-content(ng-bind-html="doc.text3")

      .tutorial-embedded(ng-bind-html="doc.embedded")

      .tutorial-page-content(ng-bind-html="doc.text4")

