.full-height.page
    #news-blog-event-content.container
        #top-link.visible-xs-block
            i.fa.fa-chevron-up
            br
            | Top
        .row
            header.col-xs-12
                #header-inner
                    h1
                        | Summaries
                        br.visible-xs-block
                        | &nbsp; And
                        br.visible-xs-block
                        | &nbsp; Outlooks
                    #sponsor-desktop.hidden-xs
                        p Brought to you by
                        a(target='_blank', href='http://www.cpr.ca/en')
                            img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955422/logos/Logos%20png/cp.png')
                    .blue-border
            #sponsor-mobile.col-xs-12.visible-xs-block
                #sponsor-mobile-inner
                    p.pull-left
                        | Brought
                        br
                        | to you by
                    a.pull-right(target='_blank', href='http://www.cpr.ca/en')
                        img(src='http://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_229/v1416955422/logos/Logos%20png/cp.png')
            // /#sponsor-mobile
            .col-xs-12(ng-hide='true')
                #sponsor-ad-container
                    p#sponsor-text.hidden-xs Thanks To Our Title Sponsor
                    a#sponsor-link(title='Smith Optics', target='_blank', href='http://www.smithoptics.com/')
                        img.img-responsive(alt='Smith Optics', src='assets/img/sponsor-mobile-smith-logo.png')
            #news-blog-event-list-rows.col-xs-12.col-md-9

                article.list-rows(ng-repeat='item in conditions' ng-class='"list-row-" + ($index+2)')
                        header
                            /// span Forecasters' Blog
                            h2
                                a(href= '#/conditions/{{item.getDate("conditions-summary.date") | dateUtc:"dddd MMMM YYYY" }}/{{ item.getText("conditions-summary.type")}}')
                                    {{item.getDate('conditions-summary.date') | dateUtc:'dddd MMMM YYYY' }} - {{displayType(item.getText('conditions-summary.type'))}}
                        section.news-blog-event-body
                            /// img(alt='', src='assets/img/sub-blog-img.jpg')
                            ///p
                            ///    {{item.getText('blog.shortlede')}}
                        footer
                            /// section.blog-tags
                            ///    a(href='#') Tag One
                            ///    a(href='#') Tag Two
                            ///    a(href='#') Tag Three
                            p
                                a(href= '#/conditions/{{item.getDate("conditions-summary.date") | dateUtc }}/{{ item.getText("conditions-summary.type")}}') Read More
                             ///   i.fa.fa-circle
                             ///   time {{blog.getDate('news.date') | date:'EEEE MMMM d ' }}

            // /#news-blog-event-list-rows
            #mobile-sidebar-container.col-xs-12.col-md-3
                aside
                    .dark-ribbon
                    .sidebar-inner
                        h3 Related
                        article.first.sidebar-related
                            h4
                                a(href='#') Spring Conditions Scenario Series
                            section.sidebar-related-author
                                | By
                                a(href='#') Karl Klassen
                            section.sidebar-related-pubdate Date 00, 0000
                        article.sidebar-related
                            h4
                                a(href='#') Avalanche Incident Description at Frisby Ridge, Revelstoke
                            section.sidebar-related-pubdate Date 00, 0000
                        article.last.sidebar-related
                            h4
                                a(href='#') Avalanche Incident Description at Frisby Ridge, Revelstoke
                            section.sidebar-related-pubdate Date 00, 0000
                        ul.sidebar-related-links
                            li.first
                                a(href='#') Related Data
                            li
                                a(href='#') Forecast Archive
                            li
                                a(href='#') Any Additional Links
                            li.last
                                h5 More Information
                                p
                                    | Mary Clayton
                                    br
                                    | Communications Director, Avalanche Canada
                                    br
                                    | mclayton@avalanche.ca
                                    br
                                    | 250.837.2141 (228)
                                    br
                                    | 250.837.1492
            ///#mobile-sidebar-container
    ///#news-blog-event-content

    .push
    div.footer(ng-include='"components/footer/footer.html"')
