@import "../../styles/colors.css";
@import "../../styles/components.css";

@custom-media --full-nav (width > 768px);

:root {
    --navbar-height: 75px;
}

.Container {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    z-index: 10;

    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 6px 4px 0 color(black alpha(25%));
}

.Navbar {

}

.Navigation {
    display: flex;
    justify-content: space-between;

    max-width: 1026px;
    width: 100%;
    margin: 0 auto;
}

.Center {
    flex: 1 0;
}

.ItemSet--Container {
    flex: 1 0;
    display: none;
    @media (--full-nav) {
        display: block;
    }
}
.ItemSet {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.Item {
    position: relative;
    max-width: 150px;

    & > a {
        display: inline-block;
        line-height: var(--navbar-height);
        color: var(--black);
        text-align: center;
        padding: 0 15px;

        & > span {
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
        }
    }

    &:hover {
        background-color: var(--gray-lighter);
    }
}

.Item--active {
    composes: Item;

    & > a {
        color: white;
        background-color: var(--black);
    }

    &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border-color: color(var(--black)) transparent transparent transparent;
        border-style: solid;
        border-width: 8px;
        margin-left: -8px;
        z-index: 1;
    }
}

.CoreBrand {
    flex: 2 0;
    height: var(--navbar-height);
    padding: 0 15px;
    min-width: 100px;
    max-width: 200px;
}

.Brand {
    composes: CoreBrand;
    composes: import AvalancheCanada from '../../styles/logos.css';
}

.Brand--Foundation {
    composes: CoreBrand;
    composes: import AvalancheCanadaFoundation from '../../styles/logos.css';
}

.Burger--Container {
    composes: Center;

    @media (--full-nav) {
        display: none;
    }
}
.Burger {
    float: right;
    height: var(--navbar-height);
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
        background-color: var(--gray-lighter);
    }
}

/* Menu */
.Menu {
    display: flex;
    position: fixed;
    justify-content:space-between;
    left: 0;
    right: 0;
    top: var(--navbar-height);
    padding: 30px;
    background-color: var(--gray-lighter);
    border-top: var(--gray-light) solid 6px;
}

.Menu--inline {
    left: auto;
    right: auto;
}

.Section {
    padding: 0 15px;
    flex-grow: 1;

    & + .Section {
        border-left: var(--gray-light) solid 2px;
    }
}

.Header {
    color: var(--black);
    padding: 10px 0 0 0;
    font-size: 1rem;

    & + .Header {
        border-top: var(--gray-light) solid 2px;
    }

    & > .Link {
        color: var(--black);
        text-align: left;
        padding: 0;

        &:hover {
            color: var(--brand-primary);
        }

        &:after {
            content: "\00a0›";
            color: var(--brand-primary);
        }
    }
}

.Headline {
    color: var(--gray-darker);
}

.Link {
    display: block;
    color: var(--brand-primary);
    text-align: left;
    line-height: normal;
    padding: 10px 0 0 0;

    &:hover {
        color: var(--black);
    }
}

.UserProfile {
    display: inline-block;
}

.Donate {
    line-height: var(--navbar-height);
    border-left: transparent solid 2px;
    color: white;
    padding: 0 20px;
    background-color: var(--brand-secondary);

    &:hover {
        background-color: color(var(--brand-secondary) blackness(15%));
        color: white;
    }
}
