@import "../../styles/colors.css";

.Entry {
    display: flex;
    border-bottom: 2px solid var(--gray-light);
    padding: 1em;
    color: var(--gray-dark);

    &:last-child {
        border-bottom: none;
    }
}

.Entry--Featured {
    composes: Entry;

    & .Content:before {
        content: "featured";
        color: var(--brand-secondary);
        text-transform: uppercase;
        display: block;
    }
}

.Image {
    flex: 250px;
    max-width: 250px;

}

.Content {
    flex: 1 0;

    & a {
        color: var(--black);
    }

    & h2 {
        margin-top: 0.25em;
    }
}

.Feed {

}

.Metadata {
    display: flex;
    color: var(--gray-light);
    text-transform: uppercase;
    padding: 0;
    list-style: none;

    & *:not(:first-child):before {
        content: "";
        padding: 0 0.25em;
        background-color: var(--gray-light);
        width: 0.25em;
        height: 0.25em;
        border-radius: 0.25em;
    }
}
