:root {
    --brand-primary: #245EAC;
    --primary: #245EAC;
    --brand-secondary: #E6252F;
    --secondary: #0F0F0F;

    --black: #0F0F0F;

    --gray-darkest: gray(15%);
    --gray-darker: gray(35%);
    --gray-dark: gray(50%);
    --gray: gray(70%);
    --gray-light: gray(80%);
    --gray-lighter: gray(90%);
    --gray-lightest: gray(97%);

    --quick-obs: #4CAF50;
    --avalanche-obs: #03A9F4;
    --snowpack-obs: #3F51B5;
    --weather-obs: #FFC107;
    --incident-obs: #F44336;

    --spaw: #E6252F;
    --spaw-hover: color(var(--spaw) blackness(15%));

    --success: #4CAF50;
    --success-dark: color(var(--success) lightness(65%));
    --info: #03A9F4;
    --info-dark: color(var(--info) lightness(65%));
    --warning: #FFC107;
    --warning-dark: color(var(--warning) lightness(65%));
    --danger: #E6252F;
    --danger-dark: color(var(--danger) lightness(65%));

}
