:root {
    --brand-primary: #245EAC;
    --primary: #245EAC;
    --brand-secondary: #E6252F;
    --secondary: #0F0F0F;

    --black: #0F0F0F;

    --gray-darkest: gray(15%);
    --gray-darker: gray(35%);
    --gray-dark: gray(50%);
    --gray: gray(70%);
    --gray-light: gray(80%);
    --gray-lighter: gray(90%);
    --gray-lightest: gray(97%);
}
