
:global(.map-marker) {
    cursor: pointer;
}

:global(.hidden-map-marker) {
    display: none;
}

:global(.draggable-map-marker) {
    cursor: move;
    user-select: none;
}

:global(.mapboxgl-control-container > .mapboxgl-ctrl-bottom-left > .mapboxgl-ctrl) {
    margin: 0 0 0 5px;
}

:global(.mapboxgl-ctrl.mapboxgl-ctrl-attrib.compact) {
    margin: 0;
}
