@import "./colors.css";

body {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 15px;
    color: var(--gray-darker);
}

h1 {
    font-size: 3em;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;

    & > a {
        color: inherit;

        &:hover {
            color: var(--primary);
        }

        &:after {
            content: " ›";
            color: var(--primary);
        }
    }
}

/* More info and ideas here: https://davidwalsh.name/external-links-css */
/*a[target="_blank"]:not(:empty):after {
    content: " ↗";
    color: var(--gray);
    font-size: 0.75em;
}*/

/*p {
    font-size: 1.1em;
    line-height: 1.25em;
    color: var(--gray-darker);
}*/

a {
    text-decoration: none;
    color: var(--primary);
}

img {
    max-width: 100%;
}

ul:not([class]) {
    /*list-style: none;*/
    padding-left: 2em;

    /* Colored bullet, but it does not wrap properly when displayed on two lines */
    /*& > li {
        &:before {
            content: "•";
            padding-right: 7px;
            color: var(--primary);
        }
    }*/
}

@media print {
    a:after {
        content: " (" attr(href) ")";
    }
}
