.chevron {
	position: relative;
	text-align: center;
	padding: 12px;
	margin-bottom: 6px;
	height: 60px;
	width: 200px;
	/*&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 51%;
		background: white;
		transform: skew(0deg, 25deg);
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 50%;
		background: white;
		transform: skew(0deg, -25deg);
	}​*/
}
