@import "../../styles/colors.css";

.Links {
    display: flex;
    justify-content: space-between;
}

.Link {
    display: block;
    color: var(--brand-primary) !important;
}

.Next {
    composes: Link;

    &:after {
        content: "\00a0›";
    }
}

.Previous {
    composes: Link;

    &:before {
        content: "‹\00a0";
    }
}

.Today {
    composes: Link;

    margin: 0.25em 0;
}
