.Summary {
    & dl {
        & dt {
            flex: 0 1 25% !important;
        }
        & dd {
            flex: 0 1 75% !important;
        }
    }
}

.DateCell {
    white-space: nowrap;
}

.Filters {
    display: flex;
}
.Filters > * {
    flex: 1;
}

.Filters label {
    padding-left: 1em;
}
