@import "../../styles/colors.css";

.Text {
    color: var(--gray);
}

.Muted {
    composes: Text;
}

.Loading {
    composes: Text;
}

.Error {
    color: var(--brand-secondary);
}

.Warning {
    color: #ec971f;
}

.Helper {
    cursor: help;
    border-bottom: 1px dotted var(--gray);
}
