@import '../../styles/colors.css';

.Muted {
    color: var(--gray);
}

.Loading {
    color: var(--gray);
}

.Error {
    color: var(--brand-secondary);
}

.Helper {
    cursor: help;
    border-bottom: 1px dotted var(--gray);
}

.Warning {
    color: #ec971f;
}

.Blink {
    animation: blinker 1s ease-in-out infinite;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
