.Layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.Map {
    flex: 60%;

    & > :global(.mapboxgl-map) {
        height: 100%;
    }
}

.Sidebar {
    flex: 40%;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: -4px 0 8px color(black alpha(25%));
    z-index: 1;
}

.Welcome {
    margin: 1em;

    & > header {
        display: flex;
        align-items: flex-start;

        & > *:first-child {
            flex: 1;
        }
    }
}

.Panel {
    & header {
        display: flex;
        align-items: center;
        margin: 0 1em;

        & > *:first-child {
            flex: 1;
        }
    }
}

.PanelContent {
    margin: 1em;
}

.Legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;

    & > *:before {
        content: '■';
        margin-right: 0.25em;
        font-size: 1.75em;
    }
}

.TerrainRatingSection {
    margin: 0 1em;
}
.ForecastRatingSection {
    margin: 0 1em;
}
.Location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
